<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
	<meta charset="UTF-8">
	<title>Layout Manager</title>
  	<script>
    /*이건 공통적용인데 spring security로 보낼때 모두 체크해야하므로 !! 넣어준다.*/
    var csrf_headerName = '[[${_csrf.headerName}]]'; 
	var csrf_token = '[[${_csrf.token}]]'; 
	/*이거 ajax쪽에 넣었다.*/
	</script>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	
	<script type="text/javascript" src="/src/ax5core/ax5core.min.js"></script>
	<script type="text/javascript" src="/src/ax5binder/ax5binder.min.js"></script>
	<link   href="/webjars/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" >
	<script src="/webjars/font-awesome/5.15.1/js/all.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/src/ax5mask/ax5mask.css" />
	<script type="text/javascript" src="/src/ax5mask/ax5mask.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="/src/ax5dialog/ax5dialog.css" />
	<script type="text/javascript" src="/src/ax5dialog/ax5dialog.min.js"></script>
	<script src="/src/js/util/ajax_mngr.js"></script>
	<script src="/src/js/util/Message.js"></script>
	</head>
<body>
   <div id="app">
	<form class name="binder-form" onsubmit="return false;" style="border: 1px solid #ccc;padding: 10px;border-radius: 10px;width:300px;margin:100px auto 0 auto">
	   <div class="form-group">
		   <label>아이디</label>
		   <input type="text" class="form-control" data-ax-path="userId">
	   </div>
	   <div class="form-group">
		   <label>PWD</label>
		   <input type="password" class="form-control" data-ax-path="userPwd">
	   </div>
	   <div class="checkbox">
		   <label>
			   <input type="checkbox" data-ax-path="autoLoginYn" value="Y">
			   자동로그인
		   </label>
		   <button class="btn btn-default" data-btn="login">로그인</button>
	   </div>
	   <div class="checkbox">
		   <a href="javascript:;" class="btn_social" data-social="facebook">페이스북 로그인</a><br/> 
		   <a href="javascript:;" class="btn_social" data-social="google">구글 로그인</a><br/> 
		   <a href="javascript:;" class="btn_social" data-social="kakao">카카오톡 로그인</a><br/> 
		   <a href="javascript:;" class="btn_social" data-social="naver">네이버 로그인</a><br/>
	   </div>
   </form>
</div>

<script type="text/javascript">
$(function () {
   var myModel = new ax5.ui.binder();
   myModel.setModel({
		userId      :  '[[${userId}]]', 
        userPwd     :  '[[${userPwd}]]', 
        autoLoginYn :  '[[${autoLoginYn}]]' 
   }, $(document["binder-form"]));
   
   $('[data-btn]').click(function () {
	   var act = this.getAttribute("data-btn");
	   switch (act) {
		   case "login":
			   var data = myModel.get();
			   console.log(data);
			   //var param =JSON.stringify(data);
				 var param = {
						 userId		: data.userId,
						 userPwd		: data.userPwd,
						 autoLoginYn	: data.autoLoginYn,
						 [[${_csrf.parameterName}]]:'[[${_csrf.token}]]'
				 };
				   $.ajax({
					   type: "post",
					   url: "/doLogin", /*이게 로그인 처리로 이동이 안되었다. */
					   contentType: "application/x-www-form-urlencoded; charset=UTF-8",
					   data: param,    
					   /*이거 동작한다.  -- https://hyunsangwon93.tistory.com/28*/
					   beforeSend : function(xhr) { 
						   xhr.setRequestHeader(csrf_headerName, csrf_token);
					   },
					   success: function(data) {
						   console.log(data);
						   if(data) {
							   if(data.code==="999"  /*실패*/)  {
								   Message.alert(data.message);
								   return;
							   } else {
									window.location.href="/";
							   }
						   }
					   },
					   error: function(e){
						   Message.alert("로그인에 실패하였습니다.");
					   }
				   });
			   break;
	   }
   });
});
</script>
<script>
let socials = document.getElementsByClassName("btn_social"); 
for(let social of socials) { 
   social.addEventListener('click', function(){ 
	   let socialType = this.getAttribute('data-social'); 
	   location.href="/oauth2/authorization/" + socialType; 
   }) 
}
//oauth2  rest 로그인 고고
//출처: https://engkimbs.tistory.com/849 [새로비]
</script>
	
</body>
</html>