
<script>
	$(document).ready(function(){
		var BINANCE_0215 = new PgmPageMngr('[[${uuid}]]');
		BINANCE_0215.init(function(p_param) {
			var _this = BINANCE_0215;
			var searchForm = new FormMngr(_this, "search_area");
			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: true
				  ,bodyHeight : 300
				  ,width : 700
				  }
			,[
                    {
					   header: 'STATUS',
					   name: 'STATUS',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 120,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'BASE_ASSET',
					   name: 'BASE_ASSET',
					   width: 120,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc',
					   filter : {
							type : 'text',
							showApplyBtn : true,
							showClearBtn : true
						} /*text, number, select, date 4가지가 있다.*/
					},{
					   header: 'QUOTE_ASSET',
					   name: 'QUOTE_ASSET',
					   width: 120,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'BASE_ASSET_PRECISION',
					   name: 'BASE_ASSET_PRECISION',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'BASE_COMMISSION_PRECISION',
					   name: 'BASE_COMMISSION_PRECISION',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ICEBERG_ALLOWED',
					   name: 'ICEBERG_ALLOWED',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'IS_MARGIN_TRADING_ALLOWED',
					   name: 'IS_MARGIN_TRADING_ALLOWED',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'IS_SPOT_TRADING_ALLOWED',
					   name: 'IS_SPOT_TRADING_ALLOWED',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'OCO_ALLOWED',
					   name: 'OCO_ALLOWED',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QUOTE_ORDER_QTY_MARKET_ALLOWED',
					   name: 'QUOTE_ORDER_QTY_MARKET_ALLOWED',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QUOTE_ASSET_PRECISION',
					   name: 'QUOTE_ASSET_PRECISION',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QUOTE_COMMISSION_PRECISION',
					   name: 'QUOTE_COMMISSION_PRECISION',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QUOTE_PRECISION',
					   name: 'QUOTE_PRECISION',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}, {
                        header : '생성일',
                        name : 'CRT_DTM',
                        width : 200,
                        resizable : false,
                        sortable : true,
                        align : "center",
                            filter : {
                                type : 'date',
                                format : 'yyyy-MM-DD'
                        }	
                    }
				]
			);
		  	grid.build();


            const grid_iceberg_parts = new TuiGridMngr(_this,'grid_iceberg_parts',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: true
				  ,bodyHeight : 200
				  ,width : 340
				  }
			,[
                    {
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'LIMIT',
					   name: 'LIMIT',
					   width: 40,
					   align : 'right',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}, {
                        header : '생성일',
                        name : 'CRT_DTM',
                        width : 140,
                        resizable : false,
                        sortable : true,
                        align : "center",
                            filter : {
                                type : 'date',
                                format : 'yyyy-MM-DD'
                        }	
                    }
				]
			);
            grid_iceberg_parts.build();

            const grid_market_lot_size = new TuiGridMngr(_this,'grid_market_lot_size',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: true
				  ,bodyHeight : 200
				  ,width : 500
				  }
			,[
                    {
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 80,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'MAX_QTY',
					   name: 'MAX_QTY',
					   width: 100,
					   align : 'right',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'MIN_QTY',
					   name: 'MIN_QTY',
					   width: 120,
					   align : 'right',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'STEP_SIZE',
					   name: 'STEP_SIZE',
					   width: 120,
					   align : 'right',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}, {
                        header : '생성일',
                        name : 'CRT_DTM',
                        width : 200,
                        resizable : false,
                        sortable : true,
                        align : "center",
                            filter : {
                                type : 'date',
                                format : 'yyyy-MM-DD'
                        }	
                    }
				]
			);
            grid_market_lot_size.build();

            const grid_max_num_algo_orders = new TuiGridMngr(_this,'grid_max_num_algo_orders',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: true
				  ,bodyHeight : 200
				  ,width : 340
				  }
			,[
                    {
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 80,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'MAX_NUM_ALGO_ORDERS',
					   name: 'MAX_NUM_ALGO_ORDERS',
					   width: 120,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}, {
                        header : '생성일',
                        name : 'CRT_DTM',
                        width : 120,
                        resizable : false,
                        sortable : true,
                        align : "center",
                            filter : {
                                type : 'date',
                                format : 'yyyy-MM-DD'
                        }	
                    }
				]
			);
            grid_max_num_algo_orders.build();

            const grid_max_num_orders = new TuiGridMngr(_this,'grid_max_num_orders',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: true
				  ,bodyHeight : 200
				  ,width : 400
				  }
			,[
                    {
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'MAX_NUM_ORDERS',
					   name: 'MAX_NUM_ORDERS',
					   width: 120,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}, {
                        header : '생성일',
                        name : 'CRT_DTM',
                        width : 200,
                        resizable : false,
                        sortable : true,
                        align : "center",
                            filter : {
                                type : 'date',
                                format : 'yyyy-MM-DD'
                        }	
                    }
				]
			);
            grid_max_num_orders.build();


            const grid_percent_price = new TuiGridMngr(_this,'grid_percent_price',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 200
				  ,width : 700
				  }
			,[
                    {
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'MULTIPLIER_UP',
					   name: 'MULTIPLIER_UP',
					   width: 120,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'MULTIPLIER_DOWN',
					   name: 'MULTIPLIER_DOWN',
					   width: 120,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'AVG_PRICE_MINS',
					   name: 'AVG_PRICE_MINS',
					   width: 120,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}, {
                        header : '생성일',
                        name : 'CRT_DTM',
                        width : 200,
                        resizable : false,
                        sortable : true,
                        align : "center",
                            filter : {
                                type : 'date',
                                format : 'yyyy-MM-DD'
                        }	
                    }
				]
			);
            grid_percent_price.build();

            const grid_price_filter = new TuiGridMngr(_this,'grid_price_filter',{
                editable: false
                ,showRowStatus: false
                ,rowNum: true
                ,checkbox: false
                ,pageable: true
                ,bodyHeight : 200
                ,width : 700
                }
            ,[
                {
                    header: 'SYMBOL',
                    name: 'SYMBOL',
                    width: 100,
                    align : 'left',
                    sortable : true,
                    resizable: true,
                    sortingType: 'desc'
                },{
                    header: 'MAX_PRICE',
                    name: 'MAX_PRICE',
                    width: 120,
                    align : 'left',
                    sortable : true,
                    resizable: true,
                    sortingType: 'desc'
                },{
                    header: 'MIN_PRICE',
                    name: 'MIN_PRICE',
                    width: 120,
                    align : 'left',
                    sortable : true,
                    resizable: true,
                    sortingType: 'desc'
                },{
                    header: 'TICK_SIZE',
                    name: 'TICK_SIZE',
                    width: 120,
                    align : 'left',
                    sortable : true,
                    resizable: true,
                    sortingType: 'desc'
                }, {
                    header : '생성일',
                    name : 'CRT_DTM',
                    width : 200,
                    resizable : false,
                    sortable : true,
                    align : "center",
                        filter : {
                            type : 'date',
                            format : 'yyyy-MM-DD'
                    }	
                }
            ]
            );
            grid_price_filter.build();

            const grid_order_types = new TuiGridMngr(_this,'grid_order_types',{
                editable: false
                ,showRowStatus: false
                ,rowNum: true
                ,checkbox: false
                ,pageable: false
                ,bodyHeight : 200
                ,width : 400
                }
            ,[
                {
                    header: 'SYMBOL',
                    name: 'SYMBOL',
                    width: 100,
                    align : 'left',
                    sortable : true,
                    resizable: true,
                    sortingType: 'desc'
                },{
                    header: 'ORDER_TYPE',
                    name: 'ORDER_TYPE',
                    width: 120,
                    align : 'left',
                    sortable : true,
                    resizable: true,
                    sortingType: 'desc'
                }, {
                    header : '생성일',
                    name : 'CRT_DTM',
                    width : 140,
                    resizable : false,
                    sortable : true,
                    align : "center",
                        filter : {
                            type : 'date',
                            format : 'yyyy-MM-DD'
                    }	
                }
            ]
            );
            grid_order_types.build();
	
			searchForm.addEvent("click","input[type=button]",function(el){
				switch(el.target.name){
                case 'search':
                    var data = searchForm.getData();
                    var param ={
                        brRq : 'IN_DATA'
                        ,brRs : 'OUT_RSET'
                        ,IN_DATA : [data]
                    }
                    grid.loadData('BR_BINANCE_MARKET_retrieveExchangeInfo',param,function(data){
                        console.log(data);
                    });

                    grid_iceberg_parts.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersIcebergParts',param,function(data){
                        console.log(data);
                    });

                    grid_market_lot_size.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersMarketLotSize',param,function(data){
                        console.log(data);
                    });

                    grid_max_num_algo_orders.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersMaxNumAlgoOrders',param,function(data){
                        console.log(data);
                    });

                    grid_max_num_orders.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersMaxNumOrders',param,function(data){
                        console.log(data);
                    });

                    grid_percent_price.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersPercentPrice',param,function(data){
                        console.log(data);
                    });

                    grid_price_filter.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersPriceFilter',param,function(data){
                        console.log(data);
                    });

                    grid_order_types.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoOrderTypes',param,function(data){
                        console.log(data);
                    });
				break;
            case 'sync':
                    Message.confirm('싱크하시겠습니까?', function() {
                        _this.showProgress();
                        var param = {
                            brRq : '',
                            brRs : ''
                        }
                        _this.send_api('BR_FX_syncBinanceExchangeInfo', param, function(data) {
                            _this.hideProgress();
                            Message.alert('싱크되었습니다.', function() {
                                searchForm.get("search").trigger("click");
                            });
                        });           
                    });                    
                    break;
				}
			});
			searchForm.get("search").trigger("click");
	});	
});

</script>