<div name="search_area">
<pre class="tal lh12">
<h3>Test Connectivity</h3>
GET /api/v3/ping
Test connectivity to the Rest API.
<b>Weight(IP):</b> 1
</pre>
<hr>
<pre class="tal lh12">
<h3>Check Server Time</h3>
GET /api/v3/time
Test connectivity to the Rest API and get the current server time.
<b>Weight(IP):</b> 1
</pre>
  <table>
  <tr>    
    <td><input type="button" name="btn_ping" value="핑" /></td>
    <td><input type="button" name="btn_chkServerTime" value="서버시간" /></td>
  </tr>
  </table>
</div>
