<div name="search_area">
<pre class="tal lh12">
<h3>Symbol Price Ticker</h3>
GET /api/v3/ticker/price
Latest price for a symbol or symbols.
<b>Weight(IP):</b> 
1 for a single symbol;
2 when the symbol parameter is omitted;
</pre>   
<hr>
<pre class="tal lh12">
If the symbol is not sent, prices for all symbols will be returned in an array.  
</pre>   
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">SYMBOL</span> 
          <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  />          
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
    <td><input type="button" name="sync" value="싱크" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>



