<div name="search_area">
<pre class="tal lh12">
<h3>Compressed/Aggregate Trades List</h3>
GET /api/v3/aggTrades
Get compressed, aggregate trades. Trades that fill at the time, from the same order, with the same price will have the quantity aggregated.
<b>Weight(IP):</b>  1
</pre>     
<hr>
<ul class="tal lh12">
  <li>If startTime and endTime are sent, time between startTime and endTime must be less than 1 hour.</li>
  <li>If fromId, startTime, and endTime are not sent, the most recent aggregate trades will be returned.</li>
</ul>
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">SYMBOL(필수)</span> 
          <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  />          
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">FROM_ID</span> 
          <input class="form-control" data-ax-path="FROM_ID"  name="FROM_ID" style="width:140px;"  />  (id to get aggregate trades from INCLUSIVE.)    
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">START_TIME</span> 
          <input class="form-control" data-ax-path="START_TIME"  name="START_TIME" style="width:140px;"  />(Timestamp in ms to get aggregate trades from INCLUSIVE.) 
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">END_TIME</span> 
          <input class="form-control" data-ax-path="END_TIME"  name="END_TIME" style="width:140px;"  /> (Timestamp in ms to get aggregate trades until INCLUSIVE.)
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">LIMIT</span> 
          <input class="form-control" data-ax-path="LIMIT"  name="LIMIT" style="width:140px;"  />  (Default 500; max 1000.)     
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>



