<div name="search_area">
<pre class="tal lh12">
<h3>Recent Trades List</h3>
GET /api/v3/trades
<b>Weight(IP):</b> 1
</pre>
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">SYMBOL(필수)</span> 
          <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  />          
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">LIMIT</span> 
          <input class="form-control" data-ax-path="LIMIT"  name="LIMIT" style="width:140px;"  />(Default 500; max 1000.)     
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>



