<div name="search_area">
<pre class="tal lh12">
<a href="https://binance-docs.github.io/apidocs/spot/en/#exchange-information" target="_blank"><h3>Exchange Information</h3></a>
GET /api/v3/exchangeInfo
Current exchange trading rules and symbol information
<b>Weight(IP):</b> 10
</pre>
<hr>
<pre class="tal lh12">
Parameters:

There are 3 possible options:

Options	Example
No parameter	curl -X GET "https://api.binance.com/api/v3/exchangeInfo"
symbol	curl -X GET "https://api.binance.com/api/v3/exchangeInfo?symbol=BNBBTC"
symbols	curl -X GET "https://api.binance.com/api/v3/exchangeInfo?symbols=%5B%22BNBBTC%22,%22BTCUSDT%22%5D" or curl -g GET 'https://api.binance.com/api/v3/exchangeInfo?symbols=["BTCUSDT","BNBBTC"]'
If any symbol provided in either symbol or symbols do not exist, the endpoint will throw an error.

Data Source: Memory
</pre>
  <table>
  <tr>    
    <td>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">SYMBOL(필수)</span> 
            <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  />          
          </div>
        </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
    <td><input type="button" name="sync" value="SYNC" /></td>
  </tr>
  </table>
</div>

<table>
<tr>
    <td>exchange info</td>
    <td>Iceberg Parts</td>
    <td>Min Notional</td>
</tr>
<tr>
    <td><div name="grid"></div></td>
    <td><div name="grid_iceberg_parts"></div></td>
    <td><div name="grid_min_notional"></div></td>
</tr>
</table>

<table>
<tr>
    <td>Max Num Orders</td>
    <td>Market Lot Size</td>
    <td>Percent Price</td>
</tr>
<tr>
    <td><div name="grid_max_num_orders"></div></td>
    <td><div name="grid_market_lot_size"></div></td>
    <td><div name="grid_percent_price"></div></td>    
</tr>
<tr>
    <td>order Types</td>
    <td>Market Num Algo Orders</td>
    <td>Price Filter</td>
</tr>
<tr>
    <td><div name="grid_order_types"></div></td>
    <td><div name="grid_max_num_algo_orders"></div></td>
    <td><div name="grid_price_filter"></div></td>    
</tr>
<tr>
    <td>Lot Size</td>
    <td>123</td>
    <td>123</td>
</tr>
<tr>
    <td><div name="grid_lot_size"></div></td>    
    <td>123</td>
    <td>123</td>
</tr>
</table>

