<script>
$(document).ready(function(){
	var AV_1250 = new PgmPageMngr('[[${uuid}]]');
	AV_1250.init(function(p_param) {
		var searchForm;
		var grid ;

		var _this = AV_1250;
		searchForm = new FormMngr(_this, "search_area");
		searchForm.initCombo("AGE",'BS_MIG_AV_ACTR_AGE_FIND', {brRq: '',brRs: 'OUT_DATA'},{ USE_EMPTY_YN : 'Y' , VALUE :'CD' , TEXT :'CD_NM' });

		grid = new TuiGridMngr(_this,'grid',{
		      editable: false
		      ,showRowStatus: false
		      ,rowNum: true
		      ,checkbox: false      
		      ,pageable : true
			  ,pageSize : 300
		  	}
		,[
			{
		           header: 'DVD_IDX',
		           name: 'DVD_IDX',
		           width: 60,
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
			}, {
					header: 'IMG_AS',
					name: 'IMG_AS',
					width : 60,		
					sortable : true,
				   resizable: true,			
					sortingType: 'desc'
			},{     
					header : 'IMG_NS',
					name : 'IMG_NS',
					width : 100,
					sortable : true,
				   resizable: true,
					sortingType : 'desc'
				}, {
		           header: 'AGE',
		           name: 'AGE',
		           width: 100,
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
		       }, {
		           header: 'MV_NM',
		           name: 'MV_NM',
		           width: 200,
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
		         },{
		           header: 'TTL_KR',
		           name: 'TTL_KR',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'			
		         },{  
					header: 'MAIN_ACTOR_IDX',
		           name: 'MAIN_ACTOR_IDX',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
				},{  
					header: 'MAIN_ACTOR_NM',
		           name: 'MAIN_ACTOR_NM',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'









				},{
		           header: 'DVD',
		           name: 'DVD_CNT',
		           width: 60,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'A_CMT',
		           name: 'ACTOR_CMT_CNT',
		           width: 80,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'M_CMT',
		           name: 'MV_CMT_CNT',
		           width: 80,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'LK',
		           name: 'ACTOR_LK_CNT',
		           width: 60,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'DSLK',
		           name: 'ACTOR_DSLK_CNT',
		           width: 60,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'








		         },{
				   header: 'ACTR_NM',
		           name: 'ACTR_NM',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'		       
		         }, {
					header: 'OPEN_DT',
		           name: 'OPEN_DT',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
				}, {
					header: 'CMP_NM',
		           name: 'CMP_NM',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
				}, {
					header: 'LBL',
		           name: 'LBL',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
				}, {
					header: 'SYNC',
		           name: 'SYNC',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
				},{
					header: 'BEST_YN',
		           name: 'BEST_YN',		
		           width: 150,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				}, {
					header: 'SERIES',
		           name: 'SERIES',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
				}, {
					header: 'DRCTR',
		           name: 'DRCTR',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
				}, {
					header: 'RN_TM',
		           name: 'RN_TM',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
				}, {
					header: 'STRY_KR',
		           name: 'STRY_KR',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
				}, {
					header: 'GEN_LST',
		           name: 'GEN_LST',				   
		           width: 100,
				   sortable : true,
				   resizable: true,
				   sortingType: 'desc'
		         }, {
		             header: '생성일',
		             name: 'CRT_DTM',
		             width: 140,
					 sortable : true,
				   resizable: true,
					 sortingType: 'desc' 
		        }
		    ]
		);
	  	grid.build();

		  
		grid.on('click', (ev) => {
			if (ev.rowKey >=0) {
				var row_data=grid.getRow(ev.rowKey);
				console.log(row_data);

				var param = {
					DVD_IDX: row_data.DVD_IDX,
					ACTOR_IDX: row_data.MAIN_ACTOR_IDX,
				}
				var popup = new PopupManger(_this, 'AV_1251', {
						width: 1000,
						height: 800,
						title: "(MIG)DVD 상세"
					},
					param
				);
				popup.open(function (data) {
					if (data) {

					}
				});
				
			}
		});

	  	searchForm.addEvent("click","input[type=button]",function(el){
		   //console.log(el);
	  	   switch(el.target.name){
           case 'search':
			   var data = searchForm.getData();
        		var param ={
					 brRq : 'IN_DATA'
					,brRs : 'OUT_DATA'
					,IN_DATA:[ data ]
				}
		    	grid.loadData('BR_MIG_AV_MV_FIND',param,function(data){
			    	console.log(data);
			    	//gridLoadData에서 자동으로 로드됨..
		        	
		    	});
               break;
          	}
	  	});
	  	searchForm.get("search").trigger("click");
	});	
});

</script>