<div name="search_area">
  <table>
  <tr>
      <td>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">데뷔년월</span> 
            <select class="form-control" data-ax-path="DEBUT_YYMM"  name="DEBUT_YYMM" style="width:140px;">
            </select>
          </div>
        </div>
      </td>
      <td>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">나이</span> 
              <select class="form-control" data-ax-path="AGE"  name="AGE" style="width:140px;">
              </select>
            </div>
          </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">검색</span> 
            <input type="text" class="form-control" data-ax-path="SEARCH_NM"  name="SEARCH_NM" style="width:140px;" />
          </div>
        </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
    <td><input type="button" name="SYNC_ACTOR_YYMM_LIST_UPDATE" value="데뷔월SYNC" /></td>
    <td><input type="button" name="SYNC_ACTOR_ALL_LIST_UPDATE" value="데뷔월SYNC(AUTO-전체)" /></td>
    <td><input type="button" name="SYNC_ACTOR" value="배우 SYNC" /></td>
    <td><input type="button" name="SYNC_M_CMT" value="M_CMT SYNC" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
