
<script>
$(document).ready(function(){
	var AV_1150 = new PgmPageMngr('[[${uuid}]]');
	AV_1150.init(function(p_param) {
		var _this = AV_1150;
		var searchForm = new FormMngr(_this, "search_area");
		searchForm.initCombo("AGE",'BS_MIG_AV_ACTR_AGE_FIND', {brRq: '',brRs: 'OUT_DATA'},{ USE_EMPTY_YN : 'Y' , VALUE :'CD' , TEXT :'CD_NM' });
		searchForm.initCombo("DEBUT_YYMM",'BS_MIG_AV_ACTR_DEBUT_YYMM', {brRq: '',brRs: 'OUT_DATA'},{ USE_EMPTY_YN : 'Y' , VALUE :'CD' , TEXT :'CD_NM' });
		
		const grid = new TuiGridMngr(_this,'grid',{
		      editable: false
		      ,showRowStatus: false
		      ,rowNum: true
		      ,checkbox: true
			  ,pageable: true
			   /*,useClientSort: false   서버정렬 이걸로 안됨.  tui_grid_mngr에서  이벤트에서 beforeSort를 사용해서 서버쪽 호출을 하도록 하자*/
		  	}
		,[
				{
		           header: 'SYNC',
		           name: 'SYNC',
		           width: 80,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
					}
				},{
		           header: 'IDX',
		           name: 'ACTOR_IDX',
		           width: 100,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   resizable: true,
				   sortable : true,
		           sortingType: 'desc'
				},{
		           header: 'DVD',
		           name: 'DVD_CNT',
		           width: 60,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'D_SY',
		           name: 'DVD_SYNC_CNT',
		           width: 60,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'BEST',
		           name: 'BEST_DVD_CNT',
		           width: 60,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'A_CMT',
		           name: 'ACTOR_CMT_CNT',
		           width: 80,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'M_CMT',
		           name: 'MV_CMT_CNT',
		           width: 80,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'LK',
		           name: 'ACTOR_LK_CNT',
		           width: 60,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'DSLK',
		           name: 'ACTOR_DSLK_CNT',
		           width: 60,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
		         },{
		           header: 'D_DT',
		           name: 'DEBUT_DT',
		           width: 100,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'L_DT',
		           name: 'LAST_DT',
		           width: 100,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'AGE',
		           name: 'AGE',
		           width: 80,
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
		         },{
		           header: 'NAME_KR',
		           name: 'NAME_KR',
		           width: 140,
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'O_NM',
		           name: 'O_NM',
		           width: 140,
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
		         },{
		           header: 'NAME_EN',
		           name: 'NAME_EN',
		           width: 140,
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
		         },{
		           header: 'NAME_CN',
		           name: 'NAME_CN',
		           width: 140,
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
		         },{
					header : 'BIRTH',
					name : 'BIRTH',
					width : 120,
					filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'HEIGHT',
		           name: 'HEIGHT',
		           width: 120,
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'SIZE',
		           name: 'SIZE',
		           width: 140,
				   align : 'center',
		           filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'BRA_SIZE',
		           name: 'BRA_SIZE',
		           width: 100,
		           filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'DSCR_TTL',
		           name: 'DSCR_TTL',
		           width: 100,
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: 'DSCR',
		           name: 'DSCR',
		           width: 100,
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
			       header: 'IMG',
			       name: 'IMG',
				   resizable: true,
			       width: 100
		         },{					 
		           header: 'IMG_S',
		           name: 'IMG_S',
				   resizable: true,
		           width: 100
				 },{
		             header: '생성일',
		             name: 'CRT_DTM',
		             width: 140,
		             sortable: true,
		             align: "center"
		         }
		    ]
		);
	  	grid.build();

		grid.on('click', (ev) => {
			if (ev.rowKey >=0) {
				if(ev.columnName=="ACTOR_IDX"){
					var row_data=grid.getRow(ev.rowKey);
				console.log(row_data);

				var param = {
					ACTOR_IDX: row_data.ACTOR_IDX
				}
				var popup = new PopupManger(_this, 'AV_1160', {
						width: 1200,
						height: 700,
						title: "(MIG)배우상세["+row_data.ACTOR_IDX+"]"
					},
					param
				);
				popup.open(function (data) {
					if (data) {

					}
				});
				}
				
				
			}
		});

	  	searchForm.addEvent("click","input[type=button]",function(el){
		   //console.log(el);
	  	   switch(el.target.name){
           case 'search':
			   var data = searchForm.getData();
        		var param ={
					 brRq : 'IN_DATA'
					,brRs : 'OUT_DATA'
					,IN_DATA:[ data ]
				}
		    	grid.loadData('BR_MIG_AV_ACTR_FIND',param,function(data){
			    	console.log(data);
			    	//gridLoadData에서 자동으로 로드됨..
		        	
		    	});
               break;
			   case 'SYNC_ACTOR_YYMM_LIST_UPDATE':
					var data = searchForm.getData();

					if(PjtUtil.isEmpty(data.DEBUT_YYMM)){
						Message.alert("데뷔월을 선택해주세요1.");
		        		return;
					}

					if(data.DEBUT_YYMM.length!=6){
						Message.alert("YYYY년MM월 형식의 데뷔월을 선택해주세요2.");
		        		return;
					}

					var param ={
						brRq : 'IN_DATA'
						,brRs : 'OUT_DATA'
						,IN_DATA:[ data ]
					}
					_this.showProgress();
					_this.send_socket('BR_MIG_AV_ACTOR_YYMM_LIST_UPDATE', param, function(data) {
						_this.hideProgress();
						if (data) {
							searchForm.get("search").trigger("click");
						}
					});	
		       break;
			   case 'SYNC_ACTOR_ALL_LIST_UPDATE':
					var param ={
						brRq : ''
						,brRs : 'OUT_DATA'
					}
					_this.showProgress();
					_this.send_socket('BR_MIG_AV_ACTOR_ALL_LIST_UPDATE', param, function(data) {
						_this.hideProgress();
						if (data) {
							searchForm.get("search").trigger("click");
						}
					});	
		       break;
			   case 'SYNC_ACTOR':
					var data = grid.getCheckedData();
					console.log(data);
					if(data.length<=0) {
						Message.alert('선택된 항목이 없습니다.');
						return;
					}
					var tmp =[];
					for(var i=0;i<data.length;i++){
						var tmp2=data[i];
						tmp.push(
							{
								ACTOR_IDX : tmp2["ACTOR_IDX"]
							}
						)
					}
			   		var param2 = {
						brRq: 'IN_DATA',
						brRs: 'OUT_DATA',
						/*
						IN_DATA: [{
							ACTOR_IDX : p_param.param.ACTOR_IDX
						}]
						*/
						IN_DATA: tmp
					}
			   		_this.showProgress();
					_this.send_socket('BS_MIG_AV_ACTR_BY_ACTOR_IDX', param2, function(data) {
						_this.hideProgress();
						if (data) {
							searchForm.get("search").trigger("click");
						}
					});	
		       break;
			   case 'SYNC_M_CMT':
					var data = grid.getCheckedData();
					console.log(data);
					if(data.length<=0) {
						Message.alert('선택된 항목이 없습니다.');
						return;
					}
					var tmp =[];
					for(var i=0;i<data.length;i++){
						var tmp2=data[i];
						tmp.push(
							{
								ACTOR_IDX : tmp2["ACTOR_IDX"]
								,SYNC_YN : "N"
							}
						)
					}
			   		var param2 = {
						brRq: 'IN_DATA',
						brRs: 'OUT_DATA',
						IN_DATA: tmp
					}
			   		_this.showProgress();
					_this.send_socket('BS_MIG_AV_MV_CMT_SYNC_ACTOR_IDX', param2, function(data) {
						_this.hideProgress();
						if (data) {
							searchForm.get("search").trigger("click");
						}
					});	
		       break;

			   
			   
        	}
	  	});
	  	searchForm.get("search").trigger("click");
	});	
});

</script>