<div name="withdraw_area" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
  <div class="container">
    <div class="row row-cols-4">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">COIN</span> <input type="text"
              class="form-control"  data-ax-path="COIN"  name="COIN">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">WITHDRAW_ORDER_ID</span> <input type="text"
            class="form-control"  data-ax-path="WITHDRAW_ORDER_ID"  name="WITHDRAW_ORDER_ID">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">NETWORK</span> <input type="text"
            class="form-control"  data-ax-path="NETWORK"  name="NETWORK">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ADDRESS</span> <input type="text"
            class="form-control"  data-ax-path="ADDRESS"  name="ADDRESS">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ADDRESS_TAG</span> <input type="text"
              class="form-control"  data-ax-path="ADDRESS_TAG" name="ADDRESS_TAG">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">AMOUNT</span> <input type="text"
              class="form-control"  data-ax-path="AMOUNT" name="AMOUNT">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">TRANSACTION_FEE_FLAG</span> <input type="text"
              class="form-control"  data-ax-path="TRANSACTION_FEE_FLAG" name="TRANSACTION_FEE_FLAG">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">NAME</span> <input type="text"
              class="form-control"  data-ax-path="NAME" name="NAME">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 10px;">
    <input type="button" name="withdraw" value="출금" />
  </div>
</div>