<div name="search_area">
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ASSET</span> 
          <select class="form-control" data-ax-path="ASSET"  name="ASSET" style="width:140px;"></select>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">NEED_BTC_VALUATION</span> 
          <input type="text" class="form-control" data-ax-path="NEED_BTC_VALUATION"  name="NEED_BTC_VALUATION" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="transfer" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>