<div name="search_area">
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">TYPE</span> 
          <select class="form-control" data-ax-path="TYPE"  name="TYPE" style="width:140px;"></select>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ASSET</span> 
          <input type="text" class="form-control" data-ax-path="ASSET"  name="ASSET" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">AMOUNT</span> 
          <input type="text" class="form-control" data-ax-path="AMOUNT"  name="AMOUNT" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">FROM_SYMBOL</span> 
          <input type="text" class="form-control" data-ax-path="FROM_SYMBOL"  name="FROM_SYMBOL" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">TO_SYMBOL</span> 
          <input type="text" class="form-control" data-ax-path="TO_SYMBOL"  name="TO_SYMBOL" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="transfer" value="전송" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>