
<script>
	$(document).ready(function(){
		var BINANCE_0220 = new PgmPageMngr('[[${uuid}]]');
		BINANCE_0220.init(function(p_param) {
			var _this = BINANCE_0220;
			var searchForm = new FormMngr(_this, "search_area");
			const grid_bid = new TuiGridMngr(_this,'grid_bid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  /*
				  ,bodyHeight : 700
				  ,width : 700
				  */
				   /*,useClientSort: false   서버정렬 이걸로 안됨.  tui_grid_mngr에서  이벤트에서 beforeSort를 사용해서 서버쪽 호출을 하도록 하자*/
				  }
			,[
					{
					   header: 'PRICE',
					   name: 'PRICE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc',
					   filter : {
							type : 'text',
							showApplyBtn : true,
							showClearBtn : true
						} /*text, number, select, date 4가지가 있다.*/
					}
				]
			);
		  	grid_ask.build();

			const gridgrid_ask_bid = new TuiGridMngr(_this,'grid_ask',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  /*
				  ,bodyHeight : 700
				  ,width : 700
				  */
				   /*,useClientSort: false   서버정렬 이걸로 안됨.  tui_grid_mngr에서  이벤트에서 beforeSort를 사용해서 서버쪽 호출을 하도록 하자*/
				  }
			,[
					{
					   header: 'PRICE',
					   name: 'PRICE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc',
					   filter : {
							type : 'text',
							showApplyBtn : true,
							showClearBtn : true
						} /*text, number, select, date 4가지가 있다.*/
					}
				]
			);
		  	grid_ask.build();
		
			searchForm.addEvent("click","input[type=button]",function(el){
			//console.log(el);
				switch(el.target.name){
			case 'search':
				var data = searchForm.getData();
				var param ={
					 brRq : 'IN_DATA'
					,brRs : 'OUT_RSET'
				}
				_this.showProgress();
				_this.send('BR_BINANCE_MARKET_GET_API_V3_OrderBook', param, function(data) {
					if (data) {
									
						console.log(data);
								
						grid_bid.resetData(data.OUT_RSET_BID);
						grid_ask.resetData(data.OUT_RSET_ASK);
						_this.hideProgress();

					}
				});
				
				break;
				}
			});
			searchForm.get("search").trigger("click");
	});	
});

</script>