<div name="search_area">
    <table>
    <tr>
        <td>
            <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon">Job Name</span> 
                <input type="text" class="form-control" data-ax-path="JOB_NAME"  name="JOB_NAME" style="width:140px;" />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon">Job설명</span> 
                <input type="text" class="form-control" data-ax-path="DESCRIPTION"  name="DESCRIPTION" style="width:140px;" />
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon">개발자</span> 
                <input type="text" class="form-control" data-ax-path="DEVELOPER_NAME"  name="DEVELOPER_NAME" style="width:140px;" />
                </div>
            </div>
        </td>
        <td><input type="button" name="search" value="조회" /></td>
        <td><input type="button" name="add_row" value="추가" /></td>
        <td><input type="button" name="save" value="저장" /></td>
        <td><input type="button" name="del" value="삭제" /></td>
    </tr>
    </table>
    <div name="grid"></div>
</div>

