<script>
$(document).ready(function(){
	var CM_1860 = new PgmPageMngr('[[${uuid}]]');
		CM_1860.init(function(p_param) {
			var _this = CM_1860;
			var searchForm = new FormMngr(_this, "search_area");

			const grid = new TuiGridMngr(_this, 'grid', {
				editable : true,
				showRowStatus : true,
				rowNum : true,
				checkbox : true,
				bodyHeight : 700 /*그리드 높이지정 */
				,
				showDummyRows : false
			},
			[ 
				
			{
				header : 'ID',
				name : 'ID',
				width : 140,
				resizable : false,
				sortable : true
            },{
				header : 'AUTHOR',
				name : 'AUTHOR',
				width : 140,
				resizable : false,
				sortable : true,
				sortingType : 'desc', /*내림차순   ctrl 키를 누르고 정렬키를 여러개 누르면 이어서 정렬이 된다.*/
				filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				}
			},{
				header : 'FILE_NAME',
				name : 'FILE_NAME',
				width : 200,
				resizable : false,
				sortable : true,
				sortingType : 'desc', /*내림차순   ctrl 키를 누르고 정렬키를 여러개 누르면 이어서 정렬이 된다.*/
				filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				}
			},
			{
				header : 'DATE_EXECUTED',
				name : 'DATE_EXECUTED',
				width : 200,
				sortable : true,
				align : "center",
				sortingType : 'desc', /*내림차순   ctrl 키를 누르고 정렬키를 여러개 누르면 이어서 정렬이 된다.*/
				filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				}
			},

			{
				header : 'ORDER_EXECUTED',
				name : 'ORDER_EXECUTED',
				width : 100,
				sortable : true,
				align : "center",
				sortingType : 'desc', /*내림차순   ctrl 키를 누르고 정렬키를 여러개 누르면 이어서 정렬이 된다.*/
				filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				}				
			}, {
				header : 'EXEC_TYPE',
				name : 'EXEC_TYPE',
				width : 100,
				sortable : true,
				align : "center"
			}, {
				header : 'DESCRIPTION',
				name : 'DESCRIPTION',
				width : 400,
				resizable : false,
				sortable : true,
				sortingType : 'desc', /*내림차순   ctrl 키를 누르고 정렬키를 여러개 누르면 이어서 정렬이 된다.*/
				filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				}				
			}]
			);
			grid.build();

			searchForm.addEvent("click","input[type=button]", function(el) {
				switch (el.target.name) {
				case 'search':
					var param = {
						brRq : 'IN_DATA',
						brRs : 'OUT_DATA',
						IN_DATA : [ {} ]
					}
					grid.loadData('BR_CM_DB_MGR_retrieve', param, function(data) {
						console.log(data);
						//gridLoadData에서 자동으로 로드됨..
					
					});
					break;
				case "del":				
					Message.confirm('삭제하시겠습니까?', function() {
						var param = {
							brRq : '',
							brRs : '',
						}
						_this.send_api('BR_CM_DB_MGR_delete', param, function(data) {
							Message.alert('삭제되었습니다.', function() {
								searchForm.get("search").trigger("click");
							});
						});
					});
					break;


                case "rollback":	
                    var data = grid.getCheckedData();
                    console.log(data);
                    if(data.length!=1) {
                        Message.alert('한개의 행만 선택되어야한다.');
                        return;
                    }		
					Message.confirm('['+data[0].ORDER_EXECUTED+']'+data[0].DATE_EXECUTED+'시간대에 모든 항목을 rollback하시겠습니까?', function() {
						var param = {
							date_executed : data[0].DATE_EXECUTED
						}
						_this.send('/liquibase_rest/rollback', param, function(data) {
                            console.log(data);
							Message.alert('['+data[0].ORDER_EXECUTED+']'+data[0].DATE_EXECUTED+'시간대에 모든 항목이 rollback되었습니다.', function() {
								searchForm.get("search").trigger("click");
							});
						});
					});
					break;

                    
                case "update":				
					Message.confirm('변경반영하시겠습니까?', function() {
						var param = {
							brRq : '',
							brRs : '',
						}
						_this.send('/liquibase_rest/update', param, function(data) {
                            console.log(data);
							Message.alert('변경반영되었습니다.', function() {
								searchForm.get("search").trigger("click");
							});
						});
					});
					break;

                case "changeLogSync":				
					Message.confirm('log데이터반영하시겠습니까?', function() {
						var param = {
							brRq : '',
							brRs : '',
						}
						_this.send('/liquibase_rest/changeLogSync', param, function(data) {
                            console.log(data);
							Message.alert('log데이터반영되었습니다.', function() {
								searchForm.get("search").trigger("click");
							});
						});
					});
					break;
                case "generateChangeLog":				
					Message.confirm('xml파일을 초기화하시겠습니까?', function() {
						var param = {
							brRq : '',
							brRs : '',
						}
						_this.send('/liquibase_rest/generateChangeLog', param, function(data) {
                            console.log(data);
							Message.alert('xml파일이 초기화하되었습니다.', function() {
								searchForm.get("search").trigger("click");
							});
						});
					});
					break;
				}
			});
			searchForm.get("search").trigger("click");
		});
	});
</script>