<div name="cm_grp_cd_search_area">
  <table>
    <tr>
      <td>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">GRP_CD</span> 
            <input type="text" class="form-control" data-ax-path="GRP_CD"  name="GRP_CD" style="width:140px;" />
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">GRP_NM</span> 
            <input type="text" class="form-control" data-ax-path="GRP_NM"  name="GRP_NM" style="width:140px;" />
          </div>
        </div>
      </td>
      <td><input type="button" name="cm_grp_cd_search" value="조회" /></td>
      <td><input type="button" name="cm_grp_cd_add_row" value="추가" /></td>
      <td><input type="button" name="cm_grp_cd_save" value="저장" /></td>
      <td><input type="button" name="cm_grp_cd_del" value="삭제" /></td>
    </tr>
  </table>
</div>

<div name="grid_cm_grp_cd"></div>

<hr />
<div name="cm_cd_search_area">
  <table>
    <tr>
      <td><input type="button" name="cm_cd_search" value="조회" /></td>
      <td><input type="button" name="cm_cd_add_row" value="추가" /></td>
      
      <td><input type="button" name="cm_cd_save" value="저장" /></td>
<td><input type="button" name="cm_cd_del" value="삭제" /></td>
    </tr>
  </table>
</div>

<div name="grid_cm_cd"></div>