<script>
$(document).ready(function(){
	var CM_1800 = new PgmPageMngr('[[${uuid}]]');
	CM_1800.init(function(p_param) {
		var _this = CM_1800;
		var api_uuid = p_param.param.API_UUID;
		var seq = p_param.param.SEQ;
		var debugForm = new FormMngr(_this, "debug_area");

		 		

		var param = {
			brRq: 'IN_PSET',
			brRs: 'OUT_REST',
			IN_PSET: [{
				BIZACTOR_ID : api_uuid
			}]
		}
		 
		_this.showProgress();
		_this.send_socket('BR_CM_API_LOG_GetApiLog', param, function(data) {
			console.log(data);
			_this.hideProgress();
			if (data) {
				debugForm.setDataAll(data.OUT_REST[0]);		
				debugForm.setData("SEQ",seq);		
				debugForm.setData("BIZACTOR_ID",api_uuid);	
			}
		});	
	
	});	
});

</script>