<div name="debug_area"> 
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
    <div class="row row-cols-2">
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">SEQ</span> <input type="text"
            disabled class="form-control"  data-ax-path="SEQ" name="SEQ">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">_ID</span> <input type="text"
            disabled class="form-control" data-ax-path="API_UUID" name="API_UUID">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ACT_ID</span> <input type="text"
            disabled  class="form-control"  data-ax-path="ACT_ID" name="ACT_ID">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">IN_DT_NAME</span> <input type="text"
            disabled  class="form-control"  data-ax-path="IN_DT_NAME" name="IN_DT_NAME">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">OUT_DT_NAME</span> <input type="text"
            disabled  class="form-control"  data-ax-path="OUT_DT_NAME" name="OUT_DT_NAME">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">CREATE_DTM</span> <input type="text"
            disabled  class="form-control"  data-ax-path="CREATE_DTM" name="CREATE_DTM">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">TIME_GAP</span> <input type="text"
            disabled  class="form-control"  data-ax-path="TIME_GAP" name="TIME_GAP">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">ERR</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="ERR"  name="ERR">
          </div>
        </div>
      </div> 
    </div>
    <div class="row row-cols-1">
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">IN_DS</span> <textarea type="text" style="height:300px"
            disabled class="form-control" data-ax-path="IN_DS"  name="IN_DS"></textarea>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">OUT_DS</span> <textarea type="text" style="height:300px"
            disabled class="form-control" data-ax-path="OUT_DS"  name="OUT_DS"></textarea>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">IN_JSON_STR</span> 
            <textarea type="text" style="height:100px"
            disabled class="form-control" data-ax-path="IN_JSON_STR"  name="IN_JSON_STR"></textarea>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">OUT_JSON_STR</span> 
            <textarea type="text" style="height:100px"
            disabled class="form-control" data-ax-path="OUT_JSON_STR"  name="OUT_JSON_STR"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>