<div name="batch_area"
	style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">


    <table class="table">
    <tbody>
    <tr>
        <th width="180" class="table-dark tar">Job SEQ</th>
        <td><span data-ax-path="JOB_SEQ"  name="JOB_SEQ"></span></td>
    </tr>
    <tr>
        <th class="table-dark tar">JOB_INSTANCE_ID</th>
        <td><span data-ax-path="JOB_INSTANCE_ID"  name="JOB_INSTANCE_ID"></span></td>
    </tr>
    <tr>
        <th class="table-dark tar">Job이름</th>
        <td><span data-ax-path="JOB_NM"  name="JOB_NM"></span></td>
    </tr>
    <tr>
        <th class="table-dark tar">JOB설명</th>
        <td><span data-ax-path="DESCRIPTION"  name="DESCRIPTION"></span></td>
    </tr>
    <tr>
        <th class="table-dark tar">BR명</th>
        <td><span data-ax-path="BR_NM"  name="BR_NM"></span></td>
    </tr>
    <tr>
        <th class="table-dark tar">Job 실행주기</th>
        <td><span data-ax-path="JOB_EXEC_TIME"  name="JOB_EXEC_TIME"></span></td>
    </tr>
    <tr>
        <th class="table-dark tar">개발자</th>
        <td><span data-ax-path="DEVELOPER_NM"  name="DEVELOPER_NM"></span></td>
    </tr>    
    </tbody>
    </table>

	<div style="padding: 10px;">
        <input type="button" name="run" value="실행" />
	</div>

    <table class="table">
    <tbody>
    <tr>
        <th width="180" class="table-dark tar">JOB_EXECUTION_ID</th>
        <td><span data-ax-path="JOB_EXECUTION_ID"  name="JOB_EXECUTION_ID"></span></td>
    </tr>
    <tr>
    <th class="table-dark tar">Job 시작시간</th>
    <td><span data-ax-path="START_TIME"  name="START_TIME"></span></td>
    </tr>
    <tr>
        <th class="table-dark tar">Job 종료시간</th>
        <td><span data-ax-path="END_TIME"  name="END_TIME"></span></td>
    </tr>
    <tr>
        <th class="table-dark tar">수행시간</th>
        <td><span data-ax-path="DELAY_TIMESTAMP"  name="DELAY_TIMESTAMP"></span></td>
    </tr>
    <tr>
    <th class="table-dark tar">Job 상태</th>
    <td><span data-ax-path="STATUS"  name="STATUS"></span></td>
    </tr>
    <tr>
    <th class="table-dark tar">종료 Code</th>
    <td><span data-ax-path="EXIT_CODE"  name="EXIT_CODE"></span></td>
    </tr>
    <tr>
    <th class="table-dark tar">종료 메시지</th>
    <td><span data-ax-path="EXIT_MESSAGE"  name="EXIT_MESSAGE"></span></td>
    </tr>
    </tbody>
    </table>
</div>


<div name="grid"></div>
