<div name="search_area">
	<table>
		<tr>
            <td><input type="button" name="sql_getOutColumns" value="getOutColumns" /></td>
            <td><input type="button" name="sql_runSelect" value="SELECT실행" /></td>
            <td><input type="button" name="sql_runSQL" value="INSERT,UPDATE,DELETE실행" /></td>
            <td><input type="button" name="sql_prettySQL" value="SQL정렬" /></td>
		</tr>
	</table>
    <textarea class="form-control" rows='40' data-ax-path="INPUT"  name="INPUT" style="width:700px"></textarea>
</div>
<div name="out_div" style="display: none;text-align: left;">
</div>