<script>
$(document).ready(function(){
	var CM_1850 = new PgmPageMngr('[[${uuid}]]');
		CM_1850.init(function(p_param) {
			var _this = CM_1850;
			var searchForm = new FormMngr(_this, "search_area");
            searchForm.initCombo("TABLE_NAME",'BR_CM_DB_POSTGRESQL_retrieveTableList', {brRq: '',brRs: 'OUT_RSET'},{ USE_EMPTY_YN : 'Y' , VALUE :'TABLE_NAME' , TEXT :'COMBO_TEXT' });

			const grid = new TuiGridMngr(_this, 'grid', {
				editable : true,
				showRowStatus : true,
				rowNum : true,
				checkbox : true,
				bodyHeight : 700 /*그리드 높이지정 */,
				showDummyRows : false
			},
			[ 
				
			{
				header : 'RNK',
				name : 'RNK',
				width : 40,
				resizable : false,
				sortable : true
			},{
				header : 'TABLE_NAME',
				name : 'TABLE_NAME',
				width : 300,
				resizable : false,
				sortable : true
			},{
				header : 'TABLE_COMMENT',
				name : 'TABLE_COMMENT',
				width : 200,
				resizable : false,
				sortable : true
			},{
				header : 'COLUMN_NAME',
				name : 'COLUMN_NAME',
				width : 300,
				resizable : false,
				sortable : true
            },{
				header : 'DATA_TYPE',
				name : 'DATA_TYPE',
				width : 200,
				resizable : false,
				sortable : true
			},{
				header : 'C_SIZE',
				name : 'CHARACTER_MAXIMUM_LENGTH',
				width : 100,
				resizable : false,
				sortable : true
            },{
				header : 'NULL',
				name : 'IS_NULLABLE',
				width : 40,
				resizable : false,
				sortable : true
            },{
				header : 'COLUMN_COMMENT',
				name : 'COLUMN_COMMENT',
				width : 200,
				resizable : false,
				sortable : true,
				editor : 'text'
			},{
				header : 'ORD',
				name : 'ORDINAL_POSITION',
				width : 40,
				resizable : false,
				sortable : true
			}
        ]
			);
			grid.build();

			searchForm.addEvent("click","input[type=button]", function(el) {
				switch (el.target.name) {
				case 'search':
                var data = searchForm.getData();
					var param = {
						brRq : 'IN_PSET',
						brRs : 'OUT_RSET',
						IN_PSET :[data]
					}
					grid.loadData('BR_CM_DB_POSTGRESQL_retrieveColumnList', param, function(data) {
						console.log(data);
						//gridLoadData에서 자동으로 로드됨..
					
					});
					break;
				case 'save':
					var data = grid.getModifiedRows();
					var updt_cnt = data.updatedRows.length;

					if ((updt_cnt) == 0) {
						Message.alert("저장할 내용이 존재하지 않습니다.");
						return;
					}
					if (grid.isValid() == false) {
						grid.validMsg();
						return;
					}
                    

					Message.confirm('컬럼코멘트를 저장하시겠습니까?', function() {
						var param = {
							brRq : 'UPDT_DATA',
							brRs : '',
							UPDT_DATA : data.updatedRows
						}
						_this.send_api('BR_CM_DB_POSTGRESQL_saveColumnCmt', param, function(data) {
							if(data){
								Message.alert('컬럼코멘트를 저장하였습니다.', function() {
									searchForm.get("search").trigger("click");
								});
							}
						});
					});
					break;
                case 'sql_select':
                    var data = grid.getCheckedData();
                    console.log(data)
                    if(data.length<=0) {
                        Message.alert('선택된 항목이 없습니다.');
                        return;
                    }
                    var table_name = data[0].TABLE_NAME;
                    var sql_select ='SELECT ';
                    for(var i=0;i<data.length;i++){
                        if(i==0){
                            sql_select = sql_select+'A.'+data[i].COLUMN_NAME;
                        } else {
                            sql_select = sql_select+',A.'+data[i].COLUMN_NAME;
                        }                        
                    }
                    sql_select = sql_select+' FROM '+table_name+' A';

                    var inline_popup = new InlinePopupManger(_this, 'sql_div', {
                        width: 800,
                        height: 300,
                        title: "SQL"
                    });
                    var tmp = sqlFormatter.format(sql_select, {
                    language: 'sql', // Defaults to "sql"
                    indent: '    ', // Defaults to two spaces,
                    uppercase: false, // Defaults to false
                    linesBetweenQueries: 2 // Defaults to 1
                    });
                    console.log(tmp);
                    var el =_this.get("sql_div");
                    var tmp_el = `<pre class="sql"  name="SQL"></pre>`;
                    el.empty();
                    el.append(tmp_el);
                    var el_sql =_this.get("SQL");
                    el_sql.text(tmp);
                    /*sql_div 자식들을 모두 비우고--비워야하는 이유는여러번 클릭시 찌거기가 남음 */
                    /*    <pre class="sql"  name="SQL"></pre>   를 추가하고*/
                    dp.SyntaxHighlighter.HighlightAll('SQL');  /*이걸실생한다.*/


                    inline_popup.open(function(data){

                        if(data){
                            console.log(data);
                        }
                    });

                    break;

                case 'sql_insert':
                var data = grid.getCheckedData();
                    console.log(data)
                    if(data.length<=0) {
                        Message.alert('선택된 항목이 없습니다.');
                        return;
                    }
                    var table_name = data[0].TABLE_NAME;
                    var sql_insert ='INSERT INTO '+table_name +' (';
                    for(var i=0;i<data.length;i++){
                        if(i==0){
                            sql_insert = sql_insert+' '+data[i].COLUMN_NAME;
                        } else {
                            sql_insert = sql_insert+', '+data[i].COLUMN_NAME;
                        }                        
                    }
                    var sql_insert =sql_insert+' ) VALUES ( ' ;
                    for(var i=0;i<data.length;i++){
                        if(i==0){
                            sql_insert = sql_insert+' @'+data[i].COLUMN_NAME;
                        } else {
                            sql_insert = sql_insert+', @'+data[i].COLUMN_NAME;
                        }                        
                    }
                    var sql_insert =sql_insert+')' ;

                    var inline_popup = new InlinePopupManger(_this, 'sql_div', {
                        width: 800,
                        height: 300,
                        title: "SQL"
                    });
                    var tmp = sqlFormatter.format(sql_insert, {
                    language: 'sql', // Defaults to "sql"
                    indent: '    ', // Defaults to two spaces,
                    uppercase: false, // Defaults to false
                    linesBetweenQueries: 1 // Defaults to 1
                    });
                    console.log(tmp);
                    var el =_this.get("sql_div");
                    var tmp_el = `<pre class="sql"  name="SQL"></pre>`;
                    el.empty();
                    el.append(tmp_el);
                    var el_sql =_this.get("SQL");
                    el_sql.text(tmp);
                    /*sql_div 자식들을 모두 비우고--비워야하는 이유는여러번 클릭시 찌거기가 남음 */
                    /*    <pre class="sql"  name="SQL"></pre>   를 추가하고*/
                    dp.SyntaxHighlighter.HighlightAll('SQL');  /*이걸실생한다.*/


                    inline_popup.open(function(data){

                        if(data){
                            console.log(data);
                        }
                    });
                    break;
                case 'sql_update':
                    var data = grid.getCheckedData();
                    console.log(data)
                    if(data.length<=0) {
                        Message.alert('선택된 항목이 없습니다.');
                        return;
                    }
                    var table_name = data[0].TABLE_NAME;
                    var sql_update ='UPDATE '+table_name;
                    sql_update = sql_update+' SET ';
                    for(var i=0;i<data.length;i++){
                        if(i==0){
                            sql_update = sql_update+' '+data[i].COLUMN_NAME+'=@'+data[i].COLUMN_NAME ;
                        } else {
                            sql_update = sql_update+', '+data[i].COLUMN_NAME+'=@'+data[i].COLUMN_NAME ;
                        }                        
                    }
                    var sql_update =sql_update+' WHERE 1=1 ' ;
                    
                    var inline_popup = new InlinePopupManger(_this, 'sql_div', {
                        width: 800,
                        height: 300,
                        title: "SQL"
                    });
                    var tmp = sqlFormatter.format(sql_update, {
                    language: 'sql', // Defaults to "sql"
                    indent: '    ', // Defaults to two spaces,
                    uppercase: false, // Defaults to false
                    linesBetweenQueries: 1 // Defaults to 1
                    });
                    console.log(tmp);
                    var el =_this.get("sql_div");
                    var tmp_el = `<pre class="sql"  name="SQL"></pre>`;
                    el.empty();
                    el.append(tmp_el);
                    var el_sql =_this.get("SQL");
                    el_sql.text(tmp);
                    /*sql_div 자식들을 모두 비우고--비워야하는 이유는여러번 클릭시 찌거기가 남음 */
                    /*    <pre class="sql"  name="SQL"></pre>   를 추가하고*/
                    dp.SyntaxHighlighter.HighlightAll('SQL');  /*이걸실생한다.*/


                    inline_popup.open(function(data){

                        if(data){
                            console.log(data);
                        }
                    });
                    break;
                case 'sql_delete':
                    var data = grid.getCheckedData();
                    console.log(data)
                    if(data.length<=0) {
                        Message.alert('선택된 항목이 없습니다.');
                        return;
                    }
                    var table_name = data[0].TABLE_NAME;
                    var sql_delete ='DELETE FROM '+table_name;
                    sql_delete = sql_delete+' WHERE 1=1 ';
                    for(var i=0;i<data.length;i++){
                        sql_delete = sql_delete+' AND '+data[i].COLUMN_NAME+'=@'+data[i].COLUMN_NAME ;
                    }
                    
                    var inline_popup = new InlinePopupManger(_this, 'sql_div', {
                        width: 800,
                        height: 300,
                        title: "SQL"
                    });
                    var tmp = sqlFormatter.format(sql_delete, {
                    language: 'sql', // Defaults to "sql"
                    indent: '    ', // Defaults to two spaces,
                    uppercase: false, // Defaults to false
                    linesBetweenQueries: 1 // Defaults to 1
                    });
                    console.log(tmp);
                    var el =_this.get("sql_div");
                    var tmp_el = `<pre class="sql"  name="SQL">`+tmp+`</pre>`;
                    el.empty();
                    el.append(tmp_el);
                    /*sql_div 자식들을 모두 비우고--비워야하는 이유는여러번 클릭시 찌거기가 남음 */
                    /*    <pre class="sql"  name="SQL"></pre>   를 추가하고*/
                    dp.SyntaxHighlighter.HighlightAll('SQL');  /*이걸실생한다.*/


                    inline_popup.open(function(data){

                        if(data){
                            console.log(data);
                        }
                    });
                    break;

                case 'dataColumn':
                var data = grid.getCheckedData();
                    console.log(data)
                    if(data.length<=0) {
                        Message.alert('선택된 항목이 없습니다.');
                        return;
                    }
                    var dataColumn="";
                    for(var i=0;i<data.length;i++){
                        dataColumn = dataColumn+''+data[i].COLUMN_NAME+'\t'+'String'+'\t'+''+'\t'+PjtUtil.trim(data[i].COLUMN_COMMENT)+'\n' ;
                    }
                    
                    var inline_popup = new InlinePopupManger(_this, 'sql_div', {
                        width: 800,
                        height: 300,
                        title: "DataColumn"
                    });
                    console.log(dataColumn);
                    var el =_this.get("sql_div");
                    var tmp_el = `<pre class="sql"  name="SQL">`+dataColumn+`</pre>`;
                    el.empty();
                    el.append(tmp_el);
                    //dp.SyntaxHighlighter.HighlightAll('SQL');  /*이걸실생한다.*/


                    inline_popup.open(function(data){

                        if(data){
                            console.log(data);
                        }
                    });
                    break;
				}
			});
			searchForm.get("search").trigger("click");
		});
	});
</script>
