<div name="search_area">
	<table>
		<tr>
            <td>
                <div class="form-group">
                  <div class="input-group" style="text-align: left;">
                    <span class="input-group-addon">테이블선택</span> 
                    <select class="form-control chosen-select" data-ax-path="TABLE_NAME"  name="TABLE_NAME" style="width:300px;">
                    </select>
                  </div>
                </div>
              </td>
			<td><input type="button" name="search" value="조회" /></td>
			<td><input type="button" name="save" value="저장" /></td>
            <td><input type="button" name="sql_select" value="SELECT문생성" /></td>
		</tr>
	</table>
</div>
<div name="grid"></div>


<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<!--SQL 팝업-->
<div name="sql_div" style="display: none">
</div>
