<script>
$(document).ready(function(){
	var CM_7300 = new PgmPageMngr('[[${uuid}]]');
        CM_7300.init(function(p_param) {
			var _this = CM_7300;
			var searchForm = new FormMngr(_this, "search_area");

			searchForm.addEvent("click","input[type=button]", function(el) {
				switch (el.target.name) {
				case 'sql_getOutColumns':
                     var data = searchForm.getData();
                     if(PjtUtil.isEmptyObj(data)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.1");
						return; 
                     }

                     var sql = PjtUtil.trim(data.INPUT);
                     if(PjtUtil.isEmpty(sql)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.2");
						return; 
                     }
					var param = {
						SQL : sql
					}
                    _this.send('/jdbc/getOutColumns', param, function(data) {
                        console.log(data);
                            var inline_popup = new InlinePopupManger(_this, 'out_div', {
                                    width: 800,
                                    height: 300,
                                    title: "OUT"
                            });
							if(data.status=="ok"){
                                var el =_this.get("out_div");
                                var tmp_el = `<pre name="OUT"></pre>`;
                                el.empty();
                                el.append(tmp_el);
                                var el_dev =_this.get("OUT");
                                var tmp ="";
                                for(var i=0;i<data.data.length;i++){
                                    tmp =tmp+data.data[i].c+'\n';
                                }
                                el_dev.text(tmp);
							} else {
                                var el =_this.get("out_div");
                                var tmp_el = `<pre class="js" name="OUT"></pre>`;
                                el.empty();
                                el.append(tmp_el);
                                var el_dev =_this.get("OUT");

                                el_dev.text(js_beautify(JSON.stringify(data), { indent_size: 2, space_in_empty_paren: true }));
                                dp.SyntaxHighlighter.HighlightAll('OUT');
                            }
                            inline_popup.open(function(data){
                                    if(data){
                                        console.log(data);
                                    }
                            });
						});
					
					break;
				case 'sql_runSelect':
                    var data = searchForm.getData();
                    if(PjtUtil.isEmptyObj(data)==true){
                    Message.alert("SQL 내용이 존재하지 않습니다.1");
                    return; 
                    }

                    var sql = PjtUtil.trim(data.INPUT);
                    if(PjtUtil.isEmpty(sql)==true){
                    Message.alert("SQL 내용이 존재하지 않습니다.2");
                    return; 
                    }
                    var param = {
                    SQL : sql
                    }
                    _this.send('/jdbc/runSelect', param, function(data) {
                        console.log(data);
                        var inline_popup = new InlinePopupManger(_this, 'out_div', {
                            width: 1100,
                            height: 700,
                            title: "OUT"
                        });
                        if(data.status=="ok"){
                            var el =_this.get("out_div");
                            var tmp_el = `<div name="grid"></div>`;
                            el.empty();
                            el.append(tmp_el);
                            if(data.data.length <= 0){
                                Message.alert("SQL 조회 내역이 존재하지 않습니다.");
                                return; 
                            }
                            var tmp_columns = [];
                            var tmp_data=data.data[0];
                            for (prop in tmp_data) {
                                if (tmp_data.hasOwnProperty(prop)) {
                                    tmp_columns.push(
                                        {
                                            header : prop,
                                            name : prop,
                                            width : 200,
                                            resizable : false,
                                            sortable : true
                                        }
                                    )
                                }
                            }
                            const grid = new TuiGridMngr(_this, 'grid', {
                                    editable : false,
                                    showRowStatus : false,
                                    rowNum : true,
                                    checkbox : false,
                                    bodyHeight : 600,
                                    showDummyRows : false
                                },
                                tmp_columns
                            );
                            grid.build();
                            grid.resetData(data.data);
                        } else {
                            var el =_this.get("out_div");
                            var tmp_el = `<pre class="js" name="OUT"></pre>`;
                            el.empty();
                            el.append(tmp_el);
                            var el_dev =_this.get("OUT");

                            el_dev.text(js_beautify(JSON.stringify(data), { indent_size: 2, space_in_empty_paren: true }));
                            dp.SyntaxHighlighter.HighlightAll('OUT');
                        }
                        inline_popup.open(function(data){
                            if(data){
                                console.log(data);
                            }
                        });
                    });
					break;
                case 'sql_runSQL':
                var data = searchForm.getData();
                    if(PjtUtil.isEmptyObj(data)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.1");
                    return; 
                    }

                    var sql = PjtUtil.trim(data.INPUT);
                    if(PjtUtil.isEmpty(sql)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.2");
                    return; 
                    }
                    var param = {
						SQL : sql
					}
                    _this.send('/jdbc/runSQL', param, function(data) {
                        console.log(data);
                        var inline_popup = new InlinePopupManger(_this, 'out_div', {
                            width: 800,
                            height: 300,
                            title: "OUT"
                        });
                        if(data.status=="ok"){
                            var el =_this.get("out_div");
                            var tmp_el = `<pre class="js" name="OUT"></pre>`;
                            el.empty();
                            el.append(tmp_el);
                            var el_dev =_this.get("OUT");
                            el_dev.text(JSON.stringify(data));
                            dp.SyntaxHighlighter.HighlightAll('OUT');
                        } else {
                            var el =_this.get("out_div");
                            var tmp_el = `<pre class="js" name="OUT"></pre>`;
                            el.empty();
                            el.append(tmp_el);
                            var el_dev =_this.get("OUT");

                            el_dev.text(js_beautify(JSON.stringify(data), { indent_size: 2, space_in_empty_paren: true }));
                            dp.SyntaxHighlighter.HighlightAll('OUT');
                        }
                        inline_popup.open(function(data){
                            if(data){
                                console.log(data);
                            }
                        });
                    });            
                    break;
                case 'sql_prettySQL':
                    var data = searchForm.getData();
                    if(PjtUtil.isEmptyObj(data)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.1");
                        return; 
                    }

                    var sql = PjtUtil.trim(data.INPUT);
                    if(PjtUtil.isEmpty(sql)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.2");
                        return; 
                    }
                    var inline_popup = new InlinePopupManger(_this, 'out_div', {
                        width: 800,
                        height: 700,
                        title: "OUT"
                    });
                    var tmp = sqlFormatter.format(sql, {
                        language: 'sql', // Defaults to "sql"
                        indent: '    ', // Defaults to two spaces,
                        uppercase: false, // Defaults to false
                        linesBetweenQueries: 1 // Defaults to 1
                    });

                    var el =_this.get("out_div");
                    var tmp_el = `<pre class="sql" name="OUT"></pre>`;
                    el.empty();
                    el.append(tmp_el);
                    var el_div =_this.get("OUT");
                    el_div.text(tmp);
                    dp.SyntaxHighlighter.HighlightAll('OUT');
                    var el_div =_this.get("OUT");
                    console.log(_this);
                    var el_div = _this.find(".syntaxhighlighter");
                    el_div.height(600);
                    inline_popup.open(function(data){

                        if(data){
                            console.log(data);
                        }
                    });
                    break; 
                case 'sql_bindingSql':
                    var data = searchForm.getData();
          
                    if(PjtUtil.isEmptyObj(data)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.1");
                        return; 
                    }

                    var sql = PjtUtil.trim(data.INPUT);
                   
                    
                    if(PjtUtil.isEmpty(sql)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.2");
                        return; 
                    }
                    if(false){
                        sql=`The BR_CM_GRP_CD_FIND has been successfully executed. ( Total Time : 0.105 sec [Only Server : 0.011 sec] )
                        [1] [DA:DA_CM_GRP_CD_findCmGrpCd]
                        [SQL Statement]
                        SELECT
                        GRP_CD_SEQ
                        ,GRP_CD
                        ,GRP_NM
                        ,USE_YN
                        ,ORD
                        ,RMK
                        ,CRT_USR_NO
                        ,UPDT_USR_NO 
                        ,CRT_DTM
                        ,UPDT_DTM
                        FROM TB_CM_GRP_CD


                        WHERE GRP_CD LIKE '%' || ? || '%'
                        ORDER BY ORD ASC
                        /* [BizActor].[DA_CM_CD].[DA_CM_GRP_CD_findCmGrpCd] */
                        [Parameters Start]
                        Param 1 : ORDER
                        [Parameters End]
                        3 row(s) fetched. 3 row(s) total.
                        `;
                    }
                    var ks = sql.replace(/\r/g, "").split(/\n/);
                    var sql_flag=false;
                    var parameters_start=false;
                    var parameters_end=false;
                    var sql_arr=[];
                    var where_arr=[];
                    for(var i =0;i<ks.length;i++){
                        var tmp = PjtUtil.trim(ks[i]);
                        if(tmp!=''){
                            if(tmp.indexOf('[Parameters End]')>=0){
                                parameters_end=true;
                            }
                            /*where 본문*/
                            if(parameters_start==true  && parameters_end==false){
                                if(tmp.indexOf(':')>0){
                                    //Param 15 : 
                                    var tmp2=tmp.substring(tmp.indexOf(':')+1)
                                    where_arr.push(PjtUtil.trim(tmp2));
                                }
                            }
                            /*where 본문*/
                            if(tmp.indexOf('[Parameters Start]')>=0){
                                parameters_start=true;
                            }
                            /*sql본문*/
                            if(sql_flag==true && parameters_start==false){
                                sql_arr.push(PjtUtil.trim(tmp));
                            }
                            /*sql본문*/
                            if(tmp.indexOf('[SQL Statement]')>=0){
                                sql_flag=true;
                            }
                        }
                    }
                    if(sql_flag==false){
                        Message.alert("[SQL Statement] 구분자가 sql문에 없어요");
                        return; 
                    }
                    if(parameters_start==false){
                        Message.alert("[Parameters Start] 구분자가 sql문에 없어요");
                        return; 
                    }
                    if(parameters_end==false){
                        Message.alert("[Parameters End] 구분자가 sql문에 없어요");
                        return; 
                    }
                    var sql_final=sql_arr.join('\n');
                    for(var i =0;i<where_arr.length;i++){
                        sql_final=sql_final.replace("?",     "'"+PjtUtil._escapeString(where_arr[i])+"'"         );
                    }
                    var inline_popup = new InlinePopupManger(_this, 'out_div', {
                        width: 800,
                        height: 700,
                        title: "OUT"
                    });
                    var tmp = sqlFormatter.format(sql_final, {
                        language: 'sql', // Defaults to "sql"
                        indent: '    ', // Defaults to two spaces,
                        uppercase: false, // Defaults to false
                        linesBetweenQueries: 1 // Defaults to 1
                    });

                    var el =_this.get("out_div");
                    var tmp_el = `<pre class="sql" name="OUT"></pre>`;
                    el.empty();
                    el.append(tmp_el);
                    var el_div =_this.get("OUT");
                    el_div.text(tmp);
                    dp.SyntaxHighlighter.HighlightAll('OUT');
                    var el_div =_this.get("OUT");
                    console.log(_this);
                    var el_div = _this.find(".syntaxhighlighter");
                    el_div.height(600);
                    inline_popup.open(function(data){

                        if(data){
                            console.log(data);
                        }
                    });
                    break;

                case 'sql_bindingSqlFail':
                    var data = searchForm.getData();
          
                    if(PjtUtil.isEmptyObj(data)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.1");
                        return; 
                    }

                    var sql = PjtUtil.trim(data.INPUT);
                    
                    
                    if(PjtUtil.isEmpty(sql)==true){
                        Message.alert("SQL 내용이 존재하지 않습니다.2");
                        return; 
                    }
                    if(false){
                        sql=`--------------------------------------------------------------------------------
EXCEPTION_MESSAGE
--------------------------------------------------------------------------------
ERROR: syntax error at or near "1"
  Position: 118

--------------------------------------------------------------------------------
LOC
--------------------------------------------------------------------------------
[DA:DA_CM_GRP_CD_findCmGrpCd:EXEC-QRY]

--------------------------------------------------------------------------------
DATA
--------------------------------------------------------------------------------
Query : SELECT
 GRP_CD_SEQ
,GRP_CD
,GRP_NM
,USE_YN
,ORD
,RMK
,CRT_USR_NO
,UPDT_USR_NO 
,CRT_DTM
,UPDT_DTM
FROM TB_CM_GRP_CD

1=1
WHERE GRP_CD LIKE '%' || ? || '%'
ORDER BY ORD ASC
/* [BizActor].[DA_CM_CD].[DA_CM_GRP_CD_findCmGrpCd_MOD0123456789MOD_] */
 Para : Param 1 : ORDER


--------------------------------------------------------------------------------
TYPE
--------------------------------------------------------------------------------
LOGIC

--------------------------------------------------------------------------------
STACK_TRACE
--------------------------------------------------------------------------------
running.exception.RunningServerException: ERROR: syntax error at or near "1"
  Position: 118
	at running.component.DAManager.a(Unknown Source)
	at running.component.DAManager.a(Unknown Source)
	at running.component.DAManager.OperateDM(Unknown Source)
	at running.component.SvcManager.ExecuteServiceForTest(Unknown Source)
	at running.server.TestSyncServer.ExecuteServiceForTest(Unknown Source)
	at modeling.server.ModelServer.a(Unknown Source)
	at modeling.server.ModelServer.requestService(Unknown Source)
	at bizactor.modeling.ModelingServlet.doPost(Unknown Source)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:660)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:741)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:231)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:52)
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:193)
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:166)
	at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:199)
	at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:96)
	at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:528)
	at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:139)
	at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:81)
	at org.apache.catalina.valves.AbstractAccessLogValve.invoke(AbstractAccessLogValve.java:678)
	at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:87)
	at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:343)
	at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:609)
	at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:65)
	at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:810)
	at org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1506)
	at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61)
	at java.lang.Thread.run(Thread.java:748)


--------------------------------------------------------------------------------
ETYPE
--------------------------------------------------------------------------------
JAVA
                        `;
                    }
                    var ks = sql.replace(/\r/g, "").split(/\n/);
                    var sql_flag=false;
                    var parameters_start=false;
                    var parameters_end=false;
                    var sql_arr=[];
                    var where_arr=[];
                    var idx=0;
                    for(var i =0;i<ks.length;i++){
                        var tmp = PjtUtil.trim(ks[i]);
                        if(tmp!=''){
                            if(parameters_start==true  && tmp.indexOf('--------------------------------------------------------------------------------')>=0){
                                parameters_end=true;
                            }
                            /*where 본문*/
                            if(tmp.indexOf('Para :')>=0){
                                parameters_start=true;
                            }
                            if(parameters_start==true  && parameters_end==false){
                                if(tmp.indexOf('Para :')>=0){
                                    var tmp2=tmp.substring(tmp.indexOf('Para :')+("Para :".length)+1)
                                    console.log("tmp2=>"+tmp2);

                                    if(tmp2.indexOf(':')>0){
                                        //Param 15 : 
                                        var tmp3=tmp2.substring(tmp2.indexOf(':')+1)
                                        where_arr.push(PjtUtil.trim(tmp3));
                                    }
                                } else {
                                    if(tmp.indexOf(':')>0){
                                        //Param 15 : 
                                        var tmp2=tmp.substring(tmp.indexOf(':')+1)
                                        where_arr.push(PjtUtil.trim(tmp2));
                                    }
                                }
                            }

                            /*sql본문*/
                            if(tmp.indexOf('Query :')>=0){
                                sql_flag=true;
                            }
                            /*sql본문*/
                            if(sql_flag==true && parameters_start==false){
                                if(tmp.indexOf('Query :')>=0){
                                    var tmp = tmp.split(':')[1];
                                    sql_arr.push(PjtUtil.trim(tmp));
                                } else {
                                    sql_arr.push(PjtUtil.trim(tmp));
                                }
                                
                            }

                        }
                    }
                    
                    console.log(sql_arr);
                    console.log(where_arr);

                    if(sql_flag==false){
                        Message.alert("Query : 구분자가 sql문에 없어요");
                        return; 
                    }
                    if(parameters_start==false){
                        Message.alert("Para : 구분자가 sql문에 없어요");
                        return; 
                    }
                    if(parameters_end==false){
                        Message.alert("---- 구분자가 sql문에 없어요");
                        return; 
                    }


                    var sql_final=sql_arr.join('\n');
                    for(var i =0;i<where_arr.length;i++){
                        sql_final=sql_final.replace("?",     "'"+PjtUtil._escapeString(where_arr[i])+"'"         );
                    }




                    var inline_popup = new InlinePopupManger(_this, 'out_div', {
                        width: 800,
                        height: 700,
                        title: "OUT"
                    });
                    var tmp = sqlFormatter.format(sql_final, {
                        language: 'sql', // Defaults to "sql"
                        indent: '    ', // Defaults to two spaces,
                        uppercase: false, // Defaults to false
                        linesBetweenQueries: 1 // Defaults to 1
                    });

                    var el =_this.get("out_div");
                    var tmp_el = `<pre class="sql" name="OUT"></pre>`;
                    el.empty();
                    el.append(tmp_el);
                    var el_div =_this.get("OUT");
                    el_div.text(tmp);
                    dp.SyntaxHighlighter.HighlightAll('OUT');
                    var el_div =_this.get("OUT");
                    console.log(_this);
                    var el_div = _this.find(".syntaxhighlighter");
                    el_div.height(600);
                    inline_popup.open(function(data){

                        if(data){
                            console.log(data);
                        }
                    });
                    break;
				}
			});
			searchForm.get("search").trigger("click");
		});
	});
</script>
