<div name="withdraws_chance_member_level_area">
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">사용자의 보안등급 정보
    <div class="row row-cols-4">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">사용자의 보안등급</span> <input type="text"
              disabled class="form-control"  data-ax-path="SECURITY_LEVEL"  name="SECURITY_LEVEL">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">사용자의 수수료등급</span> <input type="text"
            disabled class="form-control"  data-ax-path="FEE_LEVEL" name="FEE_LEVEL">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">사용자의 이메일 인증 여부</span> <input type="text"
            disabled class="form-control" data-ax-path="EMAIL_VERIFIED" name="EMAIL_VERIFIED">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">사용자의 실명 인증 여부</span> <input type="text"
            disabled   class="form-control" data-ax-path="IDENTITY_AUTH_VERIFIED" name="IDENTITY_AUTH_VERIFIED">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">사용자의 계좌 인증 여부</span> <input type="text"
            disabled class="form-control" data-ax-path="BANK_ACCOUNT_VERIFIED"  name="BANK_ACCOUNT_VERIFIED">
            
          </div>
        </div>
      </div>     
      
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">사용자의 카카오페이 인증 여부</span> <input type="text"
            disabled class="form-control" data-ax-path="KAKAO_PAY_AUTH_VERIFIED"  name="KAKAO_PAY_AUTH_VERIFIED">            
          </div>
        </div>
      </div>  

      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">사용자의 계정 보호 상태</span> <input type="text"
            disabled class="form-control" data-ax-path="LOCKED"  name="LOCKED">
          </div>
        </div>
      </div>  

      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">사용자의 출금 보호 상태</span> <input type="text"
            disabled class="form-control" data-ax-path="WALLET_LOCKED"  name="WALLET_LOCKED">
          </div>
        </div>
      </div>  
  </div>
  </div>
</div>


<div name="withdraws_chance_currency_area">
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">화폐 정보
    <div class="row row-cols-3">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> <input type="text"
              disabled class="form-control"  data-ax-path="CODE"  name="CODE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">해당 화폐의 출금 수수료</span> <input type="text"
            disabled   class="form-control"  data-ax-path="WITHDRAW_FEE" name="WITHDRAW_FEE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐의 코인 여부</span> <input type="text"
            disabled     class="form-control" data-ax-path="IS_COIN" name="IS_COIN">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">해당 화폐의 지갑 상태</span> <input type="text"
            disabled      class="form-control" data-ax-path="WALLET_STATE" name="WALLET_STATE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">해당 화폐가 지원하는 입출금 정보</span> <input type="text"
            disabled class="form-control" data-ax-path="WALLET_SUPPORT"  name="WALLET_SUPPORT">            
          </div>
        </div>
      </div>         
    </div>
  </div>
</div>


<div name="withdraws_chance_account_area">
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">사용자의 계좌 정보
    <div class="row row-cols-4">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> <input type="text"
              disabled class="form-control"  data-ax-path="CURRENCY"  name="CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">주문가능 금액/수량</span> <input type="text"
            disabled   class="form-control"  data-ax-path="BALANCE" name="BALANCE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">주문 중 묶여있는 금액/수량</span> <input type="text"
            disabled       class="form-control" data-ax-path="LOCKED" name="LOCKED">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">매수평균가</span> <input type="text"
            disabled    class="form-control" data-ax-path="AVG_BUY_PRICE" name="AVG_BUY_PRICE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">매수평균가 수정 여부</span> <input type="text"
            disabled class="form-control" data-ax-path="AVG_BUY_PRICE_MODIFIED"  name="AVG_BUY_PRICE_MODIFIED">            
          </div>
        </div>
      </div>     
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">평단가 기준 화폐</span> <input type="text"
            disabled class="form-control" data-ax-path="UNIT_CURRENCY"  name="UNIT_CURRENCY">            
          </div>
        </div>
      </div>   
    </div>      
  </div>
</div>


<div name="withdraws_chance_withdraw_limit_area">
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">출금 제약 정보
    <div class="row row-cols-4">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> <input type="text"
              disabled class="form-control"  data-ax-path="CURRENCY"  name="CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 최소 금액/수량</span> <input type="text"
            disabled     class="form-control"  data-ax-path="MINIMUM" name="MINIMUM">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">1회 출금 한도</span> <input type="text"
            disabled   class="form-control" data-ax-path="ONETIME" name="ONETIME">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">1일 출금 한도</span> <input type="text"
            disabled    class="form-control" data-ax-path="DAILY" name="DAILY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">1일 잔여 출금 한도</span> <input type="text"
            disabled class="form-control" data-ax-path="REMAINING_DAILY"  name="REMAINING_DAILY">            
          </div>
        </div>
      </div>     
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">통합 1일 잔여 출금 한도</span> <input type="text"
            disabled class="form-control" data-ax-path="REMAINING_DAILY_KRW"  name="REMAINING_DAILY_KRW">            
          </div>
        </div>
      </div>       
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 금액/수량 소수점 자리 수</span> <input type="text"
            disabled class="form-control" data-ax-path="FIXED"  name="FIXED">            
          </div>
        </div>
      </div>         
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 지원 여부</span> <input type="text"
            disabled class="form-control" data-ax-path="CAN_WITHDRAW"  name="CAN_WITHDRAW">            
          </div>
        </div>
      </div>         
    </div>
  </div>
</div>



<div name="withdraw_krw_area"> 
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">원화출금하기
    <div class="row row-cols-4">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> <input type="text"
              disabled class="form-control"  data-ax-path="CURRENCY"  name="CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">주문가능 금액/수량</span> <input type="text"
            disabled     class="form-control"  data-ax-path="BALANCE"  name="BALANCE">
          </div>
        </div>
      </div> 
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">해당 화폐의 출금 수수료</span> <input type="text"
            disabled   class="form-control"  data-ax-path="WITHDRAW_FEE" name="WITHDRAW_FEE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 원화 수량</span> <input type="text"
              class="form-control"  data-ax-path="AMOUNT"  name="AMOUNT">
          </div>
        </div>
      </div> 
    </div>
  </div>
  <input type="button" name="save_krw" value="원화출금하기" />
</div>

<div name="withdraw_coin_area">
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">코인출금하기
    <div class="row row-cols-4">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Currency symbol</span> <input type="text"
              disabled class="form-control"  data-ax-path="CURRENCY"  name="CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 코인 수량</span> <input type="text"
             class="form-control"  data-ax-path="AMOUNT" name="AMOUNT">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 지갑 주소</span> <input type="text"
             class="form-control" data-ax-path="ADDRESS" name="ADDRESS">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">2차 출금주소 (필요한 코인에 한해서)</span> <input type="text"
             class="form-control" data-ax-path="SECONDARY_ADDRESS" name="SECONDARY_ADDRESS">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 유형</span> <select
             class="form-control" data-ax-path="TRANSACTION_TYPE"  name="TRANSACTION_TYPE">
            </select>
          </div>
        </div>
      </div>      
  </div>
  <input type="button" name="save_coin" value="코인출금하기" />
  </div>
</div>
