
<div name="withdraw_area"> 
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
    <div class="row row-cols-2">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 원화 수량</span> <input type="text"
              class="form-control"  data-ax-path="AMOUNT"  name="AMOUNT">
          </div>
        </div>
      </div> 
    </div>
  </div>
  <input type="button" name="save" value="원화츨금하기" />
</div>