
<script>
$(document).ready(function(){
	var UPBIT_0120 = new PgmPageMngr('[[${uuid}]]');
	UPBIT_0120.init(function(p_param) {
		var _this = UPBIT_0120;
		var searchForm = new FormMngr(_this, "search_area");
		const grid = new TuiGridMngr(_this,'grid',{
		      editable: false
		      ,showRowStatus: false
		      ,rowNum: true
		      ,checkbox: false
			  ,pageable: true
			   /*,useClientSort: false   서버정렬 이걸로 안됨.  tui_grid_mngr에서  이벤트에서 beforeSort를 사용해서 서버쪽 호출을 하도록 하자*/
		  	}
		,[
				{
		           header: '종목명',
		           name: 'MARKET',
		           width: 200,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
					}
				},{
		           header: '체결 일자(UTC 기준)',
		           name: 'TRADE_DATE_UTC',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '체결 시각(UTC 기준)',
		           name: 'TRADE_TIME_UTC',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '체결 타임스탬프',
		           name: 'TIMESTAMP',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
		       
				},{
		           header: '체결 가격',
		           name: 'TRADE_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRenderer
					},
		           sortingType: 'desc'
				},{
		           header: '체결량',
		           name: 'TRADE_VOLUME',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '전일 종가',
		           name: 'PREV_CLOSING_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRenderer
					},
		           sortingType: 'desc'
				},{
		           header: '변화량',
		           name: 'CHANGE_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRenderer
					},
		           sortingType: 'desc'	       
				},{
		           header: '매도/매수',
		           name: 'ASK_BID',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,				   
		           sortingType: 'desc'
				},{
		           header: '체결 번호(Unique)',
		           name: 'SEQUENTIAL_ID',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,				   
		           sortingType: 'desc'
				 },{
		             header: '생성일',
		             name: 'CRT_DTM',
		             width: 200,
		             sortable: true,
		             align: "center"
					},{
		             header: '수정일',
		             name: 'UPDT_DTM',
		             width: 200,
		             sortable: true,
		             align: "center"
		         }
		    ]
		);
	  	grid.build();

		grid.on('click', (ev) => {
			if (ev.rowKey >=0) {
				if(ev.columnName=="MARKET"){
					var row_data=grid.getRow(ev.rowKey);
				console.log(row_data);

				var param = {
					MARKET: row_data.MARKET
				}
				var popup = new PopupManger(_this, 'UPBIT_0150', {
						width: 1200,
						height: 700,
						title: "업비트종목상세["+row_data.MARKET+"]"
					},
					param
				);
				popup.open(function (data) {
					if (data) {

					}
				});
				}
				
				
			}
		});

	  	searchForm.addEvent("click","input[type=button]",function(el){
		   //console.log(el);
	  	   switch(el.target.name){
           case 'search':
			   var data = searchForm.getData();
        		var param ={
					 brRq : 'IN_DATA'
					,brRs : 'OUT_DATA'
					,IN_DATA:[ data ]
				}
		    	grid.loadData('BR_UPBIT_TRADES_TICKS_FIND',param,function(data){
			    	console.log(data);
			    	//gridLoadData에서 자동으로 로드됨..
		        	
		    	});
               break;
			   case 'BTN_UPBIT_TRADES_TICKS_SYNC':
					var data = searchForm.getData();
					var param ={
						brRq : 'IN_DATA'
						,brRs : ''
						,IN_DATA:[ data ]
					}
					_this.showProgress();
					_this.send_socket('BR_UPBIT_TRADES_TICKS_SYNC', param, function(data) {
						_this.hideProgress();
						if (data) {
							searchForm.get("search").trigger("click");
						}
					});	
		       break;
			}
	  	});
	  	searchForm.get("search").trigger("click");
	});	
});

</script>