
<script>
$(document).ready(function(){
	var UPBIT_0120 = new PgmPageMngr('[[${uuid}]]');
	UPBIT_0120.init(function(p_param) {
		var _this = UPBIT_0120;
		var searchForm = new FormMngr(_this, "search_area");
		searchForm.initCombo("MARKET_WARNING",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_MARKET_WARNING', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'Y' , VALUE :'CD' , TEXT :'CD_NM' });
		searchForm.initCombo("MARKET_CD",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_MARKET_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });
		searchForm.initCombo("UNIT",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_UNIT', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });

		

		const grid = new TuiGridMngr(_this,'grid',{
		      editable: false
		      ,showRowStatus: false
		      ,rowNum: true
		      ,checkbox: false
			  ,pageable: true
			   /*,useClientSort: false   서버정렬 이걸로 안됨.  tui_grid_mngr에서  이벤트에서 beforeSort를 사용해서 서버쪽 호출을 하도록 하자*/
		  	}
		,[
				{
		           header: '통화코드',
		           name: 'MARKET_CD',
		           width: 200,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
					}
				},{
		           header: '종목명',
		           name: 'MARKET',
		           width: 200,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
					}
				},{
		           header: '영문명',
		           name: 'EN_NM',
		           width: 200,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   resizable: true,
				   sortable : true,
		           sortingType: 'desc'
				},{
		           header: '한글명',
		           name: 'KR_NM',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
					header: '유의 종목 여부',
		           name: 'MARKET_WARNING',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				 },{
		           header: '캔들 기준 시각(UTC 기준)',
		           name: 'CANDLE_DATE_TIME_UTC',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '캔들 기준 시각(KST 기준)',
		           name: 'CANDLE_DATE_TIME_KST',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '시가',
		           name: 'OPENING_PRICE',
		           width: 100,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '고가',
		           name: 'HIGH_PRICE',
		           width: 100,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '저가',
		           name: 'LOW_PRICE',
		           width: 100,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '종가',
		           name: 'TRADE_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '해당 캔들에서 마지막 틱이 저장된 시각',
		           name: 'TIMESTAMP',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '누적 거래 금액',
		           name: 'CANDLE_ACC_TRADE_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '누적 거래량',
		           name: 'CANDLE_ACC_TRADE_VOLUME',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '분 단위(유닛)',
		           name: 'UNIT',
		           width: 100,
				   align : 'center',
				   sortable : true,
				   resizable: true,				   
		           sortingType: 'desc'
				 },{
		             header: '생성일',
		             name: 'CRT_DTM',
		             width: 200,
		             sortable: true,
		             align: "center"
					},{
		             header: '수정일',
		             name: 'UPDT_DTM',
		             width: 200,
		             sortable: true,
		             align: "center"
		         }
		    ]
		);
	  	grid.build();

		grid.on('click', (ev) => {
			if (ev.rowKey >=0) {
				if(ev.columnName=="MARKET"){
					var row_data=grid.getRow(ev.rowKey);
				console.log(row_data);

				var param = {
					MARKET: row_data.MARKET
				}
				var popup = new PopupManger(_this, 'UPBIT_0150', {
						width: 1200,
						height: 700,
						title: "업비트종목상세["+row_data.MARKET+"]"
					},
					param
				);
				popup.open(function (data) {
					if (data) {

					}
				});
				}
				
				
			}
		});

	  	searchForm.addEvent("click","input[type=button]",function(el){
		   //console.log(el);
	  	   switch(el.target.name){
           case 'search':
			   var data = searchForm.getData();
        		var param ={
					 brRq : 'IN_DATA'
					,brRs : 'OUT_DATA'
					,IN_DATA:[ data ]
				}
		    	grid.loadData('BR_UPBIT_CANDLES_MINUTES_FIND',param,function(data){
			    	console.log(data);
			    	//gridLoadData에서 자동으로 로드됨..
		        	
		    	});
               break;
			   case 'BTN_UPBIT_CANDLES_MINUTES_SYNC':
					var data = searchForm.getData();
					var param ={
						brRq : 'IN_DATA'
						,brRs : 'OUT_DATA'
						,IN_DATA:[ data ]
					}
					_this.showProgress();
					_this.send_socket('BR_UPBIT_CANDLES_MINUTES_SYNC', param, function(data) {
						_this.hideProgress();
						if (data) {
							searchForm.get("search").trigger("click");
						}
					});	
		       break;
			   case 'BTN_UPBIT_CANDLES_DAYS_SYNC':
					var data = searchForm.getData();
					var param ={
						brRq : 'IN_DATA'
						,brRs : 'OUT_DATA'
						,IN_DATA:[ data ]
					}
					_this.showProgress();
					_this.send_socket('BR_UPBIT_CANDLES_DAYS_SYNC', param, function(data) {
						_this.hideProgress();
						if (data) {
							searchForm.get("search").trigger("click");
						}
					});	
		       break;
			}
	  	});
	  	searchForm.get("search").trigger("click");
	});	
});

</script>