
<script>
	$(document).ready(function(){
		var UPBIT_0240 = new PgmPageMngr('[[${uuid}]]');
		UPBIT_0240.init(function(p_param) {
			var _this = UPBIT_0240;
			console.log(p_param.param.P_UUID);
			var uuid = p_param.param.P_UUID;
			var txid = p_param.param.P_TXID;
			var currency = p_param.param.P_CURRENCY;
		

			var withdrawForm = new FormMngr(_this, "withdraw_area");
		    $('[data-ax5formatter]').ax5formatter();

			var param ={
				brRq : 'IN_DATA'
				,brRs : 'OUT_DATA'
				,IN_DATA:[ {
					UUID : uuid
					,TXID : txid
					,CURRENCY : currency
				} ]
			}
			_this.showProgress();
			_this.send('BR_UPBIT_EXCHANGE_GET_WITHDRAW', param, function(data) {
				_this.hideProgress();
				if (data) {
					withdrawForm.setDataAll(data.OUT_DATA[0]);		
				}
			});	
		});	
	});
	
	</script>