<div name="search_area">
  <table>
  <tr>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">마켓</span> 
          <input type="text" class="form-control" data-ax-path="MARKET"  name="MARKET" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">영문명</span> 
          <input type="text" class="form-control" data-ax-path="EN_NM"  name="EN_NM" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">한글명</span> 
          <input type="text" class="form-control" data-ax-path="KR_NM"  name="KR_NM" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">TIMESTAMP</span> 
          <input type="text" class="form-control" data-ax-path="TIMESTAMP"  name="TIMESTAMP" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
    <td>업비트는 오전 9시에 종가 초기화</td>
  </tr>
  </table>
</div>
<div name="grid"></div>
