
<script>
	$(document).ready(function(){
		var UPBIT_0215 = new PgmPageMngr('[[${uuid}]]');
		UPBIT_0215.init(function(p_param) {
			var _this = UPBIT_0215;

			console.log(p_param.param.MARKET);
			var market = p_param.param.MARKET;

			var orderChanceAreaForm = new FormMngr(_this, "order_chance_area");
		    $('[data-ax5formatter]').ax5formatter();
		
			var param ={
				brRq : 'IN_DATA'
				,brRs : 'OUT_DATA'
				,IN_DATA:[ {
					MARKET : market
				} ]
			}
			_this.showProgress();
			_this.send('BR_UPBIT_EXCHANGE_GET_ORDERS_CHANCE', param, function(data) {
				_this.hideProgress();
				if (data) {
					console.log(data.OUT_DATA[0]);
					orderChanceAreaForm.setDataAll(data.OUT_DATA[0]);		
				}
			});				
		});	
	});	
	</script>