<div name="search_area">
  <table>
  <tr>    
    <td><input type="button" name="search" value="조회" /></td>
    <td>      
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">입금 원화 수량</span> <input type="text"
          disabled class="form-control" data-ax-path="AMOUNT" name="AMOUNT">
        </div>
      </div>    
    </td>
    <td><input type="button" name="btn_deposits_krw" value="원화입금하기" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
