<div name="search_area">
  <table>
  <tr>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">마켓</span> 
          <input type="text" class="form-control" data-ax-path="MARKET"  name="MARKET" style="width:100px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">주문상태</span> 
          <select class="form-control" data-ax-path="STATE"  name="STATE" style="width:140px;">
          </select>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">주문UUID목록</span> 
          <input type="text" class="form-control" data-ax-path="UUIDS"  name="UUIDS" style="width:100px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">주문IDENTIFIERS목록</span> 
          <input type="text" class="form-control" data-ax-path="IDENTIFIERS"  name="IDENTIFIERS" style="width:100px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
