
<script>
	$(document).ready(function(){
		var UPBIT_0215 = new PgmPageMngr('[[${uuid}]]');
		UPBIT_0215.init(function(p_param) {
			var _this = UPBIT_0215;

			console.log(p_param.param.MARKET);
			var market = p_param.param.MARKET;

			var orderChanceAreaForm = new FormMngr(_this, "order_chance_area");
			var searchForm = new FormMngr(_this, "search_area");
			var orderBuyForm = new FormMngr(_this, "order_buy_area");
			var orderSellForm = new FormMngr(_this, "order_sell_area");
			orderBuyForm.initCombo("ORD_TYPE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_ORD_TYPE_CD', USE_YN: 'Y', ATTR1: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });
			orderSellForm.initCombo("ORD_TYPE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_ORD_TYPE_CD', USE_YN: 'Y', ATTR2: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });
			
		    $('[data-ax5formatter]').ax5formatter();
			orderBuyForm.setData("MARKET",market);
			orderSellForm.setData("MARKET",market);
		
			var param ={
				brRq : 'IN_DATA'
				,brRs : 'OUT_DATA'
				,IN_DATA:[ {
					MARKET : market
				} ]
			}
			_this.showProgress();
			_this.send('BR_UPBIT_EXCHANGE_GET_ORDERS_CHANCE', param, function(data) {
				_this.hideProgress();
				if (data) {
					console.log(data.OUT_DATA[0]);
					orderChanceAreaForm.setDataAll(data.OUT_DATA[0]);		
				}
			});		
			
			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 70
				  }
				,[
					{
					   header: '마켓 코드',
					   name: 'MARKET',
					   width: 200,
					   align : 'center',
					   filter : {
						type : 'text',
						showApplyBtn : true,
						showClearBtn : true
						}
					},{
					   header: '호가 생성 시각',
					   name: 'TIMESTAMP',
					   width: 200,
					   align : 'center',
					   filter : {
						type : 'text',
						showApplyBtn : true,
						showClearBtn : true
					   },
					   resizable: true,
					   sortable : true,
					   sortingType: 'desc'
					},{
					   header: '호가 매도 총 잔량',
					   name: 'TOTAL_ASK_SIZE',
					   width: 200,
					   align : 'center',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: '호가 매수 총 잔량',
					   name: 'TOTAL_BID_SIZE',
					   width: 200,
					   align : 'center',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					 }
				]
			);
			grid.build();
		
			const grid_orderbook_units_bid = new TuiGridMngr(_this,'grid_orderbook_units_bid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 300
				  }
				,[
					{
					   header: '마켓의 유일 키',
					   name: 'MARKET',
					   width: 200,
					   align : 'center',
					   filter : {
						type : 'text',
						showApplyBtn : true,
						showClearBtn : true
						}
					},{
					   header: '매수호가',
					   name: 'BID_PRICE',
					   width: 100,
					   align : 'center',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					 },{
						 header: '매수 잔량',
						 name: 'BID_SIZE',
						 width: 200,
						 sortable: true,
						 align: "center"
					 }
				]
			);
			grid_orderbook_units_bid.build();
			grid_orderbook_units_bid.on('click', (ev) => {
				if (ev.rowKey >=0) {
					console.log(ev.rowKey);
					console.log(ev.columnName);
					if(ev.columnName=="MARKET"){
						var row_data=grid_orderbook_units_bid.getRow(ev.rowKey);
						console.log(row_data);
						//orderBuyForm.setDataAll(row_data);
						orderBuyForm.setData("PRICE",row_data.BID_PRICE);
					}
				}
			});

			const grid_orderbook_units_ask = new TuiGridMngr(_this,'grid_orderbook_units_ask',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 300
				  }
				,[
					{
					   header: '마켓의 유일 키',
					   name: 'MARKET',
					   width: 200,
					   align : 'center',
					   filter : {
						type : 'text',
						showApplyBtn : true,
						showClearBtn : true
						}
					},{
					   header: '매도호가',
					   name: 'ASK_PRICE',
					   width: 100,
					   align : 'center',
					   filter : {
						type : 'text',
						showApplyBtn : true,
						showClearBtn : true
					   },
					   resizable: true,
					   sortable : true,
					   sortingType: 'desc'
					},{
					   header: '매도 잔량',
					   name: 'ASK_SIZE',
					   width: 200,
					   align : 'center',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					 }
				]
			);
			grid_orderbook_units_ask.build();
			
			grid_orderbook_units_ask.on('click', (ev) => {
				if (ev.rowKey >=0) {
					console.log(ev.rowKey);
					console.log(ev.columnName);
					if(ev.columnName=="MARKET"){
						var row_data=grid_orderbook_units_ask.getRow(ev.rowKey);
						console.log(row_data);
						//orderSellForm.setDataAll(row_data);
						orderSellForm.setData("PRICE",row_data.ASK_PRICE);
					}
				}
			});

			function chg_order_buy_combo(){
				var ord_type = orderBuyForm.getData("ORD_TYPE");
				console.log(ord_type);
				if(ord_type=='price'){
					/*
					시장가 주문
					시장가 주문은 ord_type 필드를 price or market 으로 설정해야됩니다.
					매수 주문의 경우 ord_type을 price로 설정하고 volume을 null 혹은 제외해야됩니다.
					매도 주문의 경우 ord_type을 market로 설정하고 price을 null 혹은 제외해야됩니다.
					*/
					//주문수량을 disable하자.
					orderBuyForm.disable("VOLUME");
					orderBuyForm.setData("VOLUME","");
				} else {
					orderBuyForm.enable("VOLUME");
				}
			}
			function chg_order_sell_combo(){
				var ord_type = orderSellForm.getData("ORD_TYPE");
				console.log(ord_type);
				if(ord_type=='market'){
					/*
					시장가 주문
					시장가 주문은 ord_type 필드를 price or market 으로 설정해야됩니다.
					매수 주문의 경우 ord_type을 price로 설정하고 volume을 null 혹은 제외해야됩니다.
					매도 주문의 경우 ord_type을 market로 설정하고 price을 null 혹은 제외해야됩니다.
					*/
					//주문가격을 disable하자.
					orderSellForm.disable("PRICE");
					orderSellForm.setData("PRICE","");
				} else {
					orderSellForm.enable("VOLUME");
				}
			}
			
			orderBuyForm.addEvent("change","select[name=ORD_TYPE]",function(el){
				chg_order_buy_combo();
			});

			orderSellForm.addEvent("change","select[name=ORD_TYPE]",function(el){
				chg_order_sell_combo();
			});

			/*초기 init에 orderBuyFrom 과  orderSellFrom 콤보박스를 초기화해야한다. */
			chg_order_buy_combo();
			chg_order_sell_combo();
			
			searchForm.addEvent("click","input[type=button]",function(el){
				//console.log(el);
				switch(el.target.name){
					case 'btn_search':
						var param ={
							brRq : 'IN_DATA'
							,brRs : 'OUT_DATA,OUT_DATA_ORDER_BOOK'
							,IN_DATA:[ {
								MARKET : market
							} ]
						}
						_this.showProgress();
						_this.send('BR_UPBIT_QUOTATION_ORDER_BOOK', param, function(data) {
							_this.hideProgress();
							if (data) {
								grid.resetData(data.OUT_DATA);
								grid_orderbook_units_bid.resetData(data.OUT_DATA_ORDER_BOOK);
								grid_orderbook_units_ask.resetData(data.OUT_DATA_ORDER_BOOK);
							}
						});	
					break;		
				}
			});
			orderBuyForm.addEvent("click","input[type=button]",function(el){
				switch(el.target.name){
					case 'btn_buy':
						var param ={
							brRq : 'IN_DATA'
							,brRs : 'OUT_DATA'
							,IN_DATA:[ {
								MARKET : orderBuyForm.getData("MARKET"),
								VOLUME : orderBuyForm.getData("VOLUME"),
								PRICE : orderBuyForm.getData("PRICE"),
								ORD_TYPE : orderBuyForm.getData("ORD_TYPE"),
							} ]
						}
						_this.showProgress();
						_this.send('BR_UPBIT_EXCHANGE_POST_ORDERS_BUY', param, function(data) {
							_this.hideProgress();
							if (data) {

							}
						});	
					break;			
				}
			});
			orderSellForm.addEvent("click","input[type=button]",function(el){
				switch(el.target.name){
					case 'btn_buy':
						var param ={
							brRq : 'IN_DATA'
							,brRs : 'OUT_DATA'
							,IN_DATA:[ {
								MARKET : orderSellForm.getData("MARKET"),
								VOLUME : orderSellForm.getData("VOLUME"),
								PRICE : orderSellForm.getData("PRICE"),
								ORD_TYPE : orderSellForm.getData("ORD_TYPE"),
							} ]
						}
						_this.showProgress();
						_this.send('BR_UPBIT_EXCHANGE_POST_ORDERS_SELL', param, function(data) {
							_this.hideProgress();
							if (data) {

							}
						});	
					break;			
				}
			});
			searchForm.get("btn_search").trigger("click");
		});	
	});	
	</script>