
<script>
$(document).ready(function(){
	var UPBIT_0120 = new PgmPageMngr('[[${uuid}]]');
	UPBIT_0120.init(function(p_param) {
		var _this = UPBIT_0120;
		var searchForm = new FormMngr(_this, "search_area");
		searchForm.initCombo("MARKET_WARNING",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_MARKET_WARNING', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'Y' , VALUE :'CD' , TEXT :'CD_NM' });
		searchForm.initCombo("MARKET_CD",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_MARKET_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });

		const grid = new TuiGridMngr(_this,'grid',{
		      editable: false
		      ,showRowStatus: false
		      ,rowNum: true
		      ,checkbox: false
			  ,pageable: false
			   /*,useClientSort: false   서버정렬 이걸로 안됨.  tui_grid_mngr에서  이벤트에서 beforeSort를 사용해서 서버쪽 호출을 하도록 하자*/
		  	}
		,[
			    {
		           header: '종목명',
		           name: 'MARKET',
		           width: 200,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
					}
				},{
		           header: '최근 거래 일자(UTC)',
		           name: 'TRADE_DATE',
		           width: 100,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '최근 거래 시각(UTC)',
		           name: 'TRADE_TIME',
		           width: 100,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '최근 거래 일자(KST)',
		           name: 'TRADE_DATE_KST',
		           width: 100,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '최근 거래 시각(KST)',
		           name: 'TRADE_TIME_KST',
		           width: 100,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '시가2',
		           name: 'OPENING_PRICE',
		           width: 100,
				   align : 'right',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '고가',
		           name: 'HIGH_PRICE',
		           width: 100,
				   align : 'right',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '저가',
		           name: 'LOW_PRICE',
		           width: 100,
				   align : 'right',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '종가',
		           name: 'TRADE_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '전일 종가',
		           name: 'PREV_CLOSING_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '변화',
		           name: 'CHANGE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '변화액의 절대값',
		           name: 'CHANGE_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '변화율의 절대값',
		           name: 'CHANGE_RATE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '부호가 있는 변화액',
		           name: 'SIGNED_CHANGE_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '부호가 있는 변화율',
		           name: 'SIGNED_CHANGE_RATE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '가장 최근 거래량',
		           name: 'TRADE_VOLUME',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '누적 거래대금(UTC 0시 기준)',
		           name: 'ACC_TRADE_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '24시간 누적 거래대금',
		           name: 'ACC_TRADE_PRICE_24H',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '누적 거래량(UTC 0시 기준)',
		           name: 'ACC_TRADE_VOLUME',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '24시간 누적 거래량',
		           name: 'ACC_TRADE_VOLUME_24H',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '24시간 누적 거래량',
		           name: 'HIGHEST_52_WEEK_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '52주 신고가 달성일',
		           name: 'HIGHEST_52_WEEK_DATE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '52주 신저가',
		           name: 'LOWEST_52_WEEK_PRICE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
				   renderer : {
					type: commaRendererRemoveDot
					},
		           sortingType: 'desc'
				},{
		           header: '52주 신저가 달성일',
		           name: 'LOWEST_52_WEEK_DATE',
		           width: 200,
				   align : 'right',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '해당 캔들에서 마지막 틱이 저장된 시각',
		           name: 'TIMESTAMP',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				 },{
		             header: '생성일',
		             name: 'CRT_DTM',
		             width: 200,
		             sortable: true,
		             align: "center"
					}
		    ]
		);
	  	grid.build();

		grid.on('click', (ev) => {
			if (ev.rowKey >=0) {
				if(ev.columnName=="MARKET"){
					var row_data=grid.getRow(ev.rowKey);
					console.log(row_data);

					var param = {
						MARKET: row_data.MARKET
					}
					var popup = new PopupManger(_this, 'UPBIT_0150', {
							width: 1200,
							height: 700,
							title: "업비트종목상세["+row_data.MARKET+"]"
						},
						param
					);
					popup.open(function (data) {
						if (data) {

						}
					});
				}
				if(ev.columnName=="KR_NM"){
					var row_data=grid.getRow(ev.rowKey);
					console.log(row_data);

					var param = {
						MARKET: row_data.MARKET
					}
					var popup = new PopupManger(_this, 'UPBIT_0215', {
							width: 1200,
							height: 700,
							title: "업비트주문가능정보["+row_data.MARKET+"]"
						},
						param
					);
					popup.open(function (data) {
						if (data) {

						}
					});
				}

				if(ev.columnName=="EN_NM"){
					var row_data=grid.getRow(ev.rowKey);
					console.log(row_data);

					var param = {
						P_CURRENCY: row_data.CURRENCY.toUpperCase()
					}
					var popup = new PopupManger(_this, 'UPBIT_0245', {
							width: 1200,
							height: 700,
							title: "업비트주문가능정보["+row_data.EN_NM+"]"
						},
						param
					);
					popup.open(function (data) {
						if (data) {

						}
					});
				}
				
				
			}
		});

	  	searchForm.addEvent("click","input[type=button]",function(el){
		   //console.log(el);
	  	   switch(el.target.name){
           case 'search':
			   var data = searchForm.getData();
        		var param ={
					 brRq : 'IN_DATA'
					,brRs : 'OUT_DATA'
					,IN_DATA:[ data ]
				}
		    	grid.loadData('BR_UPBIT_retrieveTicker',param,function(data){
			    	console.log(data);
			    	//gridLoadData에서 자동으로 로드됨..
		        	
		    	});
               break;
			   case 'BR_UPBIT_TICKER_SYNC':
					var data = searchForm.getData();
					var param ={
						brRq : 'IN_DATA'
						,brRs : ''
						,IN_DATA:[ data ]
					}
					_this.showProgress();
					_this.send_socket('BR_UPBIT_TICKER_SYNC', param, function(data) {
						_this.hideProgress();
						if (data) {
							searchForm.get("search").trigger("click");
						}
					});	
		       break;
			}
	  	});
	  	searchForm.get("search").trigger("click");
	});	
});

</script>