
<div name="deposit_coin_address_area"> 
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
    <div class="row row-cols-2">      
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> <input type="text"
            disabled class="form-control" data-ax-path="CURRENCY" name="CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">입금 주소</span> <input type="text"
            disabled  class="form-control"  data-ax-path="DEPOSIT_ADDRESS" name="DEPOSIT_ADDRESS">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">2차 입금 주소</span> <input type="text"
            disabled class="form-control" data-ax-path="SECONDARY_ADDRESS"  name="SECONDARY_ADDRESS">
          </div>
        </div>
      </div>
    </div>
    <input type="button" name="deposits_generate_coin_address" value="코인입금주소만들기" />
  </div>
</div>