
<script>
$(document).ready(function(){
	var UPBIT_0180 = new PgmPageMngr('[[${uuid}]]');
	UPBIT_0180.init(function(p_param) {
		var _this = UPBIT_0180;
		var searchForm = new FormMngr(_this, "search_area");
		searchForm.initCombo("MARKET_WARNING",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_MARKET_WARNING', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'Y' , VALUE :'CD' , TEXT :'CD_NM' });
		searchForm.initCombo("MARKET_CD",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_MARKET_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });

		const grid = new TuiGridMngr(_this,'grid',{
		      editable: false
		      ,showRowStatus: false
		      ,rowNum: true
		      ,checkbox: false
			  ,pageable: true
			   /*,useClientSort: false   서버정렬 이걸로 안됨.  tui_grid_mngr에서  이벤트에서 beforeSort를 사용해서 서버쪽 호출을 하도록 하자*/
		  	}
		,[
				{
		           header: '통화코드',
		           name: 'MARKET_CD',
		           width: 200,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
					}
				},{
		           header: '종목명',
		           name: 'MARKET',
		           width: 200,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
					}
				},{
		           header: '영문명',
		           name: 'EN_NM',
		           width: 200,
				   align : 'center',
				   filter : {
					type : 'text',
					showApplyBtn : true,
					showClearBtn : true
				   },
				   resizable: true,
				   sortable : true,
		           sortingType: 'desc'
				},{
		           header: '한글명',
		           name: 'KR_NM',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
					header: '유의 종목 여부',
		           name: 'MARKET_WARNING',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				 },{
		           header: '호가 매도 총 잔량',
		           name: 'TOTAL_ASK_SIZE',
		           width: 200,
				   align : 'right',
				   renderer : {
					type: commaRenderer
					},
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '호가 매수 총 잔량',
		           name: 'TOTAL_BID_SIZE',
		           width: 200,
				   align : 'right',
				   renderer : {
					type: commaRenderer
					},
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'
				},{
		           header: '호가 생성 시각',
		           name: 'TIMESTAMP',
		           width: 200,
				   align : 'center',
				   sortable : true,
				   resizable: true,
		           sortingType: 'desc'	      
				},{
		             header: '생성일',
		             name: 'CRT_DTM',
		             width: 200,
		             sortable: true,
		             align: "center"
				},{
		             header: '수정일',
		             name: 'UPDT_DTM',
		             width: 200,
		             sortable: true,
		             align: "center"
		         }
		    ]
		);
	  	grid.build();

		grid.on('click', (ev) => {
			if (ev.rowKey >=0) {
				/*if(ev.columnName=="MARKET"){*/
					var row_data=grid.getRow(ev.rowKey);
					console.log(row_data);

					var param = {
						MARKET: row_data.MARKET,
						TIMESTAMP: row_data.TIMESTAMP,
						EN_NM: row_data.EN_NM,
						KR_NM: row_data.KR_NM,
					}
					var popup = new PopupManger(_this, 'UPBIT_0185', {
							width: 1200,
							height: 700,
							title: "업비트호가상세["+row_data.MARKET+"]"
						},
						param
					);
					popup.open(function (data) {
						if (data) {

						}
					});
				/*}*/
				
				
			}
		});

	  	searchForm.addEvent("click","input[type=button]",function(el){
		   //console.log(el);
	  	   switch(el.target.name){
           case 'search':
			   var data = searchForm.getData();
        		var param ={
					 brRq : 'IN_DATA'
					,brRs : 'OUT_DATA'
					,IN_DATA:[ data ]
				}
		    	grid.loadData('BR_UPBIT_ORDER_BOOK_FIND',param,function(data){
			    	console.log(data);
			    	//gridLoadData에서 자동으로 로드됨..
		        	
		    	});
               break;
			   case 'BTN_UPBIT_ORDER_BOOK_SYNC':
					var data = searchForm.getData();
					var param ={
						brRq : 'IN_DATA'
						,brRs : 'OUT_DATA'
						,IN_DATA:[ data ]
					}
					_this.showProgress();
					_this.send_socket('BR_UPBIT_ORDER_BOOK_SYNC', param, function(data) {
						_this.hideProgress();
						if (data) {
							searchForm.get("search").trigger("click");
						}
					});	
		       break;
			}
	  	});
	  	searchForm.get("search").trigger("click");
	});	
});

</script>