
<script>
	$(document).ready(function(){
		var UPBIT_0250 = new PgmPageMngr('[[${uuid}]]');
		UPBIT_0250.init(function(p_param) {
			var _this = UPBIT_0250;
			console.log(p_param.param.P_UUID);
			var amount = p_param.param.P_AMOUNT;

			var withdrawForm = new FormMngr(_this, "withdraw_area");
			withdrawForm.setData("AMOUNT",amount);
		    $('[data-ax5formatter]').ax5formatter();

			withdrawForm.addEvent("click","input[type=button]",function(el){
			   //console.log(el);
				 switch(el.target.name){
			   case 'save':
				   var data = withdrawForm.getData();
					var param ={
						 brRq : 'IN_DATA'
						,brRs : 'OUT_DATA'
						,IN_DATA:[ data ]
					}
					_this.showProgress();
					_this.send('BR_UPBIT_EXCHANGE_POST_WITHDRAWS_KRW', param, function(data) {
						_this.hideProgress();
						if (data) {
							withdrawForm.setDataAll(data.OUT_DATA[0]);		
						}
					});	
				   break;
				 }
			  });
		});	
	});
	
	</script>