<div name="search_area">
  <table>
  <tr>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">CURRENCY</span> 
          <input type="text" class="form-control" data-ax-path="CURRENCY"  name="CURRENCY" style="width:100px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">출금 상태</span> 
          <select class="form-control" data-ax-path="STATE"  name="STATE" style="width:140px;">
          </select>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">출금 UUID의 목록</span> 
          <input type="text" class="form-control" data-ax-path="AL_UUIDS"  name="AL_UUIDS" style="width:100px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">출금 TXID의 목록</span> 
          <input type="text" class="form-control" data-ax-path="AL_TXIDS"  name="AL_TXIDS" style="width:100px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
