
<script>
	$(document).ready(function(){
		var UPBIT_0245 = new PgmPageMngr('[[${uuid}]]');
		UPBIT_0245.init(function(p_param) {
			var _this = UPBIT_0245;
			var currency = p_param.param.P_CURRENCY;
			var amount = p_param.param.P_AMOUNT;

			var withdrawForm = new FormMngr(_this, "withdraw_area");
		    $('[data-ax5formatter]').ax5formatter();
			withdrawForm.setData("CURRENCY",currency);	
			withdrawForm.setData("AMOUNT",amount);	

			var param ={
				brRq : 'IN_DATA'
				,brRs : 'OUT_DATA'
				,IN_DATA:[ {
					UUID : uuid
					,TXID : txid
					,CURRENCY : currency
				} ]
			}
			
			withdrawForm.addEvent("click","input[type=button]",function(el){
			   //console.log(el);
				 switch(el.target.name){
			   case 'save':
				   var data = withdrawForm.getData();
					var param ={
						 brRq : 'IN_DATA'
						,brRs : 'OUT_DATA'
						,IN_DATA:[ data ]
					}
					_this.showProgress();
					_this.send('BR_UPBIT_EXCHANGE_POST_WITHDRAWS_COIN', param, function(data) {
						_this.hideProgress();
						if (data) {
							
						}
					});	
				   break;
				 }
			  });
			  searchForm.get("search").trigger("click");
		});	
	});
	
	</script>