<div name="order_chance_area">
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
    <div class="row row-cols-3">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">매수 수수료 비율</span> <input type="text"
              disabled class="form-control"  data-ax-path="BID_FEE"  name="BID_FEE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">매도 수수료 비율</span> <input type="text"
            disabled class="form-control"  data-ax-path="ASK_FEE" name="ASK_FEE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">마켓의 유일 키</span> <input type="text"
            disabled class="form-control" data-ax-path="MARKET__ID" name="MARKET__ID">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">마켓 이름</span> <input type="text"
            disabled class="form-control"  data-ax-path="MARKET__NAME" name="MARKET__NAME">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">지원 주문 방식</span> <input type="text"
            disabled  class="form-control"  data-ax-path="MARKET__ORDER_TYPES" name="MARKET__ORDER_TYPES">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">지원 주문 종류</span> <input type="text"
            disabled class="form-control" data-ax-path="MARKET__ORDER_SIDES"  name="MARKET__ORDER_SIDES">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">매수 시 제약사항
    <div class="row row-cols-3">
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="MARKET__BID__CURRENCY"  name="MARKET__BID__CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">주문금액 단위</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="MARKET__BID__PRICE_UNIT"  name="MARKET__BID__PRICE_UNIT">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">최소 매도/매수 금액</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="MARKET__BID__MIN_TOTAL"  name="MARKET__BID__MIN_TOTAL">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">매도 시 제약사항
    <div class="row row-cols-3">        
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="MARKET__ASK__CURRENCY"  name="MARKET__ASK__CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">주문금액 단위</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="MARKET__ASK__PRICE_UNIT"  name="MARKET__ASK__PRICE_UNIT">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">최소 매도/매수 금액</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="MARKET__ASK__MIN_TOTAL"  name="MARKET__ASK__MIN_TOTAL">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
    <div class="row row-cols-3">  
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">최대 매도/매수 금액</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="MARKET__MAX_TOTAL"  name="MARKET__MAX_TOTAL">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">마켓 운영 상태</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="MARKET__STATE"  name="MARKET__STATE">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">매수 시 사용하는 화폐의 계좌 상태
    <div class="row row-cols-3">  
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="BID_ACCOUNT__CURRENCY"  name="BID_ACCOUNT__CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">주문가능 금액/수량</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="BID_ACCOUNT__BALANCE"  name="BID_ACCOUNT__BALANCE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">주문 중 묶여있는 금액/수량</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="BID_ACCOUNT__LOCKED"  name="BID_ACCOUNT__LOCKED">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">매수평균가</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="BID_ACCOUNT__AVG_BUY_PRICE"  name="BID_ACCOUNT__AVG_BUY_PRICE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">매수평균가 수정 여부</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="BID_ACCOUNT__AVG_BUY_PRICE_MODIFIED"  name="BID_ACCOUNT__AVG_BUY_PRICE_MODIFIED">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">평단가 기준 화폐</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="BID_ACCOUNT__UNIT_CURRENCY"  name="BID_ACCOUNT__UNIT_CURRENCY">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">	매도 시 사용하는 화폐의 계좌 상태
    <div class="row row-cols-3">  
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="ASK_ACCOUNT__CURRENCY"  name="ASK_ACCOUNT__CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">주문가능 금액/수량</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="ASK_ACCOUNT__BALANCE"  name="ASK_ACCOUNT__BALANCE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">주문 중 묶여있는 금액/수량</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="ASK_ACCOUNT__LOCKED"  name="ASK_ACCOUNT__LOCKED">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">매수평균가</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="ASK_ACCOUNT__AVG_BUY_PRICE"  name="ASK_ACCOUNT__AVG_BUY_PRICE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">매수평균가 수정 여부</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="ASK_ACCOUNT__AVG_BUY_PRICE_MODIFIED"  name="ASK_ACCOUNT__AVG_BUY_PRICE_MODIFIED">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">평단가 기준 화폐</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="ASK_ACCOUNT__UNIT_CURRENCY"  name="ASK_ACCOUNT__UNIT_CURRENCY">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
