
<div name="withdraw_area"> 
  <div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
    <div class="row row-cols-2">
      <div class="col-sm">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">입출금 종류</span> <input type="text"
              disabled class="form-control"  data-ax-path="TYPE"  name="TYPE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금의 고유 아이디</span> <input type="text"
            disabled class="form-control"  data-ax-path="UUID" name="UUID">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">화폐를 의미하는 영문 대문자 코드</span> <input type="text"
            disabled class="form-control" data-ax-path="CURRENCY" name="CURRENCY">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금의 트랜잭션 아이디</span> <input type="text"
            disabled  class="form-control"  data-ax-path="TXID" name="TXID">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 상태</span> <input type="text"
            disabled class="form-control" data-ax-path="STATE"  name="STATE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 생성 시간</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="CREATED_AT"  name="CREATED_AT">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 완료 시간</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="DONE_AT"  name="DONE_AT">
          </div>
        </div>
      </div>   
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 금액/수량</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="AMOUNT"  name="AMOUNT">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 수수료</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="FEE"  name="FEE">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">출금 유형</span> 
            <input type="text"
            disabled class="form-control" data-ax-path="TRANSACTION_TYPE"  name="TRANSACTION_TYPE">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>