
<script>
	$(document).ready(function(){
		var UPBIT_0215 = new PgmPageMngr('[[${uuid}]]');
		UPBIT_0215.init(function(p_param) {
			var _this = UPBIT_0215;

			console.log(p_param.param.MARKET);
			var market = p_param.param.MARKET;

			var orderChanceAreaForm = new FormMngr(_this, "order_chance_area");
			var searchForm = new FormMngr(_this, "search_area");
			var orderForm = new FormMngr(_this, "order_area");
			orderForm.initCombo("ORD_TYPE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'UPBIT_ORD_TYPE_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });
			
		    $('[data-ax5formatter]').ax5formatter();
			orderForm.setData("MARKET",market);
				
			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 40
                  ,visibleTotalCnt :false
                  ,width : 840
				  }
				,[
					{
					   header: '마켓 코드',
					   name: 'MARKET',
					   width: 100,
					   align : 'center'
					},{
					   header: '호가 생성 시각',
					   name: 'TIMESTAMP',
					   width: 100,
					   align : 'center',
					   resizable: false,
					   sortable : false,
					   sortingType: 'desc'
					},{
					   header: '호가 매도 총 잔량',
					   name: 'TOTAL_ASK_SIZE',
					   width: 300,
					   align : 'right',
					   sortable : false,
					   resizable: false,
					   sortingType: 'desc'
					},{
					   header: '호가 매수 총 잔량',
					   name: 'TOTAL_BID_SIZE',
					   width: 300,
					   align : 'right',
					   sortable : false,
					   resizable: false,
					   sortingType: 'desc'
					 }
				]
			);
			grid.build();
		
			const grid_orderbook_units_bid = new TuiGridMngr(_this,'grid_orderbook_units_bid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 140
                  ,width: 500
                  ,visibleTotalCnt :false
				  }
				,[
					{
					   header: '매수호가',
					   name: 'BID_PRICE',
					   width: 120,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					 },{
						 header: '매수 잔량',
						 name: 'BID_SIZE',
						 width: 300,
                         align : 'right',
						 sortable: false
					 }
				]
			);
			grid_orderbook_units_bid.build();
			grid_orderbook_units_bid.on('click', (ev) => {
				if (ev.rowKey >=0) {
					console.log(ev.rowKey);
					console.log(ev.columnName);
					if(ev.columnName=="MARKET"){
						var row_data=grid_orderbook_units_bid.getRow(ev.rowKey);
						console.log(row_data);
						//orderBuyForm.setDataAll(row_data);
						orderForm.setData("PRICE",row_data.BID_PRICE);
					}
				}
			});

			const grid_orderbook_units_ask = new TuiGridMngr(_this,'grid_orderbook_units_ask',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 140
                  ,width: 500
                  ,visibleTotalCnt :false
				  }
				,[
					{
					   header: '매도호가',
					   name: 'ASK_PRICE',
					   width: 120,
					   align : 'right',
					   resizable: true,
					   sortable : false,
					   sortingType: 'desc'
					},{
					   header: '매도 잔량',
					   name: 'ASK_SIZE',
					   width: 300,
					   align : 'right',
					   sortable : true,
					   resizable: false,
					   sortingType: 'desc'
					 }
				]
			);
			grid_orderbook_units_ask.build();
			
			grid_orderbook_units_ask.on('click', (ev) => {
				if (ev.rowKey >=0) {
					console.log(ev.rowKey);
					console.log(ev.columnName);
					if(ev.columnName=="MARKET"){
						var row_data=grid_orderbook_units_ask.getRow(ev.rowKey);
						console.log(row_data);
						//orderSellForm.setDataAll(row_data);
						orderForm.setData("PRICE",row_data.ASK_PRICE);

					}
				}
			});

			
			searchForm.addEvent("click","input[type=button]",function(el){
				//console.log(el);
				switch(el.target.name){
					case 'btn_search':
						var param ={
							brRq : 'IN_PSET'
							,brRs : 'OUT_RSET,OUT_RSET_ORDER_BOOK'
							,IN_PSET:[ {
								MARKETS : market
							} ]
						}
						_this.showProgress();
						_this.send_api('BR_UPBIT_QUOTATION_ORDER_BOOK', param, function(data) {
							_this.hideProgress();
							if (data) {
								grid.resetData(data.OUT_RSET);
								grid_orderbook_units_bid.resetData(data.OUT_RSET_ORDER_BOOK);
								grid_orderbook_units_ask.resetData(data.OUT_RSET_ORDER_BOOK);
							}
						});	

                        
                        var param ={
                            brRq : 'IN_PSET'
                            ,brRs : 'OUT_RSET'
                            ,IN_PSET:[ {
                                MARKET : market
                            } ]
                        }
                        _this.showProgress();
                        _this.send_api('BR_UPBIT_EXCHANGE_GET_ORDERS_CHANCE', param, function(data) {
                            _this.hideProgress();
                            if (data) {
                                console.log(data.OUT_RSET[0]);
                                orderChanceAreaForm.setDataAll(data.OUT_RSET[0]);		
                            }
                        });		
					break;		
				}
			});
			orderForm.addEvent("click","input[type=button]",function(el){
				switch(el.target.name){
					case 'btn_buy':
                        var bid_min_total=Number(orderChanceAreaForm.getData("MARKET__BID__MIN_TOTAL"));
                        var volume=Number(orderForm.getData("VOLUME"));
                        var price=Number(orderForm.getData("PRICE"));
                        var sum = volume*price;
                        if(bid_min_total>(sum)){
                            Message.alert("주문금액("+sum+")이 최소 주문금액("+bid_min_total+")보다 작습니다.");
                            return;
                        }
                    
						var param ={
							brRq : 'IN_PSET'
							,brRs : 'OUT_RSET'
							,IN_PSET:[ {
								MARKET : orderForm.getData("MARKET"),
								VOLUME : volume,
								PRICE : price,
								ORD_TYPE : orderForm.getData("ORD_TYPE"),
							} ]
						}
						_this.showProgress();
						_this.send_api('BR_UPBIT_EXCHANGE_POST_ORDERS_BUY', param, function(data) {
							_this.hideProgress();
							if (data) {

							}
						});	
					break;			
                    case 'btn_calc':
                        var ord_type = orderForm.getData("ORD_TYPE");

                        if(ord_type=='limit'){
                            var data = orderForm.getData();
                            console.log(data);
                            if(price==''){
                                var data = grid_orderbook_units_bid.getRowAt(0);
                                console.log(data);

                            } else {

                            }
                            
                        }

                        if(ord_type=='price'){
                            var data = orderChanceAreaForm.getData();
                            console.log(data.BID_FEE);
                            console.log(data.BID_ACCOUNT__BALANCE);
                            var bid_fee = data.BID_FEE*data.BID_ACCOUNT__BALANCE
                            var price =data.BID_ACCOUNT__BALANCE-bid_fee;
                            orderForm.setData("PRICE",price);
                        }

                    break;
					case 'btn_sell':
                        var ask_min_total=Number(orderChanceAreaForm.getData("MARKET__ASK__MIN_TOTAL"));
                        var volume=Number(orderForm.getData("VOLUME"));
                        var price=Number(orderForm.getData("PRICE"));
                        var sum = volume*price;
                        if(ask_min_total>(sum)){
                            Message.alert("주문금액("+sum+")이 최소 주문금액("+ask_min_total+")보다 작습니다.");
                            return;
                        }

						var param ={
							brRq : 'IN_PSET'
							,brRs : 'OUT_RSET'
							,IN_PSET:[ {
								MARKET : orderForm.getData("MARKET"),
                                VOLUME : volume,
								PRICE : price,
								ORD_TYPE : orderForm.getData("ORD_TYPE"),
							} ]
						}
						_this.showProgress();
						_this.send_api('BR_UPBIT_EXCHANGE_POST_ORDERS_SELL', param, function(data) {
							_this.hideProgress();
							if (data) {

							}
						});	
					break;			
				}
			});
			searchForm.get("btn_search").trigger("click");
		});	
	});	
	</script>