<script>
	$(document).ready(function () {
		var CM_2500 = new PgmPageMngr('[[${uuid}]]');
		CM_2500.init(function (p_param) {
			var _this = CM_2500;
			var searchForm = new FormMngr(_this, "search_area");
			searchForm.initCombo("GRP_SEQ",'BR_CM_BOARD_GROUP_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'Y' , VALUE :'GRP_SEQ' , TEXT :'GRP_NM' });
			var tabForm = new TabMngr(_this, "tab_area");
			tabForm.appendTab(
				[	{INDEX : 0,  PGM_ID : 'CM_2600' ,PARAM : null } ]
			);

			tabForm.build({
				active: 0
			});		

			console.log(_this);

			_this.on("remoteCall",function(data){
				console.log('CM_2500-remoteCall  ---  vvvvvv')
				var detail =data.detail; 
				console.log(detail);
				switch (detail.ACTION) {
					case 'SEARCH':
						var brd_Seq= detail.BRD_SEQ ;
						searchForm.setData('BRD_SEQ',brd_Seq);
						searchForm.get("search").trigger("click");
					break;
				}
			});

			
			const grid = new TuiGridMngr(_this, 'grid', {
					editable: false,
					showRowStatus: false,
					rowNum: true,
					checkbox: false,
					width: 1000 /*그리드 너비 조절 */ ,
					bodyHeight: 400 /*그리드 높이지정 */ ,
					showDummyRows: false
				},
				[{
						header: '관리일련번호',
						name: 'GRP_SEQ',
						width: 100,
						hidden: true
					},{     
						header : '게시판선택',
						name : 'GRP_SEQ',
						width : 200,
						sortable : true,
						align : "center",
						sortingType : 'desc', /*내림차순   ctrl 키를 누르고 정렬키를 여러개 누르면 이어서 정렬이 된다.*/
						type : "combo",
						comboData : _this.getComboData('BR_CM_BOARD_GROUP_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'Y' , VALUE :'GRP_SEQ' , TEXT :'GRP_NM' }),

					}, {
						header: 'BRD_SEQ',
						name: 'BRD_SEQ',
						width: 100
					}, {
						header: '게시판번호',
						name: 'BRD_NO',
						width: 100,
						hidden: true
					}, {
						header: '게시판답글순서',
						name: 'BRD_RPLY_ORD',
						width: 100,
						hidden: true
					}, {
						header: '답글깊이',
						name: 'BRD_DPTH',
						width: 100,
						hidden: true
					}, {
						header: '참조일련번호',
						name: 'REF_BRD_SEQ',
						width: 100,
						hidden: true
					}, {
						header: '제목',
						name: 'TTL_TEXT',
						width: 300
					}, {
						header: '삭제여부',
						name: 'DEL_YN',
						width: 100,
						sortable: true,
						align: "center"
					}, {

						header: '생성일',
						name: 'CRT_DTM',
						width: 140,
						sortable: true,
						align: "center"
					},
					{
						header: '수정일',
						name: 'UPDT_DTM',
						width: 140,
						sortable: true,
						align: "center"
					}
				]
			);
			grid.build();

			grid.on('click', (ev) => {
				if (ev.rowKey >=0) {
					var row_data=grid.getRow(ev.rowKey);
					console.log(row_data);

					var param = {
							ACTION  : 'SEARCH',
							BRD_SEQ : row_data.BRD_SEQ
					}
					tabForm.remoteCall('CM_2600', { detail: param });
					
				}
			});

			searchForm.addEvent("click", "input[type=button]", function (el) {
				switch (el.target.name) {
					case 'search':
						var data = searchForm.getData();
						var param = {
							brRq: 'IN_DATA',
							brRs: 'OUT_DATA',
							IN_DATA: [data]
						}
						grid.loadData('BR_CM_BOARD_FIND', param, function (data) {

						});
						break;
					case 'add_row':
					console.log('add_row')
						console.log(searchForm.get("GRP_SEQ"))
						var data = searchForm.getData("GRP_SEQ")
						console.log(data);

						if (PjtUtil.isEmpty(data) == true) {

							Message.alert("게시판선택을 선택해주세요.");
							return;
						}

						Message.confirm('신규게시물을 등록하시겠습니까?', function () {
							var param = {
								GRP_SEQ: data
							}
							var popup = new PopupManger(_this, 'CM_2700', {
									width: 1100,
									height: 900,
									title: "게시판등록/수정"
								},
								param
							);
							popup.open(function (data) {
								if (data) {
									console.log(data);
									searchForm.get("search").trigger("click");
								}
							});
						});
						break;

				}
			});
		});
	});
</script>