<div name="search_area">
    <table>
    <tr>    
      <td class="form-group">
          <div class="input-group">
            <span class="input-group-addon">COIN</span> 
            <input class="form-control" data-ax-path="COIN"  name="COIN" style="width:140px;"  />          
          </div>
      </td>
      <td>
          <div class="input-group">
              <span class="input-group-addon">START_AMT</span> 
              <input class="form-control" data-ax-path="START_AMT"  name="START_AMT" style="width:140px;"  />          
            </div>
      </td>          
      <td>
            <div class="input-group">
              <span class="input-group-addon">END_AMT</span> 
              <input class="form-control" data-ax-path="END_AMT"  name="END_AMT" style="width:140px;"  />          
            </div>
        </div>
      </td>
      <td><input type="button" name="search" value="조회" /></td>
      <td><input type="button" name="sync" value="싱크" /></td>
    </tr>
    </table>
  </div>
  <div name="grid"></div>
  
  
  
  