<table>
    <tr>
        <td class="vat">
            <table>
            <tr>
                <td>
                    <div name="search_area_in">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">CLIENT_ORDER_ID</span> 
                                        <input class="form-control" data-ax-path="CLIENT_ORDER_ID"  name="CLIENT_ORDER_ID" style="width:140px;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">SYMBOL</span> 
                                        <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">SIDE</span> 
                                        <select class="form-control" data-ax-path="SIDE"  name="SIDE" style="width:140px;">
                                        </select>
                                        </div>
                                    </div>
                                </td>
                                <td><input type="button" name="search" value="조회" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div name="grid_log"></div></td>
            </tr>
            </table>            
        </td>
        <td width="30"></td>
        <td class="vat">
            <table>
            <tr>
                <td>
                    <div name="search_area_out">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">CLIENT_ORDER_ID</span> 
                                        <input class="form-control" data-ax-path="CLIENT_ORDER_ID"  name="CLIENT_ORDER_ID" style="width:140px;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">SYMBOL</span> 
                                        <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">SIDE</span> 
                                        <select class="form-control" data-ax-path="SIDE"  name="SIDE" style="width:140px;">
                                        </select>
                                        </div>
                                    </div>
                                </td>
                                <td><input type="button" name="search" value="조회" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div name="grid_fills_log"></div></td>
            </tr>
            </table>            
        </td>
    </tr>
    </table>