<div name="search_area">
    <table>
    <tr>
    <td>
        <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon">BALANCE_TYPE</span> 
            <select class="form-control" data-ax-path="BALANCE_TYPE"  name="BALANCE_TYPE" style="width:200px;">
            </select>
            </div>
        </div>
    </td>              
      <td>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">업비트구매코인</span>       
            <input type="text" class="form-control" data-ax-path="UPBIT_MARKET"  name="UPBIT_MARKET" style="width:140px;" />
          
          </div>
        </div>
      </td>
      <td>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">바이낸스판매코인</span> 
              <input class="form-control" data-ax-path="BINANCE_SYMBOL"  name="BINANCE_SYMBOL" style="width:140px;" />
              
            </div>
          </div>
        </td>
        <td><input type="button" name="sync" value="싱크" /></td>        
      <td><input type="button" name="search" value="조회" /></td>
      <td><input type="button" name="excel" value="엑셀" /></td>
    </tr>
    </table>
  </div>
  <div name="grid"></div>
  
  
  
  