<table>
    <tr>
        <td class="vat">
            <table>
            <tr>
                <td>
                    <div name="search_area_in">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">IDENTIFIER</span> 
                                        <input class="form-control" data-ax-path="IDENTIFIER"  name="IDENTIFIER" style="width:140px;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">MARKET</span> 
                                        <input class="form-control" data-ax-path="MARKET"  name="MARKET" style="width:140px;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">SIDE</span> 
                                        <select class="form-control" data-ax-path="SIDE"  name="SIDE" style="width:140px;">
                                        </select>
                                        </div>
                                    </div>
                                </td>
                                <td><input type="button" name="search" value="조회" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div name="grid_in_log"></div></td>
            </tr>
            </table>            
        </td>
        <td width="30"></td>
        <td class="vat">
            <table>
            <tr>
                <td>
                    <div name="search_area_out">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">IDENTIFIER</span> 
                                        <input class="form-control" data-ax-path="IDENTIFIER"  name="IDENTIFIER" style="width:140px;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">MARKET</span> 
                                        <input class="form-control" data-ax-path="MARKET"  name="MARKET" style="width:140px;">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                        <span class="input-group-addon">SIDE</span> 
                                        <select class="form-control" data-ax-path="SIDE"  name="SIDE" style="width:140px;">
                                        </select>
                                        </div>
                                    </div>
                                </td>
                                <td><input type="button" name="search" value="조회" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div name="grid_out_log"></div></td>
            </tr>
            </table>            
        </td>
    </tr>
    </table>