
<script>
	$(document).ready(function(){
		var FX_0150 = new PgmPageMngr('[[${uuid}]]');
		FX_0150.init(function(p_param) {
            console.log(p_param.param.SYMBOL);
			var _this = FX_0150;
			var searchForm = new FormMngr(_this, "search_area");
			searchForm.setData('SYMBOL',p_param.param.SYMBOL);

            var sendForm = new FormMngr(_this, "send_area");
			sendForm.initCombo("TYPE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'BINANCE_TYPE_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });
			sendForm.initCombo("SIDE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'BINANCE_SIDE_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });
			sendForm.initCombo("TIME_IN_FORCE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'BINANCE_TIME_IN_FORCE_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });

            sendForm.setData('SYMBOL',p_param.param.SYMBOL);

            
            const grid_iceberg_parts = new TuiGridMngr(_this,'grid_iceberg_parts',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
				  ,checkbox: false
				  ,pageable: false
                  ,visibleTotalCnt: false 
				  ,bodyHeight : 40
				  ,width : 80
				  }
			,[
                    {
					   header: 'LIMIT',
					   name: 'LIMIT',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
            grid_iceberg_parts.build();

            const grid_max_num_orders = new TuiGridMngr(_this,'grid_max_num_orders',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
				  ,checkbox: false
				  ,pageable: false
                  ,visibleTotalCnt: false
				  ,bodyHeight : 40
				  ,width : 140
				  }
			,[
                    {
					   header: 'MAX_NUM_ORDERS',
					   name: 'MAX_NUM_ORDERS',
					   width: 120,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
            grid_max_num_orders.build();

            const grid_lot_size = new TuiGridMngr(_this,'grid_lot_size',{
                editable: false
                ,showRowStatus: false
                ,rowNum: false
                ,checkbox: false
                ,pageable: false
                ,visibleTotalCnt: false
                ,bodyHeight : 40
                ,width : 300
                }
            ,[
                {
                    header: 'MAX_QTY',
                    name: 'MAX_QTY',
                    width: 100,
                    align : 'right',
                    sortable : false,
                    resizable: true,
                    sortingType: 'desc'
                },{
                    header: 'MIN_QTY',
                    name: 'MIN_QTY',
                    width: 80,
                    align : 'right',
                    sortable : false,
                    resizable: true,
                    sortingType: 'desc'
                },{
                    header: 'STEP_SIZE',
                    name: 'STEP_SIZE',
                    width: 80,
                    align : 'right',
                    sortable : false,
                    resizable: true,
                    sortingType: 'desc'
                }
            ]
            );
            grid_lot_size.build();

            const grid_market_lot_size = new TuiGridMngr(_this,'grid_market_lot_size',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
				  ,checkbox: false
                  ,visibleTotalCnt: false
				  ,pageable: false
				  ,bodyHeight : 40
				  ,width : 300
				  }
			,[
                    {
					   header: 'MAX_QTY',
					   name: 'MAX_QTY',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'MIN_QTY',
					   name: 'MIN_QTY',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'STEP_SIZE',
					   name: 'STEP_SIZE',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
            grid_market_lot_size.build();

            const grid_max_num_algo_orders = new TuiGridMngr(_this,'grid_max_num_algo_orders',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
				  ,checkbox: false
                  ,visibleTotalCnt: false
				  ,pageable: false
				  ,bodyHeight : 40
				  ,width : 320
				  }
			,[
                   {
					   header: 'MAX_NUM_ALGO_ORDERS',
					   name: 'MAX_NUM_ALGO_ORDERS',
					   width: 160,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}, {
                        header : '생성일',
                        name : 'CRT_DTM',
                        width : 120,
                        sortable : false,
					    resizable: true,
                        align : "center"
                    }
				]
			);
            grid_max_num_algo_orders.build();


            const grid_symbol = new TuiGridMngr(_this,'grid_symbol',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
				  ,checkbox: false
                  ,visibleTotalCnt: false
				  ,pageable: false
				  ,bodyHeight : 40
				  ,width : 1500
				  }
			,[
                    {
					   header: 'STATUS',
					   name: 'STATUS',
					   width: 60,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'BASE_ASSET_PRECISION',
					   name: 'BASE_ASSET_PRECISION',
					   width: 150,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'BASE_COMMISSION_PRECISION',
					   name: 'BASE_COMMISSION_PRECISION',
					   width: 180,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ICEBERG_ALLOWED',
					   name: 'ICEBERG_ALLOWED',
					   width: 120,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'IS_MARGIN_TRADING_ALLOWED',
					   name: 'IS_MARGIN_TRADING_ALLOWED',
					   width: 170,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'IS_SPOT_TRADING_ALLOWED',
					   name: 'IS_SPOT_TRADING_ALLOWED',
					   width: 160,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'OCO_ALLOWED',
					   name: 'OCO_ALLOWED',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QUOTE_ORDER_QTY_MARKET_ALLOWED',
					   name: 'QUOTE_ORDER_QTY_MARKET_ALLOWED',
					   width: 140,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QUOTE_ASSET_PRECISION',
					   name: 'QUOTE_ASSET_PRECISION',
					   width: 140,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QUOTE_COMMISSION_PRECISION',
					   name: 'QUOTE_COMMISSION_PRECISION',
					   width: 140,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QUOTE_PRECISION',
					   name: 'QUOTE_PRECISION',
					   width: 120,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
            grid_symbol.build();



            
            const grid_min_notional = new TuiGridMngr(_this,'grid_min_notional',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
                  ,visibleTotalCnt: false
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 40
				  ,width : 340
				  }
			,[
                    {
					   header: 'MIN_NOTIONAL',
					   name: 'MIN_NOTIONAL',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'APPLY_TO_MARKET',
					   name: 'APPLY_TO_MARKET',
					   width: 120,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'AVG_PRICE_MINS',
					   name: 'AVG_PRICE_MINS',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
            grid_min_notional.build();
           
            const grid_price_filter = new TuiGridMngr(_this,'grid_price_filter',{
                editable: false
                ,showRowStatus: false
                ,rowNum: false
                ,checkbox: false
                ,visibleTotalCnt: false
                ,pageable: false
                ,bodyHeight : 40
                ,width : 320
                }
            ,[
                {
                    header: 'MAX_PRICE',
                    name: 'MAX_PRICE',
                    width: 100,
                    align : 'left',
                    sortable : false,
                    resizable: true,
                    sortingType: 'desc'
                },{
                    header: 'MIN_PRICE',
                    name: 'MIN_PRICE',
                    width: 100,
                    align : 'left',
                    sortable : false,
                    resizable: true,
                    sortingType: 'desc'
                },{
                    header: 'TICK_SIZE',
                    name: 'TICK_SIZE',
                    width: 100,
                    align : 'left',
                    sortable : false,
                    resizable: true,
                    sortingType: 'desc'
                }
            ]
            );
            grid_price_filter.build();

            const grid_percent_price = new TuiGridMngr(_this,'grid_percent_price',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
                  ,visibleTotalCnt: false
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 40
				  ,width : 340
				  }
			,[
                   {
					   header: 'MULTIPLIER_UP',
					   name: 'MULTIPLIER_UP',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'MULTIPLIER_DOWN',
					   name: 'MULTIPLIER_DOWN',
					   width: 110,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'AVG_PRICE_MINS',
					   name: 'AVG_PRICE_MINS',
					   width: 110,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
            grid_percent_price.build();

           
            const grid_order_types = new TuiGridMngr(_this,'grid_order_types',{
                editable: false
                ,showRowStatus: false
                ,rowNum: false
                ,checkbox: false
                ,pageable: false
                ,visibleTotalCnt: false
                ,bodyHeight : 40
                ,width : 140
                }
            ,[
                {
                    header: 'ORDER_TYPE',
                    name: 'ORDER_TYPE',
                    width: 120,
                    align : 'left',
                    sortable : false,
                    resizable: true,
                    sortingType: 'desc'
                }
            ]
            );
            grid_order_types.build();

            




			const grid_bid = new TuiGridMngr(_this,'grid_bid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
				  ,checkbox: false
				  ,pageable: false
                  ,visibleTotalCnt:false
                  ,bodyHeight : 100
				  ,width : 370
				  }
			,[
                    {
					   header: 'SEQ',
					   name: 'SEQ',
					   width: 30,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'BID_PRICE',
					   name: 'BID_PRICE',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'BID_QTY',
					   name: 'BID_QTY',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
		  	grid_bid.build();
            grid_bid.on('click', (ev) => {
				var rowKey = ev.rowKey;
				if (rowKey >=0) {
                    var row_data=grid_bid.getRow(rowKey);
                    console.log('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa');
                    console.log(row_data);
                    var bid_price = row_data.BID_PRICE;//매수호가
                    sendForm.setData('PRICE',bid_price);		
                    
                    var balance_data = grid_balances.getData();
                    console.log(balance_data);
                    balance_data=balance_data.filter(function(a) {
                        console.log(a.ASSET)
                        if(a.ASSET=='USDT'){
                            return true;
                        } else {
                            return false;
                        }
                    });
                    console.log(balance_data);
                    var free = Number(balance_data[0].FREE);
                    console.log(free);
                    console.log('free==>'+free);
                    console.log('bid_price==>'+bid_price);
                    var qty = (free/bid_price);
                    console.log('qty==>'+qty);
                   

                    var row_data = grid_symbol.getData();
                    console.log(row_data);
                    var base_asset_precision = Number(row_data[0].BASE_ASSET_PRECISION);
                    var qty = Number(qty.toFixed(base_asset_precision));  /*소숫점 정리작업을 해준단.*/
                    console.log('qty-2==>'+qty);
                    /*LOT_SIZE가 문제가 되는데   STEP_SIZE를 구해서 
                    버림작업을 해줘야한다.
                    */
                    var row_data = grid_lot_size.getData();
                    console.log(row_data);
                    var step_size = Number(row_data[0].STEP_SIZE);
                    console.log('step_size==>'+step_size);
                    
                    var cnt = parseInt(qty/step_size);
                    console.log('cnt==>'+cnt);
                    var  qty = cnt*step_size;
                    console.log(qty);
                    console.log('qty-3==>'+qty);

                    /*
                    The minimum trade price is json.symbols[i].filters[0].minPrice
                    The tickSize for the price is json.symbols[i].filters[0].tickSize
                    The minimum tradeable quantity is json.symbols[i].filters[1].minQty
                    The stepSize for the quantity is json.symbols[i].filters[1].stepSize
                    
                    */


                    sendForm.setData('QUANTITY',qty);	
				}
			});

			const grid_ask = new TuiGridMngr(_this,'grid_ask',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: false
				  ,checkbox: false
				  ,pageable: false
                  ,visibleTotalCnt:false
				  ,bodyHeight : 100
				  ,width : 370
				  }
			,[
                    {
					   header: 'SEQ',
					   name: 'SEQ',
					   width: 30,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ASK_PRICE',
					   name: 'ASK_PRICE',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ASK_QTY',
					   name: 'ASK_QTY',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
		  	grid_ask.build();
            grid_ask.on('click', (ev) => {
				var rowKey = ev.rowKey;
				if (rowKey >=0) {
                    var row_data=grid_ask.getRow(rowKey);
                    console.log('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa');
                    console.log(row_data);
                    var ask_price = Number(row_data.ASK_PRICE);//매수호가
                    sendForm.setData('PRICE',ask_price);	
                    
                    var balance_data = grid_balances.getData();
                    console.log(balance_data);
                    balance_data=balance_data.filter(function(a) {
						console.log(a.ASSET)
						if(a.ASSET=='USDT'){
							return true;
						} else {
							return false;
						}
					});
                    console.log(balance_data);
                    var free = Number(balance_data[0].FREE);
                    console.log(free);
                    console.log(ask_price);
                    var qty = (free/ask_price);
                    console.log(qty);
                            

                    var row_data = grid_symbol.getData();
                    console.log(row_data);
                    var base_asset_precision = Number(row_data[0].BASE_ASSET_PRECISION);
                    var qty = Number(qty.toFixed(base_asset_precision));  /*소숫점 정리작업을 해준단.*/
                    console.log('qty-2==>'+qty);
                    /*LOT_SIZE가 문제가 되는데   STEP_SIZE를 구해서 
                    버림작업을 해줘야한다.
                    */
                    var row_data = grid_lot_size.getData();
                    console.log(row_data);
                    var step_size = Number(row_data[0].STEP_SIZE);
                    console.log('step_size==>'+step_size);
                    
                    var cnt = parseInt(qty/step_size);
                    console.log('cnt==>'+cnt);
                    var  qty = cnt*step_size;
                    console.log(qty);
                    console.log('qty-3==>'+qty);
                    sendForm.setData('QUANTITY',qty);	
                    
				}
			});

              
			const grid_balances = new TuiGridMngr(_this,'grid_balances',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
                  ,visibleTotalCnt:false
                  ,bodyHeight: 100 
                  ,width: 360
				  }
			,[
                    {
					   header: 'ASSET',
					   name: 'ASSET',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'FREE',
					   name: 'FREE',
					   width: 100,
					   align : 'right',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'LOCKED',
					   name: 'LOCKED',
					   width: 100,
					   align : 'right',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}				
				]
			);
			grid_balances.build();
           


              const grid_trade_fee = new TuiGridMngr(_this,'grid_trade_fee',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
                  ,bodyHeight: 60
                  ,visibleTotalCnt:false
                  ,width : 440
				  }
			,[
					{
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'				
					},{
					   header: 'MAKER_COMMISSION',
					   name: 'MAKER_COMMISSION',
					   width: 130,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'				
					},{
					   header: 'TAKER_COMMISSION',
					   name: 'TAKER_COMMISSION',
					   width: 120,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'				
					}
				]
			);
		  	grid_trade_fee.build();


              

              const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  ,bodyHeight : 100
                  ,visibleTotalCnt:false
				  ,width : 1400
				  }
			,[
			{
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ORDER_ID',
					   name: 'ORDER_ID',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ORDER_LIST_ID',
					   name: 'ORDER_LIST_ID',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'CLIENT_ORDER_ID',
					   name: 'CLIENT_ORDER_ID',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'TRANSACT_TIME',
					   name: 'TRANSACT_TIME',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'PRICE',
					   name: 'PRICE',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ORIG_QTY',
					   name: 'ORIG_QTY',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'EXECUTED_QTY',
					   name: 'EXECUTED_QTY',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'CUMMULATIVE_QUOTE_QTY',
					   name: 'CUMMULATIVE_QUOTE_QTY',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'STATUS',
					   name: 'STATUS',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'TIME_IN_FORCE',
					   name: 'TIME_IN_FORCE',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'TYPE',
					   name: 'TYPE',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'SIDE',
					   name: 'SIDE',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
			grid.build();


			const grid_fills = new TuiGridMngr(_this,'grid_fills',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
                  ,visibleTotalCnt:false
				  ,bodyHeight : 100
				  ,width : 700
				  }
			,[
			{
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'PRICE',
					   name: 'PRICE',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QTY',
					   name: 'QTY',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'COMMISSION',
					   name: 'COMMISSION',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'COMMISSION_ASSET',
					   name: 'COMMISSION_ASSET',
					   width: 100,
					   align : 'left',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
			grid_fills.build();




            
		
			searchForm.addEvent("click","input[type=button]",function(el){
				switch(el.target.name){
                case 'search':
                    var data = searchForm.getData();
                    console.log('data');
                    console.log(data);
                    var param ={
                        brRq : 'IN_PSET'
                        ,brRs : 'OUT_RSET_ORDER_BOOK,OUT_RSET_TRADE_FEE,OUT_RSET_BALANCES'
                        ,IN_PSET: [data]
                    }
                
                    _this.showProgress();
                    _this.send_api('BR_FX_retrieveBinanceOrderBookTradeFeeAccount', param, function(data) {
                        _this.hideProgress();
                        if (data) {
                                        
                            console.log(data);
                                    
                            grid_bid.resetData(data.OUT_RSET_ORDER_BOOK);
                            grid_ask.resetData(data.OUT_RSET_ORDER_BOOK);
                            grid_trade_fee.resetData(data.OUT_RSET_TRADE_FEE);
                            grid_balances.resetData(data.OUT_RSET_BALANCES);
                            

                        }
                    });


                    var data = searchForm.getData();
                    var param ={
                        brRq : 'IN_DATA'
                        ,brRs : 'OUT_RSET'
                        ,IN_DATA : [data]
                    }
                    grid_symbol.loadData('BR_BINANCE_MARKET_retrieveExchangeInfo',param,function(data){
                        console.log(data);
                    });

                    grid_iceberg_parts.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersIcebergParts',param,function(data){
                        console.log(data);
                    });

                    grid_min_notional.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersMinNotional',param,function(data){
                        console.log(data);
                    });

                    grid_market_lot_size.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersMarketLotSize',param,function(data){
                        console.log(data);
                    });

                    grid_max_num_algo_orders.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersMaxNumAlgoOrders',param,function(data){
                        console.log(data);
                    });

                    grid_max_num_orders.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersMaxNumOrders',param,function(data){
                        console.log(data);
                    });

                    grid_percent_price.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersPercentPrice',param,function(data){
                        console.log(data);
                    });

                    grid_price_filter.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersPriceFilter',param,function(data){
                        console.log(data);
                    });

                    grid_order_types.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoOrderTypes',param,function(data){
                        console.log(data);
                    });


                    grid_lot_size.loadData('BR_BINANCE_MARKET_retrieveExchangeInfoFiltersLotSize',param,function(data){
                        console.log(data);
                    });
				    break;
                }
            });

            sendForm.addEvent("click","input[type=button]",function(el){
                switch(el.target.name){
                    case 'test_new_order':
                        if(!sendForm.isValid()){
                            return;
                        }

                        Message.confirm('신규주문Test를 하겠습니까?',function()  {
                            var data = sendForm.getData();
                            console.log('data');
                            console.log(data);
                            var param ={
                                brRq : 'IN_PSET'
                                ,brRs : 'OUT_RSET,OUT_RSET_FILLS'
                                ,IN_PSET: [data]
                            }
                            _this.showProgress();
                            _this.send_socket('BR_SPOT_ACCOUNT_TRADE_POST_API_V3_TestNewOrder', param, function(data) {
                                _this.hideProgress();
                                if (data) {
                                    var row_data = data.OUT_RSET;
                                    console.log(data);
                                    grid.resetData(data.OUT_RSET);
                                    grid_fills.resetData(data.OUT_RSET_FILLS);
                                } 

                            });
				        });

                    
                        break;
				}
			});
			searchForm.get("search").trigger("click");
	});	
});

</script>