<div name="search_area">
    <table>
        <tr>
            <td>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon">COIN</span> 
                    <input class="form-control" data-ax-path="COIN"  name="COIN" style="width:140px;">
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon">WITHDRAW_ORDER_ID</span> 
                    <input class="form-control" data-ax-path="WITHDRAW_ORDER_ID"  name="WITHDRAW_ORDER_ID" style="width:140px;">
                    </div>
                </div>
            </td>
            <td><input type="button" name="search" value="조회" /></td>
        </tr>
    </table>
</div>
              

    <div name="grid"></div>