<div name="search_area">   
      <table>
      <tr> 
        <td>SYMBOL(필수)</td>
        <td><input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  /></td>
        <td><input type="button" name="search" value="조회" /></td>
      </tr>
      </table>
    </div>

     
    
<table>
    <tr>
        <td>Iceberg Parts</td>
        <td><div name="grid_iceberg_parts"></div></td>
        <td><div name="grid_max_num_orders"></div></td>
        <td>Lot Size</td>
        <td><div name="grid_lot_size"></div></td>
        <td>Market Lot Size</td>
        <td><div name="grid_market_lot_size"></div></td>
        <td><div name="grid_max_num_algo_orders"></div></td>
    </tr>
</table>

<table>
<tr>
    <td>exchange info</td>
    <td><div name="grid_symbol"></div></td>
</tr>
</table>

<table>
<tr>
    <td>Min Notional</td>
    <td><div name="grid_min_notional"></div></td>
    <td>Price Filter</td>
    <td><div name="grid_price_filter"></div></td>    
    <td>Percent Price</td>
    <td><div name="grid_percent_price"></div></td>    
    <td><div name="grid_order_types"></div></td>
</tr>
</table>
    
    <table>
      <tr>
        <td>매수(BID)-grid_bid</td>
        <td>매도(ASK)-grid_ask</td>
        <td>잔액-grid_balances</td>
        <td>거래수수료-grid_trade_fee</td>
      </tr>
      <tr>
        <td><div name="grid_bid"></div></td>
        <td><div name="grid_ask"></div></td>
        <td><div name="grid_balances"></div></td>
        <td class="vat"><div name="grid_trade_fee"></div></td>
      </tr>
    </table>
    
   

    <form name="send_area">
        <div style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
            <table>
            <tr>
                <td>SYMBOL(필수)</td>
                <td><input class="form-control  input-sm" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  />       </td>
                <td>SIDE(ENUM)</td>
                <td><select class="form-control" data-ax-path="SIDE"  name="SIDE" style="width:140px;">
                    </select>
                </td>
                <td>TYPE(ENUM)</td>
                <td>
                    <select class="form-control" data-ax-path="TYPE"  name="TYPE" style="width:140px;">
                    </select>
                </td>
                <td>TIME_IN_FORCE(ENUM)</td>
                <td>
                    <select class="form-control" data-ax-path="TIME_IN_FORCE"  name="TIME_IN_FORCE" style="width:140px;">
                    </select>
                </td>
                <td>QUOTE_ORDER_QTY</td>
                <td><input class="form-control" data-ax-path="QUOTE_ORDER_QTY"  name="QUOTE_ORDER_QTY" style="width:140px;"  /></td>
            </tr>
            <tr>
                <td>PRICE</td>
                <td><input class="form-control" data-ax-path="PRICE"  name="PRICE" style="width:140px;"  /></td>
                <td>STOP_PRICE</td>
                <td><input class="form-control" data-ax-path="STOP_PRICE"  name="STOP_PRICE" style="width:140px;"  /></td>
                <td>QUANTITY</td>
                <td><input class="form-control" data-ax-path="QUANTITY"  name="QUANTITY" style="width:140px;"  /></td>
                <td>ICEBERG_QTY</td>
                <td><input class="form-control" data-ax-path="ICEBERG_QTY"  name="ICEBERG_QTY" style="width:140px;"  /> </td>
                <td>NEW_CLIENT_ORDER_ID</td>
                <td><input class="form-control" data-ax-path="NEW_CLIENT_ORDER_ID"  name="NEW_CLIENT_ORDER_ID" style="width:140px;"  /></td>
                <td>
                    <input type="button" name="new_order" value="신규주문" />
                    <input type="button" name="test_new_order" value="신규주문Test" />
                </td>
            </tr>
            </table>
        </div>
    </form>
    <div name="grid"></div>
    <div name="grid_fills"></div>
    
