
<script>
	$(document).ready(function(){
		var FX_0130 = new PgmPageMngr('[[${uuid}]]');
		FX_0130.init(function(p_param) {
			var _this = FX_0130;
			var searchForm = new FormMngr(_this, "search_area");
            searchForm.initCombo("BALANCE_TYPE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'BALANCE_TYPE', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'Y' , VALUE :'CD' , TEXT :'CD_NM' });
			//value="BNBBTC"
			//searchForm.setData('SYMBOL','BNBBTC');
            searchForm.setData('START_AMT','900000');
            searchForm.setData('END_AMT','1000000');
            /*
	

            
            */
			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: true
                  ,header: {
                        height: 60,
                        complexColumns: [
                        {
                            header: '업비트-단가',
                            name: 'mergeColumn1',
                            childNames: [
                            'COIN','MARKET','SYMBOL'
                            ,'UPBIT_PRICE','BINANCE_PRICE_KRW','BINANCE_PRICE_USD'
                            ,'GAP','PER'
                            ]
                        } ,{
                            header: '업비트-합',
                            name: 'mergeColumn2',
                            childNames: ['CNT',
                            'UPBIT_WITHDRAW_FEE_AMT','UPBIT_BID_FEE_AMT'
                            ,'UPBIT_SUM_PRICE','UPBIT_SUM_AMT'
                            ,'BINANCE_SUM_AMT'
                            ,'SUM_GAP','SUM_PER'
                            ]
                        }       , {
                            header: '잔액',
                            name: 'mergeColumn0',
                            childNames: [
                            'BALANCE_TYPE','UPBIT_KRW_BALANCE',
                            'MIN_KRW_BALANCE','BASE_KRW_BALANCE'
                            ]
                        }                  
                        ]
                    }
				  }
			,[
                    {
					   header: 'FX_SEQ',
					   name: 'FX_SEQ',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'R',
					   name: 'RNK',
					   width: 30,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: '(C)',
					   name: 'COIN_RNK',
					   width: 30,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: '코인',
					   name: 'COIN',
					   width: 80,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: '업비트',
					   name: 'MARKET',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: '바이낸스',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: '업비트',
					   name: 'UPBIT_PRICE',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '바이낸스',
					   name: 'BINANCE_PRICE_KRW',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '$바이낸스',
					   name: 'BINANCE_PRICE_USD',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: 'GAP',
					   name: 'GAP',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'BINANCE_PRICE_KRW',
                                tgt : 'UPBIT_PRICE'
                            }
                        },
					},{
					   header: 'PER',
					   name: 'PER',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'BINANCE_PRICE_KRW',
                                tgt : 'UPBIT_PRICE'
                            }
                        },
					},{
					   header: '수량',
					   name: 'CNT',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '수수료',
					   name: 'UPBIT_BID_FEE_AMT',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '출금',
					   name: 'UPBIT_WITHDRAW_FEE_AMT',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '업비트(수X)',
					   name: 'UPBIT_SUM_PRICE',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '업비트(수O)',
					   name: 'UPBIT_SUM_AMT',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '바이낸스',
					   name: 'BINANCE_SUM_AMT',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
                    },{
					   header: 'GAP',
					   name: 'SUM_GAP',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'BINANCE_SUM_AMT',
                                tgt : 'UPBIT_SUM_AMT'
                            }
                        },
					},{
					   header: 'PER',
					   name: 'SUM_PER',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'BINANCE_SUM_AMT',
                                tgt : 'UPBIT_SUM_AMT'
                            }
                        },
					},{
					   header: '최소구매C',
					   name: 'UPBIT_MIN_CNT',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '최소출금C',
					   name: 'UPBIT_WITHDRAW_MINIMUN',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '최소구매금액',
					   name: 'UPBIT_BID_MIN_TOTAL',
					   width: 70,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '(B)수수료율',
					   name: 'BINANCE_MAKER_COMMISSION',
					   width: 70,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '(U)수수료율',
					   name: 'UPBIT_BID_FEE',
					   width: 70,
					   align : 'right',
					   sortable : false,
					   resizable: true,
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: '환율',
					   name: 'KRW_USD',
					   width: 70,
					   align : 'right',
					   sortable : false,
					   resizable: true,
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: 'TYPE',
					   name: 'BALANCE_TYPE',
					   width: 60,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'U_KRW',
					   name: 'UPBIT_KRW_BALANCE',
					   width: 80,
                       align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: 'MIN_KRW',
					   name: 'MIN_KRW_BALANCE',
					   width: 80,
                       align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: 'BASE_KRW',
					   name: 'BASE_KRW_BALANCE',
					   width: 80,
                       align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
                        header : '생성일',
                        name : 'CRT_DTM',
                        renderer : {
                            type : datetimeRenderer,
                            options : {
                                format : 'yyyy-MM-DD HH:mm' /*YYYYMMDDHHmmss    이게 풀양식이다.*/
                                ,source : 'YYYYMMDDHHmmss' /*TIME 초, YYYYMMDD , YYYYMMDDHHmm,  YYYYMMDDHHmmss  */
                            }
                        },
                        width : 100,
                        sortable : false,
                        align : "center"
                    }
				]
			);
			grid.build();
		
			searchForm.addEvent("click","input[type=button]",function(el){
			//console.log(el);
				switch(el.target.name){
                case 'search':
                    var data = searchForm.getData();
                    console.log('data');
                    console.log(data);
                    var param ={
                        brRq : 'IN_PSET'
                        ,brRs : 'OUT_RSET'
                        ,IN_PSET :  [ data ]
                    }
                
                    grid.loadData('BR_FX_retrieveTmpUpbit', param, function(data) {
                        if (data) {
                        }
                    });
                    
                    break;
                case 'sync':
                    Message.confirm('싱크하시겠습니까?', function() {
                        _this.showProgress();
                        var param = {
                            brRq : '',
                            brRs : ''
                        }
                        _this.send_api('BR_FX_TMP_calculate', param, function(data) {
                            _this.hideProgress();
                            Message.alert('싱크되었습니다.', function() {
                                searchForm.get("search").trigger("click");
                            });
                        });                    
                    });                    
                    break;
                }
				
			});
			searchForm.get("search").trigger("click");
	});	
});

</script>