
<script>
	$(document).ready(function(){
		var FX_0145 = new PgmPageMngr('[[${uuid}]]');
		FX_0145.init(function(p_param) {
			var _this = FX_0145;
			var searchForm = new FormMngr(_this, "search_area");

            const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: true
                  ,bodyHeight : 600                
				  }
			,[
                    {
					   header: 'FX_SEQ',
					   name: 'FX_SEQ',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'SEQ',
					   name: 'SEQ',
					   width: 30,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ASK_PRICE',
					   name: 'ASK_PRICE',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: 'BID_PRICE',
					   name: 'BID_PRICE',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: 'ASK_QTY',
					   name: 'ASK_QTY',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: 'BID_QTY',
					   name: 'BID_QTY',
					   width: 100,
                       align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        }
					},{
					   header: 'TRADE_TYPE',
					   name: 'TRADE_TYPE',
					   width: 100,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
                        header : '생성일',
                        name : 'CRT_DTM',
                        renderer : {
                            type : datetimeRenderer,
                            options : {
                                format : 'yyyy-MM-DD HH:mm' /*YYYYMMDDHHmmss    이게 풀양식이다.*/
                                ,source : 'YYYYMMDDHHmmss' /*TIME 초, YYYYMMDD , YYYYMMDDHHmm,  YYYYMMDDHHmmss  */
                            }
                        },
                        width : 120,
                        sortable : true,
                        align : "center"
                    }
				]
			);
			grid.build();
		
			searchForm.addEvent("click","input[type=button]",function(el){
			//console.log(el);
				switch(el.target.name){
                case 'search':
                    var data = searchForm.getData();
                    console.log('data');
                    console.log(data);
                    var param ={
                        brRq : 'IN_PSET'
                        ,brRs : 'OUT_RSET'
                        ,IN_PSET :  [ data ]
                    }
                
                    grid.loadData('BR_FX_retrieveTmpBinanceHoga', param, function(data) {
                        if (data) {
                        }
                    });
                    
                    break;               
                }
				
			});
			searchForm.get("search").trigger("click");
	});	
});

</script>