
<script>
	$(document).ready(function(){
		var BINANCE_0120 = new PgmPageMngr('[[${uuid}]]');
		BINANCE_0120.init(function(p_param) {
			var _this = BINANCE_0120;
			var searchForm = new FormMngr(_this, "search_area");
			//value="BNBBTC"
			//searchForm.setData('SYMBOL','BNBBTC');

			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
                  ,header: {
                        height: 60,
                        complexColumns: [
                        {
                            header: '매수시점-단가',
                            name: 'mergeColumn1',
                            childNames: [
                                'BTN_UPBIT_SELL',
                            'FST_UPBIT_MARKET','FST_BINANCE_SYMBOL',
                            'FST_UPBIT_PRICE'
                            ,'FST_BINANCE_PRICE_KRW','FST_BINANCE_PRICE_USD'
                            ,'FST_GAP','FST_PER'
                            ]
                        } , {
                            header: '매수시점-총',
                            name: 'mergeColumn2',
                            childNames: ['FST_UPBIT_CNT' ,'FST_UPBIT_BID_FEE_AMT'
                            ,'FST_UPBIT_WITHDRAW_FEE_AMT','FST_UPBIT_SUM_AMT'
                            ,'FST_BINANCE_SUM_AMT' ,'FST_SUM_GAP'
                            ,'FST_SUM_PER'
                            ]
                        } ,{
                            header: '매도시점-단가',
                            name: 'mergeColumn3',
                            childNames: ['LST_UPBIT_MARKET','BTN_BINANCE_BUY','LST_BINANCE_SYMBOL',
                            ,'LST_BINANCE_PRICE_KRW','LST_BINANCE_PRICE_USD'
                            ,'LST_UPBIT_PRICE'
                            ,'LST_GAP','LST_PER'
                            ]
                        }  ,{
                            header: '매도시점-총',
                            name: 'mergeColumn4',
                            childNames: ['LST_BINANCE_CNT',
                            ,'LST_BINANCE_MAKER_COMMISSION_AMT','LST_BINANCE_WITHDRAW_FEE_AMT'
                            ,'LST_BINANCE_SUM_AMT','LST_UPBIT_SUM_AMT'
                            ,'LST_SUM_GAP','LST_SUM_PER'
                            ]
                        }   ,{
                            header: '총차액',
                            name: 'mergeColumn5',
                            childNames: ['FINAL_GAP','FINAL_PER'
                            ]
                        }                    
                        ]
                    }
				  }
			,[
					 {
                        header : 'UPBIT매도/매수',
                        name : 'BTN_UPBIT_SELL',
                        renderer : {
                            type: buttonRenderer,
                            options : {
                                txt : '매도/매수',
                                fn : function(el,data){
                                }
                            }
                        },
                        width : 90,
                        sortable : false,
                        align : "center"
                    },{
					   header: '코인',
					   name: 'FST_UPBIT_MARKET',
					   width: 80,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: '바이낸스',
					   name: 'FST_BINANCE_SYMBOL',
					   width: 80,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: '업비트',
					   name: 'FST_UPBIT_PRICE',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '바이낸스',
					   name: 'FST_BINANCE_PRICE_KRW',
					   width: 50,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '$바이낸스',
					   name: 'FST_BINANCE_PRICE_USD',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: 'GAP',
					   name: 'FST_GAP',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'FST_BINANCE_PRICE',
                                tgt : 'FST_UPBIT_PRICE'
                            }
                        },
					   sortingType: 'desc'
					},{
					   header: 'PER',
					   name: 'FST_PER',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'FST_BINANCE_PRICE',
                                tgt : 'FST_UPBIT_PRICE'
                            }
                        },
					},{
					   header: '수량',
					   name: 'FST_UPBIT_CNT',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '수수료',
					   name: 'FST_UPBIT_BID_FEE_AMT',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '출금',
					   name: 'FST_UPBIT_WITHDRAW_FEE_AMT',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '총매수',
					   name: 'FST_UPBIT_SUM_AMT',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '총매도',
					   name: 'FST_BINANCE_SUM_AMT',
					   width: 80,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: 'GAP',
					   name: 'FST_SUM_GAP',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'FST_BINANCE_SUM_AMT',
                                tgt : 'FST_UPBIT_SUM_AMT'
                            }
                        },
					},{
					   header: 'PER',
					   name: 'FST_SUM_PER',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'FST_BINANCE_SUM_AMT',
                                tgt : 'FST_UPBIT_SUM_AMT'
                            }
                        },
					},{
					   header: '업비트',
					   name: 'LST_UPBIT_MARKET',
					   width: 80,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
                        header : '(B)매수',
                        name : 'BTN_BINANCE_BUY',
                        renderer : {
                            type: buttonRenderer,
                            options : {
                                txt : '(B)매수',
                                fn : function(el,data){
                                }
                            }
                        },
                        width : 90,
                        sortable : false,
                        align : "center"
                    },{
					   header: '바이낸스',
					   name: 'LST_BINANCE_SYMBOL',
					   width: 80,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: '바이낸스',
					   name: 'LST_BINANCE_PRICE_KRW',
					   width: 50,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '$바이낸스',
					   name: 'LST_BINANCE_PRICE_USD',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '업비트',
					   name: 'LST_UPBIT_PRICE',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: 'GAP',
					   name: 'LST_GAP',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'LST_BINANCE_PRICE_KRW',
                                tgt : 'LST_UPBIT_PRICE'
                            }
                        },
					   sortingType: 'desc'
					},{
					   header: 'PER',
					   name: 'LST_PER',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                       renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'LST_BINANCE_PRICE_KRW',
                                tgt : 'LST_UPBIT_PRICE'
                            }
                        },
					},{
					   header: '수량',
					   name: 'LST_BINANCE_CNT',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '수수료',
					   name: 'LST_BINANCE_MAKER_COMMISSION_AMT',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '출금',
					   name: 'LST_BINANCE_WITHDRAW_FEE_AMT',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '총매수',
					   name: 'LST_BINANCE_SUM_AMT',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: '총매도',
					   name: 'LST_UPBIT_SUM_AMT',
					   width: 60,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaRenderer
                        },
					},{
					   header: 'GAP',
					   name: 'LST_SUM_GAP',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'LST_BINANCE_SUM_AMT',
                                tgt : 'LST_UPBIT_SUM_AMT'
                            }
                        },
                    },{
					   header: 'PER',
					   name: 'LST_SUM_PER',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'LST_BINANCE_SUM_AMT',
                                tgt : 'LST_UPBIT_SUM_AMT'
                            }
                        },
					},{
					   header: 'GAP',
					   name: 'FINAL_GAP',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'FST_UPBIT_SUM_AMT',
                                tgt : 'LST_UPBIT_SUM_AMT'
                            }
                        },
					},{
					   header: 'PER',
					   name: 'FINAL_PER',
					   width: 40,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
                        renderer : {
                            type: commaStRenderer,
                            options : {
                                src : 'FST_UPBIT_SUM_AMT',
                                tgt : 'LST_UPBIT_SUM_AMT'
                            }
                        },
					},{
                        header : '생성일',
                        name : 'CRT_DTM',
                        renderer : {
                            type : datetimeRenderer,
                            options : {
                                format : 'yyyy-MM-DD HH:mm' /*YYYYMMDDHHmmss    이게 풀양식이다.*/
                                ,source : 'YYYYMMDDHHmmss' /*TIME 초, YYYYMMDD , YYYYMMDDHHmm,  YYYYMMDDHHmmss  */
                            }
                        },
                        width : 100,
                        sortable : false,
                        align : "center"
                    },{
                        header : 'ERR',
                        name : 'ERR',
                        width : 40,
                        sortable : false,
                        align : "right"
                    }
				]
			);
			grid.build();

            grid.on('click', (ev) => {
                if (ev.rowKey >=0) {
                    if(ev.columnName=="BTN_UPBIT_SELL"){
                        var row_data=grid.getRow(ev.rowKey);
                        console.log(row_data);

                        var param = {
                            MARKET: row_data.FST_UPBIT_MARKET
                        }
                        var popup = new PopupManger(_this, 'UPBIT_0215', {
                                width: 1100,
                                height: 700,
                                title: "업비트주문가능정보["+row_data.MARKET+"]"
                            },
                            param
                        );
                        popup.open(function (data) {
                            if (data) {

                            }
                        });
                    }	

                    if(ev.columnName=="BTN_BINANCE_BUY"){
                        var row_data=grid.getRow(ev.rowKey);
                        console.log(row_data);

                        var tmp =row_data.LST_BINANCE_SYMBOL;

                        var param = {
                            SYMBOL: tmp
                        }
                        var popup = new PopupManger(_this, 'FX_0150', {
                                width: 1600,
                                height: 760,
                                title: "바이낸스주문-매수["+tmp+"]"
                            },
                            param
                        );
                        popup.open(function (data) {
                            if (data) {

                            }
                        });
                    }	
                    
                    
                }
            });
		
			searchForm.addEvent("click","input[type=button]",function(el){
			//console.log(el);
				switch(el.target.name){
                case 'search':
                    var data = searchForm.getData();
                    console.log('data');
                    console.log(data);
                    var param ={
                        brRq : 'IN_PSET'
                        ,brRs : 'OUT_RSET'
                        ,IN_PSET: [ data ]
                    }
                
                    grid.loadData('BR_FX_UPBIT_retrieveTmpUpbitTOBinanceHoga', param, function(data) {
                        if (data) {
                        }
                    });
                    
                    break;
                case 'sync':
                    Message.confirm('싱크하시겠습니까?', function() {
                        _this.showProgress();
                        var param = {
                            brRq : '',
                            brRs : ''
                        }
                        _this.send_api('BR_FX_TMP_calculate', param, function(data) {
                            _this.hideProgress();
                            Message.alert('싱크되었습니다.', function() {
                                searchForm.get("search").trigger("click");
                            });
                        });                    
                    });                    
                    break;
                case 'excel':
                    Message.confirm('엑셀다운로드 하시겠습니까?', function() {
                        grid.serverExcelDownload('KRW업비트TO바이낸스', function() {
                            Message.alert('엑셀다운로드 되었습니다.', function() {
                                //searchForm.get("search").trigger("click");
                            });
                        });                 
                    });                    
                    break;

                    
				}
			});
			searchForm.get("search").trigger("click");
	});	
});

</script>