<div name="search_area">
<pre class="tal lh12">
<h3>Asset Dividend Record (USER_DATA)</h3>
GET /sapi/v1/asset/assetDividend (HMAC SHA256)
Query asset dividend record.
<b>Weight(IP):</b>  10
</pre> 
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ASSET</span> 
          <input type="text" class="form-control" data-ax-path="ASSET"  name="ASSET" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">START_TIME</span> 
          <input type="text" class="form-control" data-ax-path="START_TIME"  name="START_TIME" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">END_TIME</span> 
          <input type="text" class="form-control" data-ax-path="END_TIME"  name="END_TIME" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">LIMIT</span> 
          <input type="text" class="form-control" data-ax-path="LIMIT"  name="LIMIT" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
<div name="grid_transfer"></div>