' '
<script>
	$(document).ready(function(){
		var BINANCE_0110 = new PgmPageMngr('[[${uuid}]]');
		BINANCE_0110.init(function(p_param) {
			var _this = BINANCE_0110;
			var searchForm = new FormMngr(_this, "search_area");
			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  /*
				  ,bodyHeight : 700
				  ,width : 700
				  */
				   /*,useClientSort: false   서버정렬 이걸로 안됨.  tui_grid_mngr에서  이벤트에서 beforeSort를 사용해서 서버쪽 호출을 하도록 하자*/
				  }
			,[
					{
					   header: 'COIN',
					   name: 'COIN',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc',
					   filter : {
							type : 'text',
							showApplyBtn : true,
							showClearBtn : true
						} /*text, number, select, date 4가지가 있다.*/
					},{
					   header: 'DEPOSIT_ALL_ENABLE',
					   name: 'DEPOSIT_ALL_ENABLE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'FREE',
					   name: 'FREE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'FREEZE',
					   name: 'FREEZE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'IPOABLE',
					   name: 'IPOABLE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'IPOING',
					   name: 'IPOING',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'IS_LEGAL_MONEY',
					   name: 'IS_LEGAL_MONEY',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'LOCKED',
					   name: 'LOCKED',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'NAME',
					   name: 'NAME',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'STORAGE',
					   name: 'STORAGE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'TRADING',
					   name: 'TRADING',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'WITHDRAW_ALL_ENABLE',
					   name: 'WITHDRAW_ALL_ENABLE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'WITHDRAWING',
					   name: 'WITHDRAWING',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'NETWORK_CNT',
					   name: 'NETWORK_CNT',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
		  	grid.build();			
			  grid.on('click', (ev) => {
				if (ev.rowKey >=0) {				
					if(ev.columnName=='COIN'){
						var row_data=grid.getRow(ev.rowKey);
						console.log(row_data);												
						var param = {
								COIN : row_data["COIN"]
						}
						var popup = new PopupManger(_this, 'BINANCE_0111', {
                            width: 1500,
                            heght: 700
                            },
                            param
						);
						popup.open(function(data){
							if(data){

							}
						});
					}
				}
			});


			searchForm.addEvent("click","input[type=button]",function(el){
			//console.log(el);
				switch(el.target.name){
                case 'search':
                    var data = searchForm.getData();
                    var param ={
                            brRq : ''
                        ,brRs : 'OUT_RSET'
                    }
                    grid.loadData('BR_BINANCE_WALLET_retrieveCoin',param,function(data){
                        console.log(data);
                    });
                    break;
                case 'sync':
                    Message.confirm('싱크하시겠습니까?', function() {
                        _this.showProgress();
                        var param = {
                            brRq : '',
                            brRs : ''
                        }
                        _this.send_api('BR_BINANCE_WALLET_syncAllCoinsInformation', param, function(data) {
                            _this.hideProgress();
                            Message.alert('싱크되었습니다.', function() {
                                searchForm.get("search").trigger("click");
                            });
                        });                    
                    });                    
                    break;
				}
			});
			searchForm.get("search").trigger("click");
	});	
});

</script>