<div name="search_area">
<pre class="tal lh12">
<h3>Deposit Address (supporting network) (USER_DATA)</h3>
GET /sapi/v1/capital/deposit/address (HMAC SHA256)
Fetch deposit address with network.
<b>Weight(IP):</b>  10
</pre> 
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">COIN</span> 
          <input type="text" class="form-control" data-ax-path="COIN"  name="COIN" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">NETWORK</span> 
          <input type="text" class="form-control" data-ax-path="NETWORK"  name="NETWORK" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>