
<script>
	$(document).ready(function(){
		var BINANCE_0140 = new PgmPageMngr('[[${uuid}]]');
		BINANCE_0140.init(function(p_param) {
			var _this = BINANCE_0140;
			var withdrawForm = new FormMngr(_this, "withdraw_area");
			$('[data-ax5formatter]').ax5formatter();
				
			
			withdrawForm.addEvent("click","input[type=button]",function(el){
			//console.log(el);
			switch(el.target.name){
			case 'withdraw':
				var data = withdrawForm.getData();
				console.log(data);
	
				var param ={
					 brRq : 'IN_PSET',
					 brRs : 'OUT_RSET',
					 IN_PSET : [ data ]
				}

				_this.showProgress();
				_this.send('BR_BINANCE_WALLET_POST_SAPI_V1_Withdraw', param, function(data) {
					_this.hideProgress();
					if (data) {
						console.log(data);
					}
				});
				break;			
				}
			});
	});	
});

</script>