<div name="search_area">
<pre class="tal lh12">
<h3>Query User Universal Transfer History (USER_DATA)</h3>
GET /sapi/v1/asset/transfer (HMAC SHA256)
<b>Weight(IP):</b>  1
</pre>  
<hr>
<pre class="tal lh12">
  <ul>
    <li>fromSymbol must be sent when type are ISOLATEDMARGIN_MARGIN and ISOLATEDMARGIN_ISOLATEDMARGIN</li>
    <li>toSymbol must be sent when type are MARGIN_ISOLATEDMARGIN and ISOLATEDMARGIN_ISOLATEDMARGIN</li>
  </ul>
</pre>
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">TYPE</span> 
          <select class="form-control" data-ax-path="TYPE"  name="TYPE" style="width:140px;"></select>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">START_TIME</span> 
          <input type="text" class="form-control" data-ax-path="START_TIME"  name="START_TIME" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">END_TIME</span> 
          <input type="text" class="form-control" data-ax-path="END_TIME"  name="END_TIME" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">CURRENT</span> 
          <input type="text" class="form-control" data-ax-path="CURRENT"  name="CURRENT" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">SIZE</span> 
          <input type="text" class="form-control" data-ax-path="SIZE"  name="SIZE" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">FROM_SYMBOL</span> 
          <input type="text" class="form-control" data-ax-path="FROM_SYMBOL"  name="FROM_SYMBOL" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">TO_SYMBOL</span> 
          <input type="text" class="form-control" data-ax-path="TO_SYMBOL"  name="TO_SYMBOL" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="transfer" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>