
<script>
	$(document).ready(function(){
		var BINANCE_0155 = new PgmPageMngr('[[${uuid}]]');
		BINANCE_0155.init(function(p_param) {
			var _this = BINANCE_0155;
			var searchForm = new FormMngr(_this, "search_area");
			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  /*
				  ,bodyHeight : 700
				  ,width : 700
				  */
				   /*,useClientSort: false   서버정렬 이걸로 안됨.  tui_grid_mngr에서  이벤트에서 beforeSort를 사용해서 서버쪽 호출을 하도록 하자*/
				  }
			,[
					{
					   header: 'ADDRESS',
					   name: 'ADDRESS',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'				
					},{
					   header: 'COIN',
					   name: 'COIN',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'TAG',
					   name: 'TAG',
					   width: 150,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'URL',
					   name: 'URL',
					   width: 150,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
		  	grid.build();
			
			searchForm.addEvent("click","input[type=button]",function(el){
			//console.log(el);
			switch(el.target.name){
			case 'search':
				var data = searchForm.getData();
				var param ={
					 brRq : 'IN_PSET'
					,brRs : 'OUT_RSET'
                    ,IN_PSET : [data]
				}

				_this.showProgress();
				_this.send_api('BR_BINANCE_WALLET_GET_SAPI_V1_DepositAddress', param, function(data) {
					_this.hideProgress();
					if (data) {
									
						console.log(data);
								
						grid.resetData(data.OUT_RSET);
					}
				});
				break;
				}
			});
			searchForm.get("search").trigger("click");
	});	
});

</script>