<div name="search_area">
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">COIN</span> 
          <input type="text" class="form-control" data-ax-path="COIN"  name="COIN" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">NETWORK</span> 
          <input type="text" class="form-control" data-ax-path="NETWORK"  name="NETWORK" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>