
<script>
	$(document).ready(function(){
		var BINANCE_0190 = new PgmPageMngr('[[${uuid}]]');
		BINANCE_0190.init(function(p_param) {
			var _this = BINANCE_0190;
			var searchForm = new FormMngr(_this, "search_area");
			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
				  }
			,[
					{
					   header: 'ASSET',
					   name: 'ASSET',
					   width: 200,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'				
					},{
					   header: 'FREE',
					   name: 'FREE',
					   width: 200,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'				
					},{
					   header: 'LOCKED',
					   name: 'LOCKED',
					   width: 200,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'				
					},{
					   header: 'FREEZE',
					   name: 'FREEZE',
					   width: 200,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'				
					},{
					   header: 'WITHDRAWING',
					   name: 'WITHDRAWING',
					   width: 200,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'				
					},{
					   header: 'BTC_VALUATION',
					   name: 'BTC_VALUATION',
					   width: 200,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'				
					}
				]
			);
		  	grid.build();

			searchForm.addEvent("click","input[type=button]",function(el){
			//console.log(el);
			switch(el.target.name){
			case 'transfer':
				var data = searchForm.getData();
				var param ={
					 brRq : 'IN_PSET'
					,brRs : 'OUT_RSET'
					,IN_PSET : [ data ]
				}

				_this.showProgress();
				_this.send_api('BR_BINANCE_WALLET_POST_SAPI_V1_FundingWallet', param, function(data) {
					_this.hideProgress();
					if (data) {
									
						console.log(data);
								
						grid.resetData(data.OUT_RSET);
					}
				});
				break;
				}
			});
	});	
});

</script>