<div name="search_area">
<pre class="tal lh12">
<h3>Trade Fee (USER_DATA)</h3>
GET /sapi/v1/asset/tradeFee (HMAC SHA256)
Fetch trade fee
<b>Weight(IP):</b>  1
</pre>  
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">SYMBOL</span> 
          <input type="text" class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
<div name="grid_transfer"></div>