<div name="search_area">
<pre class="tal lh12">
<h3>Asset Detail (USER_DATA)</h3>
GET /sapi/v1/asset/assetDetail (HMAC SHA256)
Fetch details of assets supported on Binance.
<b>Weight(IP):</b>  1
</pre>  
<hr>
<pre class="tal lh12">
Please get network and other deposit or withdraw details from GET /sapi/v1/capital/config/getall.
</pre>
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ASSET</span> 
          <input type="text" class="form-control" data-ax-path="ASSET"  name="ASSET" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
<div name="grid_transfer"></div>