<div name="search_area">
<pre class="tal lh12">
<h3>Deposit History(supporting network) (USER_DATA)</h3>
GET /sapi/v1/capital/deposit/hisrec (HMAC SHA256)
Fetch deposit history.
<b>Weight(IP):</b>  1
</pre>  
<hr>
<pre class="tal lh12">
<ul>
  <li>Please notice the default startTime and endTime to make sure that time interval is within 0-90 days.</li>
  <li>If both startTime and endTime are sent, time between startTime and endTime must be less than 90 days.</li> 
</ul>
</pre>  
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">COIN</span> 
          <input type="text" class="form-control" data-ax-path="COIN"  name="COIN" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">STATUS</span> 
          <input type="text" class="form-control" data-ax-path="STATUS"  name="STATUS" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">START_TIME</span> 
          <input type="text" class="form-control" data-ax-path="START_TIME"  name="START_TIME" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">END_TIME</span> 
          <input type="text" class="form-control" data-ax-path="END_TIME"  name="END_TIME" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">OFFSET</span> 
          <input type="text" class="form-control" data-ax-path="OFFSET"  name="OFFSET" style="width:140px;" />
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">LIMIT</span> 
          <input type="text" class="form-control" data-ax-path="LIMIT"  name="LIMIT" style="width:140px;" />
        </div>
      </div>
    </td>
    <td><input type="button" name="search" value="조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>