<div name="send_area">
    <pre class="tal lh12">
    <h3>Account Trade List (USER_DATA)</h3>
    GET /api/v3/myTrades (HMAC SHA256)
    Get trades for a specific account and symbol.
    <b>Weight(IP):</b> 10
    </pre>
    <table>
    <tr>    
    <td>
        <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon">SYMBOL</span> 
            <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  required />     
            </div>
        </div>
    </td>
    <td>
    <div class="form-group">
        <div class="input-group">
        <span class="input-group-addon">FROM_ID</span> 
        <input class="form-control" data-ax-path="FROM_ID"  name="FROM_ID" style="width:140px;"  required />     
        </div>
    </div>
    </td>
    <td>
    <div class="form-group">
        <div class="input-group">
        <span class="input-group-addon">START_TIME</span> 
        <input class="form-control" data-ax-path="START_TIME"  name="START_TIME" style="width:140px;"  required />          
        </div>
    </div>
    </td>   
    <td>
    <div class="form-group">
        <div class="input-group">
        <span class="input-group-addon">END_TIME</span> 
        <input class="form-control" data-ax-path="END_TIME"  name="END_TIME" style="width:140px;"  required />          
        </div>
    </div>
    </td>   
    <td>
    <div class="form-group">
        <div class="input-group">
        <span class="input-group-addon">LIMIT</span> 
        <input class="form-control" data-ax-path="LIMIT"  name="LIMIT" style="width:140px;"  required />          
        </div>
    </div>
    </td>   
    <td><input type="button" name="account_search" value="계좌정보" /></td>
    </tr>
    </table>
  
</div>
<div name="grid"></div>
