
<script>
	$(document).ready(function(){
		var BINANCE_0310 = new PgmPageMngr('[[${uuid}]]');
		BINANCE_0310.init(function(p_param) {
			var _this = BINANCE_0310;
			var sendForm = new FormMngr(_this, "send_area");
			sendForm.initCombo("TYPE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'BINANCE_TYPE_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });
			sendForm.initCombo("SIDE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'BINANCE_SIDE_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });
			sendForm.initCombo("TIME_IN_FORCE",'BR_CM_CD_FIND', {brRq: 'IN_DATA',brRs: 'OUT_DATA',IN_DATA: [{  GRP_CD : 'BINANCE_TIME_IN_FORCE_CD', USE_YN: 'Y'}]},{ USE_EMPTY_YN : 'N' , VALUE :'CD' , TEXT :'CD_NM' });
			
			//value="BNBBTC"
			sendForm.setData('SYMBOL','BNBBTC');
			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
                  ,bodyHeight : 140		
                  ,visibleTotalCnt:false	  
				  }
			,[
			{
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ORDER_ID',
					   name: 'ORDER_ID',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ORDER_LIST_ID',
					   name: 'ORDER_LIST_ID',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'CLIENT_ORDER_ID',
					   name: 'CLIENT_ORDER_ID',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'TRANSACT_TIME',
					   name: 'TRANSACT_TIME',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'PRICE',
					   name: 'PRICE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ORIG_QTY',
					   name: 'ORIG_QTY',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'EXECUTED_QTY',
					   name: 'EXECUTED_QTY',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'CUMMULATIVE_QUOTE_QTY',
					   name: 'CUMMULATIVE_QUOTE_QTY',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'STATUS',
					   name: 'STATUS',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'TIME_IN_FORCE',
					   name: 'TIME_IN_FORCE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'TYPE',
					   name: 'TYPE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'SIDE',
					   name: 'SIDE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
			grid.build();


			const grid_fills = new TuiGridMngr(_this,'grid_fills',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
                  ,bodyHeight : 140	
                  ,visibleTotalCnt:false		  
				  }
			,[
			{
					   header: 'SYMBOL',
					   name: 'SYMBOL',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'PRICE',
					   name: 'PRICE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'QTY',
					   name: 'QTY',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'COMMISSION',
					   name: 'COMMISSION',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'COMMISSION_ASSET',
					   name: 'COMMISSION_ASSET',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
			grid_fills.build();
		
			sendForm.addEvent("click","input[type=button]",function(el){

				if(!sendForm.isValid()){
						return;
				}

				//console.log(el);
				switch(el.target.name){
				case 'new_order':
					var data = sendForm.getData();
					console.log('data');
					console.log(data);
					var param ={
						brRq : 'IN_PSET'
						,brRs : 'OUT_RSET,OUT_RSET_FILLS'
						,IN_PSET: [data]
					}
					_this.showProgress();
					_this.send_socket('BR_SPOT_ACCOUNT_TRADE_POST_API_V3_NewOrder', param, function(data) {
						_this.hideProgress();
						if (data) {
							var row_data = data.OUT_RSET;
							console.log(data);
							grid.resetData(data.OUT_RSET);
							grid_fills.resetData(data.OUT_RSET_FILLS);
						} 
					
					});
				}
			});
	});	
});

</script>