<div name="send_area">
<pre class="tal lh12">
<h3>Query Order (USER_DATA)</h3>
DELETE /api/v3/openOrders
GET /api/v3/order (HMAC SHA256)
Check an order's status.
<b>Weight(IP):</b> 2
</pre>
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">SYMBOL</span> 
          <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ORDER_ID</span> 
          <input class="form-control" data-ax-path="ORDER_ID"  name="ORDER_ID" style="width:140px;"  />          
        </div>
      </div>
    </td>   
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ORIG_CLIENT_ORDER_ID</span> 
          <input class="form-control" data-ax-path="ORIG_CLIENT_ORDER_ID"  name="ORIG_CLIENT_ORDER_ID" style="width:140px;"  />          
        </div>
      </div>
    </td>    
    <td><input type="button" name="query_order" value="주문상태" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>


