<div name="send_area">
<pre class="tal lh12">
<h3>Query OCO (USER_DATA)</h3>
GET /api/v3/orderList (HMAC SHA256)
Retrieves a specific OCO based on provided optional parameters
<b>Weight(IP):</b> 2
</pre>
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ORDER_LIST_ID</span> 
          <input class="form-control" data-ax-path="ORDER_LIST_ID"  name="ORDER_LIST_ID" style="width:140px;"  required />     
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ORIG_CLIENT_ORDER_ID</span> 
          <input class="form-control" data-ax-path="ORIG_CLIENT_ORDER_ID"  name="ORIG_CLIENT_ORDER_ID" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
    <td><input type="button" name="oco_search" value="OCO 조회" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
<div name="grid_orders"></div>
