<div name="send_area">
<pre class="tal lh12">
<h3>New OCO (TRADE)</h3>
POST /api/v3/order/oco (HMAC SHA256)
Send in a new OCO
<b>Weight(IP):</b> 1
</pre>
<hr>
<div class="tal">
  Other Info:
  <ul>
    <li>Price Restrictions:</li>
      <ol>
        <li>Limit Price > Last Price > Stop Price</li>
        <li>BUY: Limit Price < Last Price < Stop Price</li>
      </ol>     
    <li>Quantity Restrictions:</li>
      <ol>
        <li>Both legs must have the same quantity</li>
        <li>ICEBERG quantities however do not have to be the same.</li>
      </ol>

    <li>Order Rate Limit</li>
    <ol>
      <li>OCO counts as 2 orders against the order rate limit.</li>
      <li>Data Source: Matching Engine</li>
    </ol>
  </ul>
</div>

</pre>
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">SYMBOL</span> 
          <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">LIST_CLIENT_ORDER_ID</span> 
          <input class="form-control" data-ax-path="LIST_CLIENT_ORDER_ID"  name="LIST_CLIENT_ORDER_ID" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">SIDE(ENUM)</span> 
          <select class="form-control" data-ax-path="SIDE"  name="SIDE" style="width:140px;">
          </select>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">QUANTITY</span> 
          <input class="form-control" data-ax-path="QUANTITY"  name="QUANTITY" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
</tr>
<tr>
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">LIMIT_CLIENT_ORDER_ID</span> 
          <input class="form-control" data-ax-path="LIMIT_CLIENT_ORDER_ID"  name="LIMIT_CLIENT_ORDER_ID" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">PRICE</span> 
          <input class="form-control" data-ax-path="PRICE"  name="PRICE" style="width:140px;"  required />          
        </div>
      </div>
    </td>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">LIMIT_ICEBERG_QTY</span> 
          <input class="form-control" data-ax-path="LIMIT_ICEBERG_QTY"  name="LIMIT_ICEBERG_QTY" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">STOP_CLIENT_ORDER_ID</span> 
          <input class="form-control" data-ax-path="STOP_CLIENT_ORDER_ID"  name="STOP_CLIENT_ORDER_ID" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
</tr>
<tr>      
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">STOP_PRICE</span> 
          <input class="form-control" data-ax-path="STOP_PRICE"  name="STOP_PRICE" style="width:140px;"  required />          
        </div>
      </div>
    </td>     
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">STOP_LIMIT_PRICE</span> 
          <input class="form-control" data-ax-path="STOP_LIMIT_PRICE"  name="STOP_LIMIT_PRICE" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">STOP_ICEBERG_QTY</span> 
          <input class="form-control" data-ax-path="STOP_ICEBERG_QTY"  name="STOP_ICEBERG_QTY" style="width:140px;"  required />          
        </div>
      </div>
    </td>   
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">STOP_LIMIT_TIME_IN_FORCE(ENUM)</span> 
          <select class="form-control" data-ax-path="STOP_LIMIT_TIME_IN_FORCE"  name="STOP_LIMIT_TIME_IN_FORCE" style="width:140px;">
          </select> 
        </div>
      </div>
    </td>
    <td><input type="button" name="new_oco_send" value="OCO신규주문" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
<div name="grid_orders"></div>
<div name="grid_order_reports"></div>


