<div name="send_area">
  <table>
  <tr>    
    <td>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">SYMBOL</span> 
          <input class="form-control" data-ax-path="SYMBOL"  name="SYMBOL" style="width:140px;"  />          
        </div>
      </div>
    </td>    
    <td><input type="button" name="CancelAllOPenOrderOnSymbol" value="미체결주문취소" /></td>
  </tr>
  </table>
</div>
<div name="grid"></div>
<div name="grid_order_list_id"></div>
<div name="grid_order_list_id_order"></div>
<div name="grid_order_list_id_order_reports"></div>



