
<script>
	$(document).ready(function(){
		var BINANCE_0370 = new PgmPageMngr('[[${uuid}]]');
		BINANCE_0370.init(function(p_param) {
			var _this = BINANCE_0370;
			var searchForm = new FormMngr(_this, "search_area");
			const grid = new TuiGridMngr(_this,'grid',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
                  ,bodyHeight: 100 
                  ,visibleTotalCnt:false
				  }
			,[
			{
					   header: 'MAKER_COMMISSION',
					   name: 'MAKER_COMMISSION',
					   width: 130,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'TAKER_COMMISSION',
					   name: 'TAKER_COMMISSION',
					   width: 130,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'BUYER_COMMISSION',
					   name: 'BUYER_COMMISSION',
					   width: 130,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'SELLER_COMMISSION',
					   name: 'SELLER_COMMISSION',
					   width: 130,
					   align : 'right',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'CAN_TRADE',
					   name: 'CAN_TRADE',
					   width: 80,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'CAN_WITHDRAW',
					   name: 'CAN_WITHDRAW',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'CAN_DEPOSIT',
					   name: 'CAN_DEPOSIT',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'UPDATE_TIME',
					   name: 'UPDATE_TIME',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					},{
					   header: 'ACCOUNT_TYPE',
					   name: 'ACCOUNT_TYPE',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc'
					}
				]
			);
			grid.build();

            
			const grid_permissions = new TuiGridMngr(_this,'grid_permissions',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
                  ,bodyHeight: 100 
                  ,visibleTotalCnt:false
				  }
			,[
			{
					   header: 'TYPE',
					   name: 'TYPE',
					   width: 80,
					   align : 'center',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc'
					}				
				]
			);
			grid_permissions.build();


			const grid_balances = new TuiGridMngr(_this,'grid_balances',{
				  editable: false
				  ,showRowStatus: false
				  ,rowNum: true
				  ,checkbox: false
				  ,pageable: false
                  ,visibleTotalCnt:false
                  ,bodyHeight: 300 
				  }
			,[
                    {
                        header : '(B)매도/매수',
                        name : 'BTN_BINANCE_SELL',
                        renderer : {
                            type: buttonRenderer,
                            options : {
                                txt : '매도/매수',
                                fn : function(el,data){
                                }
                            }
                        },
                        width : 90,
                        sortable : false,
                        align : "center"
                    },{
                        header : '(B)출금',
                        name : 'BTN_BINACE_WITHDRAW',
                        renderer : {
                            type: buttonRenderer,
                            options : {
                                txt : '출금',
                                fn : function(el,data){
                                }
                            }
                        },
                        width : 90,
                        sortable : false,
                        align : "center"
                    },{
					   header: 'ASSET',
					   name: 'ASSET',
					   width: 100,
					   align : 'center',
					   sortable : false,
					   resizable: true,
					   sortingType: 'desc',
					   filter : {
							type : 'text',
							showApplyBtn : true,
							showClearBtn : true
						} /*text, number, select, date 4가지가 있다.*/
					},{
					   header: 'FREE',
					   name: 'FREE',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc',
					   filter : {
							type : 'text',
							showApplyBtn : true,
							showClearBtn : true
						} /*text, number, select, date 4가지가 있다.*/
					},{
					   header: 'LOCKED',
					   name: 'LOCKED',
					   width: 100,
					   align : 'left',
					   sortable : true,
					   resizable: true,
					   sortingType: 'desc',
					   filter : {
							type : 'text',
							showApplyBtn : true,
							showClearBtn : true
						} /*text, number, select, date 4가지가 있다.*/
					}				
				]
			);
			grid_balances.build();

            
            grid_balances.on('click', (ev) => {
                if (ev.rowKey >=0) {
                    if(ev.columnName=="BTN_BINANCE_SELL"){
                        var row_data=grid_balances.getRow(ev.rowKey);
                        console.log(row_data);
                        var tmp = row_data.ASSET+"USDT";
                        var param = {
                            SYMBOL: tmp
                        }
                        var popup = new PopupManger(_this, 'FX_0150', {
                                width: 1600,
                                height: 760,
                                title: "바이낸스주문가능정보["+tmp+"]"
                            },
                            param
                        );
                        popup.open(function (data) {
                            if (data) {

                            }
                        });
                    }		
                }
            });


		
			searchForm.addEvent("click","input[type=button]",function(el){
				//console.log(el);
				switch(el.target.name){
				case 'search':
					var data = searchForm.getData();
					console.log('data');
					console.log(data);
					var param ={
						brRq : 'IN_PSET'
						,brRs : 'OUT_RSET,OUT_RSET_BALANCES,OUT_RSET_PERMISSIONS'
						,IN_PSET: [data]
					}
					_this.showProgress();
					_this.send_socket('BR_SPOT_ACCOUNT_TRADE_GET_API_V3_AccountInformation', param, function(data) {
						_this.hideProgress();
						if (data) {
							var row_data = data.OUT_RSET;
							console.log(data);
							grid.resetData(data.OUT_RSET);
							grid_balances.resetData(data.OUT_RSET_BALANCES);
							grid_permissions.resetData(data.OUT_RSET_PERMISSIONS);
						} 
					
					});
				}
			});

            searchForm.get("search").trigger("click");
	});	
});

</script>